/* line 5, scss/nurani_bundle_ui.scss */
.clone-bundle {
  width: 79em;
  margin-bottom: 1em;
}
/* line 10, scss/nurani_bundle_ui.scss */
.clone-bundle .inner {
  padding: 1em;
}
/* line 14, scss/nurani_bundle_ui.scss */
.clone-bundle .form-type-select {
  display: inline-block;
  margin: 0;
}
/* line 17, scss/nurani_bundle_ui.scss */
.clone-bundle .form-type-select label, .clone-bundle .form-type-select select {
  display: inline-block;
}
/* line 22, scss/nurani_bundle_ui.scss */
.clone-bundle .form-submit {
  margin: 0;
  display: inline-block;
}

/* line 29, scss/nurani_bundle_ui.scss */
.passage-boxes > .inner {
  width: 79em;
}

/* line 34, scss/nurani_bundle_ui.scss */
.passage-box {
  float: left;
  width: 25em;
  margin-right: 2em;
}
/* line 39, scss/nurani_bundle_ui.scss */
.passage-box.third {
  margin-right: 0;
}

/* line 44, scss/nurani_bundle_ui.scss */
.passage-text {
  padding: 1em;
  min-height: 40.45085em;
  position: relative;
  z-index: 1;
}
/* line 51, scss/nurani_bundle_ui.scss */
.passage-text.empty {
  text-align: center;
}
/* line 54, scss/nurani_bundle_ui.scss */
.passage-text.empty > .form-submit {
  margin-top: 18.22543em;
}

/* line 60, scss/nurani_bundle_ui.scss */
.bib {
  padding: 2em 1em 1em 1em;
  margin-top: -1em;
}

/* line 69, scss/nurani_bundle_ui.scss */
.clone-bundle {
  background: #ffee66;
}

/* line 72, scss/nurani_bundle_ui.scss */
.passage-text {
  background: #fff;
}
/* line 74, scss/nurani_bundle_ui.scss */
.passage-text.empty {
  border: 2px dashed #444;
  border-radius: 1em;
}

/* line 79, scss/nurani_bundle_ui.scss */
.bib {
  background: #ddd;
}
