@charset "UTF-8";
/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/*dark colors*/
/* ================== */
/* = "soft buttons" = */
/* ================== */
/* =================== */
/* = toggle buttons = */
/* =================== */
/* ================ */
/* = icon buttons = */
/* ================ */
/*aapplied to list*/
/* line 8, ../scss/discussion.scss */
body.node-type-discussion {
  /* views-row is not a row, actually, just a div ... */
}
/* line 10, ../scss/discussion.scss */
body.node-type-discussion ul.menu li.first {
  background: url("../images/bkg_active_nav.png") -5px bottom transparent;
}
/* line 12, ../scss/discussion.scss */
body.node-type-discussion ul.menu li.first a {
  background: url("../images/d_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 19, ../scss/discussion.scss */
body.node-type-discussion div.view-header {
  display: none;
}
/* line 22, ../scss/discussion.scss */
body.node-type-discussion div#slash {
  margin: 30px 30px 0;
}
/* line 27, ../scss/discussion.scss */
body.node-type-discussion div#block-views-discussion_texts-block_1 {
  background: url("../images/borders.png") no-repeat center 7px;
  width: 900px;
  text-align: center;
}
/* line 32, ../scss/discussion.scss */
body.node-type-discussion div#block-views-discussion_texts-block_1 h3.block-title {
  background: white;
  padding: 0 20px;
  display: inline;
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 40, ../scss/discussion.scss */
body.node-type-discussion div#block-views-discussion_texts-block_1 .content {
  text-align: left;
  margin: 20px 0;
  height: 280px;
}
/* line 47, ../scss/discussion.scss */
body.node-type-discussion h1.title {
  display: block;
  margin: 20px 0;
  padding: 0;
}
/* line 55, ../scss/discussion.scss */
body.node-type-discussion div.views-row {
  margin: 10px 5px;
  float: left;
  width: 218px;
}
/* line 59, ../scss/discussion.scss */
body.node-type-discussion div.views-row div.buildmode-text_summary {
  width: 178px;
  background: #f1e9e4;
  border: 1px solid #ddd;
  color: #868080;
  float: left;
  padding: 0 10px;
  position: relative;
  min-height: 258px;
  line-height: 1em;
}
/* line 69, ../scss/discussion.scss */
body.node-type-discussion div.views-row div.buildmode-text_summary h1 {
  font-size: 23px;
  text-transform: inherit;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000;
}
/* line 79, ../scss/discussion.scss */
body.node-type-discussion div.views-row div.buildmode-text_summary .field-description {
  color: #303030;
}
/* line 83, ../scss/discussion.scss */
body.node-type-discussion div.views-row div.buildmode-text_summary .nd-region-footer a {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
  background-image: linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
  border: 1px solid #d3d3d3;
  float: right;
  padding: 3px 7px 0;
  color: gray;
  font-weight: normal;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  display: block;
  font-size: 0.9em;
  text-decoration: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 13px;
}
/* line 19, ../scss/_buttons.scss */
body.node-type-discussion div.views-row div.buildmode-text_summary .nd-region-footer a:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
  background-image: linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
}
/* line 23, ../scss/_buttons.scss */
body.node-type-discussion div.views-row div.buildmode-text_summary .nd-region-footer a:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #888888), color-stop(100%, #d5d5d5));
  background-image: -moz-linear-gradient(top, #888888 0%, #d5d5d5 100%);
  background-image: linear-gradient(top, #888888 0%, #d5d5d5 100%);
}
/* line 95, ../scss/discussion.scss */
body.node-type-discussion #boxes-box-discussion_info .field-label {
  border-bottom: 1px solid #ccc;
  margin: 20px 0 10px;
  color: #7c0000;
  font-family: Helvetica,arial,sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  padding-bottom: 3px;
  text-transform: uppercase;
}
/* line 107, ../scss/discussion.scss */
body.node-type-discussion ul.links li {
  padding: 0;
}
/* line 110, ../scss/discussion.scss */
body.node-type-discussion li.node_translation_ar a {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 100%);
  border: 1px solid #d3d3d3;
  float: right;
  padding: 3px 7px 0;
  color: gray;
  font-weight: normal;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  display: block;
  font-size: 0.9em;
  text-decoration: none;
  padding-left: 25px;
  text-decoration: none;
  margin: 0 2px 10px;
  width: 40px;
}
/* line 19, ../scss/_buttons.scss */
body.node-type-discussion li.node_translation_ar a:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 100%);
}
/* line 23, ../scss/_buttons.scss */
body.node-type-discussion li.node_translation_ar a:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 100%);
}
/* line 117, ../scss/discussion.scss */
body.node-type-discussion li.comment_edit a {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 100%);
  border: 1px solid #d3d3d3;
  float: right;
  padding: 3px 7px 0;
  color: gray;
  font-weight: normal;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  display: block;
  font-size: 0.9em;
  text-decoration: none;
  background: url("../images/icons/brown_dark/pen_alt_fill_16x16.png") no-repeat 5px center;
  padding-left: 25px;
  text-decoration: none;
  margin: 0 2px 10px;
  width: 40px;
}
/* line 19, ../scss/_buttons.scss */
body.node-type-discussion li.comment_edit a:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 100%);
}
/* line 23, ../scss/_buttons.scss */
body.node-type-discussion li.comment_edit a:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 100%);
}
/* line 125, ../scss/discussion.scss */
body.node-type-discussion li.comment_delete a {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
  background-image: linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
  border: 1px solid #d3d3d3;
  float: right;
  padding: 3px 7px 0;
  color: gray;
  font-weight: normal;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  display: block;
  font-size: 0.9em;
  text-decoration: none;
  background: url("../images/icons/brown_dark/x_alt_16x16.png") no-repeat 5px center;
  padding-left: 25px;
  text-decoration: none;
  margin: 0 2px 10px;
  width: 40px;
}
/* line 19, ../scss/_buttons.scss */
body.node-type-discussion li.comment_delete a:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
  background-image: linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
}
/* line 23, ../scss/_buttons.scss */
body.node-type-discussion li.comment_delete a:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #888888), color-stop(100%, #d5d5d5));
  background-image: -moz-linear-gradient(top, #888888 0%, #d5d5d5 100%);
  background-image: linear-gradient(top, #888888 0%, #d5d5d5 100%);
}
/* line 134, ../scss/discussion.scss */
body.node-type-discussion li.comment_reply a {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
  background-image: linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
  border: 1px solid #d3d3d3;
  float: right;
  padding: 3px 7px 0;
  color: gray;
  font-weight: normal;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  display: block;
  font-size: 0.9em;
  text-decoration: none;
  background: url("../images/icons/brown_dark/chat_16x16.png") no-repeat 5px center;
  padding-left: 25px;
  text-decoration: none;
  margin: 0 2px 10px;
  width: 40px;
}
/* line 19, ../scss/_buttons.scss */
body.node-type-discussion li.comment_reply a:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
  background-image: linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
}
/* line 23, ../scss/_buttons.scss */
body.node-type-discussion li.comment_reply a:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #888888), color-stop(100%, #d5d5d5));
  background-image: -moz-linear-gradient(top, #888888 0%, #d5d5d5 100%);
  background-image: linear-gradient(top, #888888 0%, #d5d5d5 100%);
}
/* line 143, ../scss/discussion.scss */
body.node-type-discussion #block-views-nuranis-block_2 h3.block-title,
body.node-type-discussion #block-boxes-discussion_info h3.block-title {
  color: #7c0000;
  font-family: Helvetica, arial,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  border-bottom: 1px solid #7c0000;
  padding-bottom: 4px;
}
/* line 152, ../scss/discussion.scss */
body.node-type-discussion #boxes-box-discussion_info a {
  padding-bottom: 8px;
  font-weight: normal;
  display: block;
}
/* line 157, ../scss/discussion.scss */
body.node-type-discussion #container {
  background: url("../images/borders.png") no-repeat center top;
  text-align: center;
  position: relative;
  padding: 8px 0 0;
}
/* line 163, ../scss/discussion.scss */
body.node-type-discussion #container #main {
  position: static;
}
/* line 166, ../scss/discussion.scss */
body.node-type-discussion #container #content-inner {
  background: transparent;
}
/* line 170, ../scss/discussion.scss */
body.node-type-discussion #container #content-area div.field-label {
  position: absolute;
  top: -4px;
  padding: 0 20px;
  display: inline;
  background: white;
  text-transform: uppercase;
  font-size: 0.9em;
}
/* line 179, ../scss/discussion.scss */
body.node-type-discussion #container #content-area p {
  text-align: left;
}
/* line 183, ../scss/discussion.scss */
body.node-type-discussion #container #sidebar-second {
  text-align: left;
}
/* line 186, ../scss/discussion.scss */
body.node-type-discussion #container #comments {
  text-align: left;
}
