/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/*dark colors*/
/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/*dark colors*/
/* arabic fonts for scripture */
@font-face {
  font-family: 'UthmanTN';
  src: url("../fonts/UthmanTN1v9.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UthmanTNBold';
  src: url("../fonts/UthmanTN1Bv9.otf");
  font-weight: normal;
  font-style: normal;
}

/* line 20, ../scss/type.scss */
body.i18n-ar {
  font-family: UthmanTN, serif;
  font-size: 1.1em;
  line-height: 1.5em;
}
/* line 25, ../scss/type.scss */
body.i18n-ar h1, body.i18n-ar h2, body.i18n-ar h3, body.i18n-ar h4, body.i18n-ar h5, body.i18n-ar h6 {
  font-family: UthmanTN, serif;
}

/* line 56, ../scss/type.scss */
body {
  margin: 0;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 1.05em;
  line-height: 1.3em;
}

/* Titles. */
/* line 64, ../scss/type.scss */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 71, ../scss/type.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-weight: normal;
  font-family: Georgia, Times, Times New Roman, serif;
}

/* line 77, ../scss/type.scss */
h1 {
  font-size: 1.8em;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #7c0000;
  font-style: italic;
}

/* line 87, ../scss/type.scss */
h2 {
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 92, ../scss/type.scss */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
  margin-top: 10px;
}

/* line 98, ../scss/type.scss */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 102, ../scss/type.scss */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 107, ../scss/type.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 112, ../scss/type.scss */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
/* line 116, ../scss/type.scss */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 121, ../scss/type.scss */
table {
  width: 99%;
}

/* line 126, ../scss/type.scss */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 129, ../scss/type.scss */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 133, ../scss/type.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 137, ../scss/type.scss */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 145, ../scss/type.scss */
ul {
  list-style-type: disc;
}
/* line 147, ../scss/type.scss */
ul ul {
  list-style-type: circle;
}
/* line 149, ../scss/type.scss */
ul ul ul {
  list-style-type: square;
}
/* line 151, ../scss/type.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 154, ../scss/type.scss */
ol {
  list-style-type: decimal;
}
/* line 156, ../scss/type.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 158, ../scss/type.scss */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 162, ../scss/type.scss */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* line 167, ../scss/type.scss */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 171, ../scss/type.scss */
#system-themes-form img {
  width: 100px;
}

/* line 174, ../scss/type.scss */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 181, ../scss/type.scss */
#edit-delete {
  color: #cc0000;
}

/* line 192, ../scss/type.scss */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
  text-align: center;
}

/* line 193, ../scss/type.scss */
div.warning {
  padding: 9px;
  margin: 1em 0;
  color: #884400;
  background: #ffee66;
  border: 1px solid #eedd55;
  text-align: center;
}

/* line 194, ../scss/type.scss */
div.error {
  padding: 9px;
  margin: 1em 0;
  color: white;
  background: #ee6633;
  border: 1px solid #dd5522;
  text-align: center;
}

/* line 195, ../scss/type.scss */
div.status {
  padding: 9px;
  margin: 1em 0;
  color: #336600;
  background: #ccff88;
  border: 1px solid #bbee77;
  text-align: center;
}

/* line 197, ../scss/type.scss */
h1.title {
  margin: 0;
  padding: 30px 0 0 0;
}

/* line 4, ../scss/footer.scss */
#outer-footer {
  margin: 30px 0 20px;
  clear: both;
  background: #f1e9e4;
}
/* line 8, ../scss/footer.scss */
#outer-footer li a:hover {
  color: #999 !important;
}
/* line 11, ../scss/footer.scss */
#outer-footer div.page {
  padding: 109px 0 0 0;
  background: url("../images/logos_monochrome.gif") no-repeat top left;
}
/* line 16, ../scss/footer.scss */
#outer-footer ul#primary {
  display: none;
  margin: 0 auto;
}
/* line 19, ../scss/footer.scss */
#outer-footer ul#primary li {
  background: none !important;
  padding: 20px 20px 0;
  margin: 0;
}
/* line 23, ../scss/footer.scss */
#outer-footer ul#primary li span.icon {
  display: none;
}
/* line 26, ../scss/footer.scss */
#outer-footer ul#primary li a {
  background: none repeat scroll 0 0 transparent !important;
  font-size: 23px;
  margin: 0;
  padding: 0;
}
/* line 34, ../scss/footer.scss */
#outer-footer ul#secondary {
  display: block;
  padding-left: 0;
  text-align: center;
  width: 100%;
}
/* line 39, ../scss/footer.scss */
#outer-footer ul#secondary li.last a {
  border-right: none;
}
/* line 42, ../scss/footer.scss */
#outer-footer ul#secondary li {
  display: inline;
  margin-right: 10px;
}
/* line 45, ../scss/footer.scss */
#outer-footer ul#secondary li a {
  color: #8d6349 !important;
  display: inline;
  border-right: 1px dotted #8d6349;
  text-transform: uppercase;
  padding-right: 10px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-weight: normal;
}
