@charset "UTF-8";
/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/* line 2, ../scss/_tables.scss */
body.page-glossary .views-table {
  font-size: 12px;
  background: #fff;
  border-collapse: collapse;
  text-align: left;
  width: 900px;
  margin: 0;
}
/* line 10, ../scss/_tables.scss */
body.page-glossary .views-table thead {
  -moz-box-shadow: #c3c3c3 1px 1px 3px 1px inset;
  -webkit-box-shadow: #c3c3c3 1px 1px 3px 1px inset;
  -o-box-shadow: #c3c3c3 1px 1px 3px 1px inset;
  box-shadow: #c3c3c3 1px 1px 3px 1px inset;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d8d8d8), color-stop(100%, #f2f2f2));
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #f2f2f2 100%);
  background-image: linear-gradient(top, #d8d8d8 0%, #f2f2f2 100%);
  padding: 15px 0;
  height: 100px;
  color: #fff;
  border-top: 1px solid black;
  font-size: 1.6em;
  color: #7c0000;
}
/* line 21, ../scss/_tables.scss */
body.page-glossary .views-table th, body.page-glossary .views-table th a {
  font-weight: normal;
  color: #7c0000;
  padding: 10px 8px;
  text-decoration: none;
}
/* line 28, ../scss/_tables.scss */
body.page-glossary .views-table td {
  color: #333;
  padding: 9px 8px 0px 8px;
}
/* line 33, ../scss/_tables.scss */
body.page-glossary .views-table tbody tr:hover td {
  background-color: white;
}
/* line 8, ../scss/glossary.scss */
body.page-glossary #search-block-form {
  display: none;
}
/* line 12, ../scss/glossary.scss */
body.page-glossary .views-exposed-form {
  padding: 10px 30px;
  z-index: -1;
}
/* line 14, ../scss/glossary.scss */
body.page-glossary .views-exposed-form select, body.page-glossary .views-exposed-form input#edit-title {
  font-size: 1.6em;
}
/* line 18, ../scss/glossary.scss */
body.page-glossary h2.block-title {
  display: none;
}
/* line 22, ../scss/glossary.scss */
body.page-glossary .view-content {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
