/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/*dark colors*/
/* line 2, /home/kratib/www/meedan-nurani/drupal/sites/all/themes/nurani/scss/_tables.scss */
body.page-glossary .views-table {
  font-size: 12px;
  border-collapse: collapse;
  text-align: left;
  width: 920px;
  margin: 0;
}
/* line 9, /home/kratib/www/meedan-nurani/drupal/sites/all/themes/nurani/scss/_tables.scss */
body.page-glossary .views-table thead {
  padding: 15px 0;
  height: 30px;
  font-size: 1.4em;
}
/* line 15, /home/kratib/www/meedan-nurani/drupal/sites/all/themes/nurani/scss/_tables.scss */
body.page-glossary .views-table th, body.page-glossary .views-table th a {
  font-weight: normal;
  padding: 5px 8px;
  text-decoration: none;
}
/* line 21, /home/kratib/www/meedan-nurani/drupal/sites/all/themes/nurani/scss/_tables.scss */
body.page-glossary .views-table td {
  color: #333;
  padding: 9px 8px 0px 8px;
}
/* line 26, /home/kratib/www/meedan-nurani/drupal/sites/all/themes/nurani/scss/_tables.scss */
body.page-glossary .views-table td.views-field-title {
  background: #eee;
  width: 130px;
}
/* line 30, /home/kratib/www/meedan-nurani/drupal/sites/all/themes/nurani/scss/_tables.scss */
body.page-glossary .views-table td.views-field-field-part-of-speech-value {
  width: 120px;
}
/* line 33, /home/kratib/www/meedan-nurani/drupal/sites/all/themes/nurani/scss/_tables.scss */
body.page-glossary .views-table tbody tr:hover td {
  background-color: white;
}
/* line 35, /home/kratib/www/meedan-nurani/drupal/sites/all/themes/nurani/scss/_tables.scss */
body.page-glossary .view-glossary-terms .views-table {
  width: 510px;
}
/* line 9, ../scss/glossary.scss */
body.page-glossary #search-block-form {
  display: none;
}
/* line 13, ../scss/glossary.scss */
body.page-glossary .views-exposed-form {
  padding: 10px 20px;
  z-index: -1;
}
/* line 16, ../scss/glossary.scss */
body.page-glossary .views-exposed-form input#edit-title {
  font-size: 1.6em;
  width: 510px;
}
/* line 23, ../scss/glossary.scss */
body.page-glossary select#edit-language {
  font-size: 1em;
  width: 100px;
}
/* line 27, ../scss/glossary.scss */
body.page-glossary h2.block-title {
  display: none;
}
/* line 31, ../scss/glossary.scss */
body.page-glossary .view-content {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/*Glossary alphapet page*/
/* line 40, ../scss/glossary.scss */
.page-glossary .view-empty {
  font-size: 1.4em;
}
/* line 43, ../scss/glossary.scss */
.page-glossary .field-part-of-speech {
  margin-bottom: 20px;
}
/* line 46, ../scss/glossary.scss */
.page-glossary .field-part-of-speech .field-label {
  float: left;
  margin-right: 5px;
}
/* line 51, ../scss/glossary.scss */
.page-glossary .field-group-translations {
  margin-bottom: 20px;
}
/* line 54, ../scss/glossary.scss */
.page-glossary .field-group-translations .field-label {
  margin-bottom: 5px;
}
/* line 57, ../scss/glossary.scss */
.page-glossary .field-group-translations .fieldset {
  clear: both;
  line-height: 26px;
}
/* line 61, ../scss/glossary.scss */
.page-glossary .field-group-translations .fieldset .field-field-translation-term {
  float: left;
  margin-right: 5px;
}
/* line 69, ../scss/glossary.scss */
.page-glossary .view-glossary-references .views-row {
  margin-bottom: 15px;
  text-align: justify;
}

/* line 77, ../scss/glossary.scss */
.node-type-term ul.menu li.glossary {
  background: url("../images/bkg_active_nav.png") repeat -5px bottom;
}
/* line 82, ../scss/glossary.scss */
.node-type-term .field-group-translations,
.node-type-term .field-glossary-references,
.node-type-term .field-part-of-speech {
  margin: 0 0 40px;
}
/* line 86, ../scss/glossary.scss */
.node-type-term .field-glossary-references .view-glossary-references {
  margin: 0 50px 30px;
}
/* line 90, ../scss/glossary.scss */
.node-type-term .box .admin {
  clear: both;
}

/* line 95, ../scss/glossary.scss */
.node-type-term ul.menu li.glossary a,
.page-glossary ul.menu li.glossary a {
  background: url("../images/g.png") no-repeat 10px 20px;
}

/* line 98, ../scss/glossary.scss */
.glossary-term a {
  font-weight: normal;
}

/* line 101, ../scss/glossary.scss */
.glossary-term a:hover {
  color: #7c0000;
  text-decoration: underline;
}
