@charset "UTF-8";
/* line 3, ../scss/login.scss */
body.page-user.not-logged-in {
  background-image: none;
}
/* line 5, ../scss/login.scss */
body.page-user.not-logged-in #content-wrapper, body.page-user.not-logged-in form {
  padding: 0;
}
/* line 9, ../scss/login.scss */
body.page-user.not-logged-in div.description {
  display: none;
}
/* line 15, ../scss/login.scss */
body.page-user.not-logged-in h1.title,
body.page-user.not-logged-in span.form-required,
body.page-user.not-logged-in #content-header ul.tabs {
  display: none;
}
/* line 19, ../scss/login.scss */
body.page-user.not-logged-in #page {
  width: 600px;
  margin: 0 auto;
}
/* line 27, ../scss/login.scss */
body.page-user.not-logged-in label, body.page-user.not-logged-in input {
  font-size: 1.8em;
  width: 100%;
  text-shadow: 0px 1px 0px #fff;
  color: #555;
}
/* line 34, ../scss/login.scss */
body.page-user.not-logged-in input.form-submit {
  width: 200px;
  margin: 0 auto;
  display: block;
}
/* line 40, ../scss/login.scss */
body.page-user.not-logged-in #boxes-box-user_login_footer {
  font-size: 1.0em;
  font-family: "helvetica neue", sans-serif;
}
/* line 43, ../scss/login.scss */
body.page-user.not-logged-in #boxes-box-user_login_footer p {
  margin: 10px 0;
}
/* line 48, ../scss/login.scss */
body.page-user.not-logged-in #block-boxes-login_title {
  margin: 50px 0 0;
  text-align: center;
}
/* line 51, ../scss/login.scss */
body.page-user.not-logged-in #block-boxes-login_title h1 {
  margin: 0;
}
/* line 55, ../scss/login.scss */
body.page-user.not-logged-in #block-boxes-login_title h2 {
  font-size: 30px;
  font-style: italic;
  font-family: "BergamoStdItalic", serif;
  color: #333;
}
/* line 63, ../scss/login.scss */
body.page-user.not-logged-in #content-wrapper {
  margin: 0 auto;
  width: 960px;
  background: transparent;
  /* @include box-shadow(#999);
   @include border-radius(4px);
   @include linear-gradient(color_stops(white,#c3c3c3));*/
}
/* line 72, ../scss/login.scss */
body.page-user.not-logged-in #main {
  width: 470px;
  margin: 0 auto;
}
/* line 76, ../scss/login.scss */
body.page-user.not-logged-in .new-password {
  float: left;
}
