/* line 3, ../scss/login.scss */
body.page-user.not-logged-in {
  background-image: url(../images/login-header.png);
  background-position: center 130px;
  background-repeat: no-repeat;
}
/* line 7, ../scss/login.scss */
body.page-user.not-logged-in #content-wrapper, body.page-user.not-logged-in form {
  padding: 0;
}
/* line 11, ../scss/login.scss */
body.page-user.not-logged-in div.description {
  display: none;
}
/* line 17, ../scss/login.scss */
body.page-user.not-logged-in h1.title, body.page-user.not-logged-in span.form-required, body.page-user.not-logged-in #content-header ul.tabs {
  display: none;
}
/* line 21, ../scss/login.scss */
body.page-user.not-logged-in #page {
  width: 600px;
  margin: 0 auto;
}
/* line 29, ../scss/login.scss */
body.page-user.not-logged-in label, body.page-user.not-logged-in input {
  font-size: 1em;
  width: 100%;
  font-weight: normal;
  text-shadow: 0px 1px 0px #fff;
  color: #555;
}
/* line 37, ../scss/login.scss */
body.page-user.not-logged-in input.form-submit {
  width: 167px;
  margin: 0 0 20px;
  display: block;
}
/* line 43, ../scss/login.scss */
body.page-user.not-logged-in #boxes-box-user_login_footer {
  font-size: 1.0em;
  font-family: "helvetica neue", sans-serif;
}
/* line 46, ../scss/login.scss */
body.page-user.not-logged-in #boxes-box-user_login_footer p {
  margin: 10px 0;
}
/* line 51, ../scss/login.scss */
body.page-user.not-logged-in #block-boxes-login_title {
  margin: 140px 0 0;
  text-align: center;
}
/* line 54, ../scss/login.scss */
body.page-user.not-logged-in #block-boxes-login_title h1 {
  margin: 0;
}
/* line 58, ../scss/login.scss */
body.page-user.not-logged-in #block-boxes-login_title h2 {
  font-size: 30px;
  font-style: italic;
  font-family: "BergamoStdItalic", serif;
  color: #333;
}
/* line 66, ../scss/login.scss */
body.page-user.not-logged-in #content-wrapper {
  margin: 0 auto;
  width: 960px;
  background: transparent;
  /* @include box-shadow(#999);
   @include border-radius(4px);
   @include linear-gradient(color_stops(white,#c3c3c3));*/
}
/* line 75, ../scss/login.scss */
body.page-user.not-logged-in #main {
  width: 470px;
  margin: 0 auto;
}
/* line 79, ../scss/login.scss */
body.page-user.not-logged-in .new-password {
  float: left;
}
