/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/*dark colors*/
/* line 5, ../scss/misc.scss */
#edit-body {
  float: left;
}

/* line 9, ../scss/misc.scss */
body.page-admin h3 {
  margin-bottom: 0 !important;
}

/* line 13, ../scss/misc.scss */
#perosnal-nav {
  -moz-box-shadow: 0 3px 20px #000000;
  background: none repeat scroll 0 0 #000000;
  height: 30px;
  position: absolute;
  width: 100%;
}

/* line 21, ../scss/misc.scss */
.perosnal-username a {
  color: #FFFFFF;
  font-family: "Lucida Grande", Verdana, sans-serif;
  padding: 4px;
}

/* line 27, ../scss/misc.scss */
.perosnal-username a:hover {
  -moz-border-radius: 10px 10px 10px 10px;
  background: none repeat scroll 0 0 #777777;
}

/* line 32, ../scss/misc.scss */
.perosnal-username {
  color: #FFFFFF;
  float: right;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 12px;
  padding-top: 7px;
}

/* line 40, ../scss/misc.scss */
form#user-profile-form #edit-locale {
  display: none;
}

/* line 45, ../scss/misc.scss */
#edit-field-user-title, #edit-field-user-fname, #edit-field-user-lname, #edit-field-user-suffix, #edit-field-user-city, #edit-field-user-country, #edit-field-user-arabic, #edit-field-user-english {
  float: left;
  margin-right: 10px;
}

/* line 51, ../scss/misc.scss */
form#user-profile-form input[type=text], #user-profile-form .form-textarea, #user-profile-form input[type=password] {
  -moz-box-shadow: 1px -1px 3px #777777;
  border: 1px solid #C7C7C7;
  padding: 5px;
}

/* line 57, ../scss/misc.scss */
form#user-profile-form label {
  color: #555555;
  margin-bottom: 7px;
}

/* line 62, ../scss/misc.scss */
#edit-field-user-position {
  clear: both;
}

/* line 66, ../scss/misc.scss */
#edit-field-user-arabic, #edit-field-user-education {
  clear: both;
}

/* line 70, ../scss/misc.scss */
body.page-user-edit #content {
  width: 100%;
}

/* line 74, ../scss/misc.scss */
body.page-user-edit h1 {
  font-size: 2.2em;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 10px 10px 0;
  text-align: center;
  width: 100%;
}

/* line 84, ../scss/misc.scss */
body.page-user-edit .inner {
  padding: 0 20px 20px;
}

/* line 88, ../scss/misc.scss */
body.page-user-edit #content-header {
  margin-bottom: 20px;
  padding-top: 20px;
}

/* line 93, ../scss/misc.scss */
#user-profile-form .filter-wrapper, #user-profile-form .grippie {
  display: none;
}

/* line 97, ../scss/misc.scss */
#user-profile-form .form-textarea {
  width: 530px;
}

/* line 102, ../scss/misc.scss */
.field-name-field-user-title, .field-name-field-user-fname, .field-name-field-user-lname, .field-name-field-user-suffix {
  float: left;
  font-size: 20px;
  margin-right: 4px;
}

/* line 108, ../scss/misc.scss */
.do {
  left: 125px;
  position: absolute;
  top: 60px;
}

/* line 114, ../scss/misc.scss */
body.en .do {
  font-style: italic;
}

/* line 118, ../scss/misc.scss */
.profile .user-picture {
  float: left;
  margin: 0 1em 1em 0;
}

/* line 123, ../scss/misc.scss */
.field-name-field-user-arabic {
  clear: both;
}

/* line 127, ../scss/misc.scss */
.field-name-field-user-city {
  clear: both;
  float: left;
  margin-right: 10px;
}

/* line 133, ../scss/misc.scss */
.field-name-field-user-country {
  float: left;
}

/* line 137, ../scss/misc.scss */
body.page-user #content {
  width: 100%;
}

/* line 141, ../scss/misc.scss */
.personal-info {
  background: none repeat scroll 0 0 #E7E7E7;
  display: block;
  height: 105px;
  margin-bottom: 15px;
  padding: 10px;
  position: relative;
  width: 100%;
}

/* line 151, ../scss/misc.scss */
.residence {
  left: 125px;
  position: absolute;
  top: 85px;
}

/* line 157, ../scss/misc.scss */
.profile-name {
  margin-top: 20px;
}

/* line 161, ../scss/misc.scss */
.user-picture img {
  float: left;
  /*  width: 32px; */
}

/* line 166, ../scss/misc.scss */
.profile .field-items {
  clear: both;
}

/* line 170, ../scss/misc.scss */
.prof-info {
  border-top: 1px solid #777777;
  padding: 10px;
}

/* line 176, ../scss/misc.scss */
#slash.node {
  background: none;
}

/* line 180, ../scss/misc.scss */
#block-block-3 a {
  margin-right: 10px;
}

/* line 184, ../scss/misc.scss */
.field-body {
  color: #303030;
}

/* line 188, ../scss/misc.scss */
.field-body .field-label {
  color: #303030;
}

/* line 192, ../scss/misc.scss */
body.i18n-en .field-body .field-label {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* line 199, ../scss/misc.scss */
#comments #edit-body-wrapper label {
  display: none;
}

/* line 202, ../scss/misc.scss */
#comments .resizable-textarea {
  width: auto;
}

/* line 205, ../scss/misc.scss */
#comments #edit-body-wrapper .grippie {
  display: none;
}

/* line 208, ../scss/misc.scss */
#comment-form input[type=text], #comments #edit-body-wrapper textarea#edit-body {
  padding: 5px;
  float: none;
  height: 160px;
  width: 530px;
}

/* line 215, ../scss/misc.scss */
#comment-form label[for=edit-subject] {
  margin-right: 42px;
}

/* line 219, ../scss/misc.scss */
#comment-form textarea {
  display: inline;
  width: 450px;
}

/* line 224, ../scss/misc.scss */
#comment-form #edit-actions {
  margin-left: 95px;
}

/* line 228, ../scss/misc.scss */
#comment-form #edit-actions input[type=submit] {
  margin-right: 10px;
}

/* line 232, ../scss/misc.scss */
.sidebar-second .block {
  margin-bottom: 20px;
}

/* line 236, ../scss/misc.scss */
#boxes-box-scholars_box img {
  margin-right: 5px;
}

/* line 240, ../scss/misc.scss */
#block-pcp-pcp_profile_percent_complete {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  background: rgba(255, 228, 0, 0.2);
  padding: 10px;
  z-index: 10;
  line-height: 1.3em;
  font-size: 16px;
}
/* line 250, ../scss/misc.scss */
#block-pcp-pcp_profile_percent_complete h2 {
  display: none;
}

/* line 255, ../scss/misc.scss */
#comment-body-add-more-wrapper .filter-wrapper {
  display: none;
}

/* line 260, ../scss/misc.scss */
form#user-profile-form input[type="text"]:focus, #user-profile-form .form-textarea:focus, #user-profile-form input[type="password"]:focus {
  -moz-box-shadow: 1px -1px 3px #777777;
}

/* line 264, ../scss/misc.scss */
div.vertical-tabs {
  border: 1px solid #CCCCCC;
  clear: both;
  float: left;
  margin: 1em 0 1em 15em;
  position: relative;
}

/* line 272, ../scss/misc.scss */
.view-discussions .views-field-title {
  float: left;
  margin-bottom: 5px;
  font-size: 1.6em;
  font-weight: 300;
  width: 480px;
}

/* line 280, ../scss/misc.scss */
.view-discussions .views-field-body {
  border-top: 1px solid #999999;
  clear: both;
  padding-top: 10px;
  text-align: justify;
}

/* line 287, ../scss/misc.scss */
.field-name-field-discussion-text .submitted {
  display: none;
}

/* line 291, ../scss/misc.scss */
.field-name-field-discussion-text h2 {
  font-size: 18px;
  font-weight: bold;
}

/* line 296, ../scss/misc.scss */
.view-discussions .views-row {
  clear: both;
  float: left;
  margin-top: 35px;
  width: 100%;
}

/* line 304, ../scss/misc.scss */
.view-discussions .views-field-php {
  float: left;
  margin-right: 15px;
}

/* line 309, ../scss/misc.scss */
.view-texts-in-discussion .view-header {
  font-weight: bold;
}

/* line 313, ../scss/misc.scss */
body.en .view-texts-in-discussion .view-header {
  font-style: italic;
}

/* line 317, ../scss/misc.scss */
ul.language-switcher-locale-url li {
  display: inline;
}

/* line 321, ../scss/misc.scss */
ul.language-switcher-locale-url li.active {
  display: none;
}

/* line 326, ../scss/misc.scss */
.view-texts-in-discussion .field-name-field-text-source, .view-texts-in-discussion .field-name-field-text-author, .view-texts-in-discussion .field-name-field-text-description {
  display: none;
}

/* line 331, ../scss/misc.scss */
#block-boxes-welcome_to_nurani_box .more-link {
  display: block;
  float: left;
  margin-top: 10px;
}

/* line 341, ../scss/misc.scss */
.view-glossary-terms .view-content {
  float: left;
}

/* line 345, ../scss/misc.scss */
.view-glossary-terms .views-summary {
  float: left;
  display: block;
  height: 22px;
  line-height: 22px;
  padding: 0 5px 0 0;
  color: #aaa;
}

/* line 354, ../scss/misc.scss */
#boxes-box-participants a {
  display: block;
  float: left;
  margin-right: 20px;
}

/* line 360, ../scss/misc.scss */
#boxes-box-participants a img {
  height: 100px;
  width: 100px;
}

/* line 365, ../scss/misc.scss */
#boxes-box-about_this_discussion ul {
  border-bottom: 1px dashed #CCCCCC;
  margin-left: 0;
  padding-bottom: 10px;
  padding-left: 0;
}

/* line 372, ../scss/misc.scss */
#boxes-box-about_this_discussion ul li:hover {
  background: #eee;
}

/* line 376, ../scss/misc.scss */
#boxes-box-about_this_discussion ul li {
  display: block;
}

/* line 380, ../scss/misc.scss */
#boxes-box-about_this_discussion ul li a {
  display: block;
  width: 100%;
}

/* line 385, ../scss/misc.scss */
#boxes-box-about_this_discussion .field-name {
  border-bottom: 1px dashed #E1E1E1;
  color: #5B0000;
  font-weight: bold;
  margin-top: 10px;
  padding-bottom: 2px;
}

/* line 393, ../scss/misc.scss */
body.page-overview #content-inner {
  margin-top: 10px;
  padding-top: 0;
}

/* line 398, ../scss/misc.scss */
body.page-overview #content-header {
  display: none;
}

/* line 402, ../scss/misc.scss */
.personal-info .user-picture img {
  /*  width:100px;*/
}

/* line 406, ../scss/misc.scss */
.view-other-nuranis .views-field-picture img {
  /*  width:100px;*/
}

/* line 410, ../scss/misc.scss */
.view-texts table {
  width: 920px;
}

/* line 414, ../scss/misc.scss */
table .field-item, table .view-texts a, table td a {
  font-size: 15px;
}

/* line 418, ../scss/misc.scss */
.no-sidebars #content-header ul.tabs {
  left: 0;
}

/* line 422, ../scss/misc.scss */
#content-header ul.tabs, #content-header ul.tabs li {
  float: none;
}

/* line 426, ../scss/misc.scss */
#content-header ul.tabs li a {
  background-image: -moz-linear-gradient(center top, #ededed 0%, #e0e0e0 100%);
  color: #888888;
  font-family: arial,sans-serif;
  padding: 5px 8px 1px;
  position: relative;
  z-index: 9;
}

/* line 435, ../scss/misc.scss */
#block-views-new_texts-block_1 h3,
#block-views-new_glossary_terms-block_1 h3 {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px 0 10px 20px;
  color: #7c0000;
  background: url(../images/arrow-collapse.png) no-repeat left;
  cursor: pointer;
  margin-bottom: 0;
}

/* line 444, ../scss/misc.scss */
#block-views-nuranis-block_1 h3 {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px 0 10px 20px;
  color: #7c0000;
  background: url(../images/arrow-expand.png) no-repeat left;
  cursor: pointer;
  margin-bottom: 0;
}

/* line 454, ../scss/misc.scss */
#block-views-new_texts-block_1 h3.expand,
#block-views-new_glossary_terms-block_1 h3.expand {
  background: url(../images/arrow-expand.png) no-repeat left;
}

/* line 457, ../scss/misc.scss */
#block-views-nuranis-block_1 h3.collapsed {
  background: url(../images/arrow-collapse.png) no-repeat left;
}

/* line 460, ../scss/misc.scss */
#block-views-nuranis-block_1 .content {
  padding: 20px 0 0;
}

/* line 464, ../scss/misc.scss */
#block-views-new_texts-block_1 .content,
#block-views-new_glossary_terms-block_1 .content {
  padding: 20px 0 0;
  displaY: none;
}

/* line 469, ../scss/misc.scss */
#block-views-new_texts-block_1 .views-row,
#block-views-new_glossary_terms-block_1 .views-row {
  padding: 0 0 10px 15px;
  margin: 0 0 0 20px;
  background: url(../images/point.png) no-repeat left 3px;
}

/* line 474, ../scss/misc.scss */
.indented {
  margin-left: 20px;
}

/* line 477, ../scss/misc.scss */
.indented .indented {
  margin: 0;
}
