@charset "UTF-8";
/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/*dark colors*/
/* ================== */
/* = "soft buttons" = */
/* ================== */
/* =================== */
/* = toggle buttons = */
/* =================== */
/* ================ */
/* = icon buttons = */
/* ================ */
/*aapplied to list*/
/* line 45, ../scss/navigation.scss */
ul.menu li.first {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 74, ../scss/_buttons.scss */
ul.menu li.first a {
  font-size: 20px;
  background: url("../images/d_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  clear: none;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 50px;
}
/* line 92, ../scss/_buttons.scss */
ul.menu li.first a.active {
  background: url("../images/d_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 46, ../scss/navigation.scss */
ul.menu li {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 74, ../scss/_buttons.scss */
ul.menu li a {
  font-size: 20px;
  background: url("../images/g_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  clear: none;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 50px;
}
/* line 92, ../scss/_buttons.scss */
ul.menu li a.active {
  background: url("../images/g_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 47, ../scss/navigation.scss */
ul.menu li.last {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 74, ../scss/_buttons.scss */
ul.menu li.last a {
  font-size: 20px;
  background: url("../images/t_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  clear: none;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 50px;
}
/* line 92, ../scss/_buttons.scss */
ul.menu li.last a.active {
  background: url("../images/t_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 49, ../scss/navigation.scss */
ul.menu li.active-trail {
  background: url("../images/bkg_active_nav.png") -5px bottom transparent;
}

/*Language switcher*/
/* line 55, ../scss/navigation.scss */
#block-locale-0 {
  width: 70px;
  float: right;
}
/* line 59, ../scss/navigation.scss */
#block-locale-0 h3, #block-locale-0 li.en {
  display: none;
}
/* line 62, ../scss/navigation.scss */
#block-locale-0 li {
  font-size: 0.6em;
}
/* line 64, ../scss/navigation.scss */
#block-locale-0 li a {
  color: white;
  background: #666666;
  padding: 5px 15px 4px;
  display: inline-block;
  border-radius: 15px;
}

/*Action links*/
/* line 76, ../scss/navigation.scss */
#boxes-box-action_links .boxes-box-content {
  float: left;
  margin: 0 10px 0 0;
}
/* line 80, ../scss/navigation.scss */
#boxes-box-action_links ul {
  margin: 0;
  padding: 0;
}
/* line 84, ../scss/navigation.scss */
#boxes-box-action_links ul li {
  padding: 0;
}
/* line 87, ../scss/navigation.scss */
#boxes-box-action_links ul a {
  font-size: 0.8em;
  color: white;
  background: #666666;
  padding: 5px 15px 3px;
  display: inline-block;
  border-radius: 15px;
  font-weight: normal;
}
