/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/* ================== */
/* = "soft buttons" = */
/* ================== */
/* =================== */
/* = toggle buttons = */
/* =================== */
/* ================ */
/* = icon buttons = */
/* ================ */
/*aapplied to list*/
/* line 45, ../scss/navigation.scss */
ul#primary {
  /* we're doing it with a mixin so we can override direction in style-rtl */
  /* TODO the use of first and last needs to be repaired with custom classes, eg li.discussion li.texts li.glossary */
}
/* line 48, ../scss/navigation.scss */
ul#primary li.first {
  float: left;
  list-style: none outside none;
  padding: 0;
}
/* line 73, ../scss/_buttons.scss */
ul#primary li.first a {
  font-size: 20px;
  background: url("../images/d_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  clear: none;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 50px;
}
/* line 91, ../scss/_buttons.scss */
ul#primary li.first a.active {
  background: url("../images/d_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 49, ../scss/navigation.scss */
ul#primary li {
  float: left;
  list-style: none outside none;
  padding: 0;
}
/* line 73, ../scss/_buttons.scss */
ul#primary li a {
  font-size: 20px;
  background: url("../images/g_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  clear: none;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 50px;
}
/* line 91, ../scss/_buttons.scss */
ul#primary li a.active {
  background: url("../images/g_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 50, ../scss/navigation.scss */
ul#primary li.last {
  float: left;
  list-style: none outside none;
  padding: 0;
}
/* line 73, ../scss/_buttons.scss */
ul#primary li.last a {
  font-size: 20px;
  background: url("../images/t_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  clear: none;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 50px;
}
/* line 91, ../scss/_buttons.scss */
ul#primary li.last a.active {
  background: url("../images/t_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 52, ../scss/navigation.scss */
ul#primary li.active {
  background: url("../images/bkg_active_nav.png") -5px bottom transparent;
}

/* line 57, ../scss/navigation.scss */
#block-locale-0 {
  width: 70px;
  float: right;
}
/* line 61, ../scss/navigation.scss */
#block-locale-0 h3, #block-locale-0 li.en {
  display: none;
}
