/* ================== */
/* = "soft buttons" = */
/* ================== */
/* =================== */
/* = toggle buttons = */
/* =================== */
/* ================ */
/* = icon buttons = */
/* ================ */
/*aapplied to list*/
/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/*dark colors*/
/* line 4, ../scss/style-rtl.scss */
body.i18n-ar {
  overflow-x: hidden !important;
}
/* line 8, ../scss/style-rtl.scss */
body.i18n-ar #boxes-box-welcome_to_nurani_box .toggle {
  position: absolute;
  right: auto;
  left: 0;
  top: 1px;
}
/* line 15, ../scss/style-rtl.scss */
body.i18n-ar .condense_control {
  padding: 4px 4px 4px 0;
  background: url("../images/more-ar.png") no-repeat scroll 0 0 transparent;
}
/* line 20, ../scss/style-rtl.scss */
body.i18n-ar #comment-form label {
  float: right;
  margin-right: 10px;
}
/* line 25, ../scss/style-rtl.scss */
body.i18n-ar #comment-form label[for="edit-subject"] {
  margin-left: 42px;
  margin-right: 0;
}
/* line 35, ../scss/style-rtl.scss */
body.i18n-ar #sidebar-second,
body.i18n-ar .sidebar-second #main,
body.i18n-ar .text,
body.i18n-ar .author-photo,
body.i18n-ar .view-texts-in-discussion .views-row,
body.i18n-ar .view-overview .views-field-title {
  float: right;
}
/* line 39, ../scss/style-rtl.scss */
body.i18n-ar .perosnal-username, body.i18n-ar .view-overview .views-field-view-node {
  float: left;
}
/* line 45, ../scss/style-rtl.scss */
body.i18n-ar ul#primary li.first {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 74, ../scss/_buttons.scss */
body.i18n-ar ul#primary li.first a {
  font-size: 20px;
  background: url("../images/d_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  clear: none;
  text-decoration: none;
  padding-right: 50px;
  padding-left: 10px;
}
/* line 92, ../scss/_buttons.scss */
body.i18n-ar ul#primary li.first a.active {
  background: url("../images/d_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 46, ../scss/style-rtl.scss */
body.i18n-ar ul#primary li {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 74, ../scss/_buttons.scss */
body.i18n-ar ul#primary li a {
  font-size: 20px;
  background: url("../images/g_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  clear: none;
  text-decoration: none;
  padding-right: 50px;
  padding-left: 10px;
}
/* line 92, ../scss/_buttons.scss */
body.i18n-ar ul#primary li a.active {
  background: url("../images/g_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 47, ../scss/style-rtl.scss */
body.i18n-ar ul#primary li.last {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 74, ../scss/_buttons.scss */
body.i18n-ar ul#primary li.last a {
  font-size: 20px;
  background: url("../images/t_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  clear: none;
  text-decoration: none;
  padding-right: 50px;
  padding-left: 10px;
}
/* line 92, ../scss/_buttons.scss */
body.i18n-ar ul#primary li.last a.active {
  background: url("../images/t_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 50, ../scss/style-rtl.scss */
body.i18n-ar #block-boxes-welcome_to_nurani_box .more-link {
  display: block;
  float: right;
  margin-top: 10px;
}
/* line 56, ../scss/style-rtl.scss */
body.i18n-ar .view-ibis-glossary .views-summary {
  float: right;
}

/* line 61, ../scss/style-rtl.scss */
.i18n-ar #block-locale-0 {
  float: left;
  font-size: 18px;
  line-height: 16px;
  width: 66px;
}
/* line 66, ../scss/style-rtl.scss */
.i18n-ar #block-locale-0 ul {
  padding: 0;
}
/* line 69, ../scss/style-rtl.scss */
.i18n-ar #block-locale-0 li.ar {
  display: none;
}
/* line 72, ../scss/style-rtl.scss */
.i18n-ar #block-locale-0 li.en {
  display: block;
}
