/* ================== */
/* = "soft buttons" = */
/* ================== */
/* =================== */
/* = toggle buttons = */
/* =================== */
/* ================ */
/* = icon buttons = */
/* ================ */
/*aapplied to list*/
/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/*dark colors*/
/* line 4, ../scss/style-rtl.scss */
body.i18n-ar {
  overflow-x: hidden !important;
  /*Top strip*/
  /*Navigation*/
  /*Welcome*/
  /*Overview*/
  /*vertical tabs*/
}
/* line 8, ../scss/style-rtl.scss */
body.i18n-ar #boxes-box-welcome_to_nurani_box .toggle {
  position: absolute;
  right: auto;
  left: 0;
  top: 1px;
}
/* line 15, ../scss/style-rtl.scss */
body.i18n-ar .condense_control {
  padding: 4px 4px 4px 0;
  background: url("../images/more-ar.png") no-repeat scroll 0 0 transparent;
}
/* line 20, ../scss/style-rtl.scss */
body.i18n-ar #comment-form label {
  float: right;
  margin-right: 10px;
}
/* line 25, ../scss/style-rtl.scss */
body.i18n-ar #comment-form label[for="edit-subject"] {
  margin-left: 42px;
  margin-right: 0;
}
/* line 35, ../scss/style-rtl.scss */
body.i18n-ar #sidebar-second,
body.i18n-ar .sidebar-second #main,
body.i18n-ar .text,
body.i18n-ar .author-photo,
body.i18n-ar .view-texts-in-discussion .views-row,
body.i18n-ar .view-overview .views-field-title {
  float: right;
}
/* line 39, ../scss/style-rtl.scss */
body.i18n-ar .perosnal-username, body.i18n-ar .view-overview .views-field-view-node {
  float: left;
}
/* line 45, ../scss/style-rtl.scss */
body.i18n-ar ul#primary li.first {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 74, ../scss/_buttons.scss */
body.i18n-ar ul#primary li.first a {
  font-size: 20px;
  background: url("../images/d_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  clear: none;
  text-decoration: none;
  padding-right: 50px;
  padding-left: 10px;
}
/* line 92, ../scss/_buttons.scss */
body.i18n-ar ul#primary li.first a.active {
  background: url("../images/d_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 46, ../scss/style-rtl.scss */
body.i18n-ar ul#primary li {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 74, ../scss/_buttons.scss */
body.i18n-ar ul#primary li a {
  font-size: 20px;
  background: url("../images/g_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  clear: none;
  text-decoration: none;
  padding-right: 50px;
  padding-left: 10px;
}
/* line 92, ../scss/_buttons.scss */
body.i18n-ar ul#primary li a.active {
  background: url("../images/g_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 47, ../scss/style-rtl.scss */
body.i18n-ar ul#primary li.last {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 74, ../scss/_buttons.scss */
body.i18n-ar ul#primary li.last a {
  font-size: 20px;
  background: url("../images/t_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  clear: none;
  text-decoration: none;
  padding-right: 50px;
  padding-left: 10px;
}
/* line 92, ../scss/_buttons.scss */
body.i18n-ar ul#primary li.last a.active {
  background: url("../images/t_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 50, ../scss/style-rtl.scss */
body.i18n-ar #block-boxes-welcome_to_nurani_box .more-link {
  display: block;
  float: right;
  margin-top: 10px;
}
/* line 56, ../scss/style-rtl.scss */
body.i18n-ar .view-ibis-glossary .views-summary {
  float: right;
}
/* line 61, ../scss/style-rtl.scss */
body.i18n-ar #block-locale-0 {
  float: left;
  font-size: 18px;
  line-height: 16px;
  width: 66px;
}
/* line 66, ../scss/style-rtl.scss */
body.i18n-ar #block-locale-0 ul {
  padding: 0;
}
/* line 69, ../scss/style-rtl.scss */
body.i18n-ar #block-locale-0 li.ar {
  display: none;
}
/* line 72, ../scss/style-rtl.scss */
body.i18n-ar #block-locale-0 li.en {
  display: block;
}
/* line 80, ../scss/style-rtl.scss */
body.i18n-ar ul.menu li.last,
body.i18n-ar ul.menu li.first,
body.i18n-ar ul.menu li {
  float: right;
}
/* line 85, ../scss/style-rtl.scss */
body.i18n-ar div#slash div#boxes-box-welcome_box img.d_ford {
  float: left;
}
/* line 90, ../scss/style-rtl.scss */
body.i18n-ar div#main {
  float: right;
}
/* line 94, ../scss/style-rtl.scss */
body.i18n-ar .view-discussions .views-field-title {
  float: right;
  line-height: 29px;
}
/* line 98, ../scss/style-rtl.scss */
body.i18n-ar .view-discussions .views-field-view-node a {
  float: left;
}
/* line 101, ../scss/style-rtl.scss */
body.i18n-ar .view-discussions .views-field-phpcode {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
/* line 109, ../scss/style-rtl.scss */
body.i18n-ar div.vertical-tabs {
  float: right;
  margin: 1em 15em 0 0;
}
/* line 113, ../scss/style-rtl.scss */
body.i18n-ar div.vertical-tabs ul.vertical-tabs-list {
  float: right;
  left: auto;
  right: 2em;
}
/* line 118, ../scss/style-rtl.scss */
body.i18n-ar div.vertical-tabs ul.vertical-tabs-list li {
  text-align: right;
}
/* line 121, ../scss/style-rtl.scss */
body.i18n-ar div.vertical-tabs ul.vertical-tabs-list li.selected {
  border-left: 0;
  border-right: 1px solid #ccc;
}

/*discussion*/
/* line 131, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion div#block-views-discussion_texts-block_1 h1 {
  text-align: right;
}
/* line 134, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion div#block-views-discussion_texts-block_1 .content {
  text-align: right;
}
/* line 138, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #sidebar-second {
  text-align: right;
}
/* line 141, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion .view-discussion-texts .views-row {
  float: right;
}
/* line 146, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-area .node p {
  text-align: right;
  margin: 0 1.1em 1em 0;
}
/* line 150, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-area .field-translation-status {
  float: left;
}
/* line 154, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments {
  margin: 0 20px 0 0;
}
/* line 157, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments h2#comments-title {
  padding: 0 0 0 202px;
}
/* line 160, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .buildmode-full {
  padding: 10px 10px 0 0;
}
/* line 163, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .field-author {
  float: right;
}
/* line 166, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .field-post-date {
  float: left;
  padding: 0 0 0 10px;
}
/* line 170, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .node p {
  margin: 0 0 1em 0;
}
/* line 173, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .field-translation-status {
  border: 1px solid #cccccc;
  border-left: 0;
  border-bottom: 0;
  text-align: right;
}
/* line 179, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .nd-region-footer {
  text-align: right;
}
/* line 182, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments label {
  float: right;
  margin: 0 0 0 10px;
}
/* line 187, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #sidebar-second {
  margin-left: 1.2em;
  margin-right: 0;
}
/* line 191, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #sidebar-second #sidebar-second-inner {
  padding-right: 7px;
  padding-left: 20px;
}
