/* ================== */
/* = "soft buttons" = */
/* ================== */
/* =================== */
/* = toggle buttons = */
/* =================== */
/* ================ */
/* = icon buttons = */
/* ================ */
/*aapplied to list*/
/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/*dark colors*/
/* line 4, ../scss/style-rtl.scss */
body.i18n-ar {
  /*Typo*/
  /*action links*/
  /*language switcher*/
  /*Top strip*/
  /*Navigation*/
  /*Welcome*/
  /*Overview*/
  /*vertical tabs*/
}
/* line 8, ../scss/style-rtl.scss */
body.i18n-ar h1 {
  font-style: normal;
}
/* line 11, ../scss/style-rtl.scss */
body.i18n-ar #content-header ul.tabs li a {
  font-family: UthmanTN,serif;
}
/* line 15, ../scss/style-rtl.scss */
body.i18n-ar #top-strip {
  height: 27px;
}
/* line 18, ../scss/style-rtl.scss */
body.i18n-ar #boxes-box-action_links ul a {
  line-height: 1.9em;
  font-size: 0.7em;
}
/* line 22, ../scss/style-rtl.scss */
body.i18n-ar #boxes-box-action_links .boxes-box-content {
  float: right;
  margin: 0 0 0 10px;
}
/* line 28, ../scss/style-rtl.scss */
body.i18n-ar #block-locale-0 li a {
  padding: 0 15px;
  line-height: 1.8em;
}
/* line 34, ../scss/style-rtl.scss */
body.i18n-ar #block-menu-primary-links ul.menu a {
  font-size: 1.3em;
  padding: 19px 65px 30px 20px;
  font-weight: bold;
  background-position: 105px 20px;
}
/* line 41, ../scss/style-rtl.scss */
body.i18n-ar #boxes-box-welcome_to_nurani_box .toggle {
  position: absolute;
  right: auto;
  left: 0;
  top: 1px;
}
/* line 48, ../scss/style-rtl.scss */
body.i18n-ar .condense_control {
  padding: 4px 4px 4px 0;
  background: url("../images/more-ar.png") no-repeat scroll 0 0 transparent;
}
/* line 53, ../scss/style-rtl.scss */
body.i18n-ar #comment-form label {
  float: right;
  margin-right: 10px;
}
/* line 58, ../scss/style-rtl.scss */
body.i18n-ar #comment-form label[for="edit-subject"] {
  margin-left: 42px;
  margin-right: 0;
}
/* line 68, ../scss/style-rtl.scss */
body.i18n-ar #sidebar-second, body.i18n-ar .sidebar-second #main, body.i18n-ar .text, body.i18n-ar .author-photo, body.i18n-ar .view-texts-in-discussion .views-row, body.i18n-ar .view-overview .views-field-title {
  float: right;
}
/* line 72, ../scss/style-rtl.scss */
body.i18n-ar .perosnal-username, body.i18n-ar .view-overview .views-field-view-node {
  float: left;
}
/* line 78, ../scss/style-rtl.scss */
body.i18n-ar ul#primary li.first {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 76, C:/xampp/htdocs/meedan-nurani/drupal/sites/all/themes/nurani/scss/_buttons.scss */
body.i18n-ar ul#primary li.first a {
  font-size: 20px;
  background: url("../images/d_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  clear: none;
  text-decoration: none;
  padding-right: 50px;
  padding-left: 10px;
}
/* line 93, C:/xampp/htdocs/meedan-nurani/drupal/sites/all/themes/nurani/scss/_buttons.scss */
body.i18n-ar ul#primary li.first a.active {
  background: url("../images/d_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 79, ../scss/style-rtl.scss */
body.i18n-ar ul#primary li {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 76, C:/xampp/htdocs/meedan-nurani/drupal/sites/all/themes/nurani/scss/_buttons.scss */
body.i18n-ar ul#primary li a {
  font-size: 20px;
  background: url("../images/g_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  clear: none;
  text-decoration: none;
  padding-right: 50px;
  padding-left: 10px;
}
/* line 93, C:/xampp/htdocs/meedan-nurani/drupal/sites/all/themes/nurani/scss/_buttons.scss */
body.i18n-ar ul#primary li a.active {
  background: url("../images/g_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 80, ../scss/style-rtl.scss */
body.i18n-ar ul#primary li.last {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 76, C:/xampp/htdocs/meedan-nurani/drupal/sites/all/themes/nurani/scss/_buttons.scss */
body.i18n-ar ul#primary li.last a {
  font-size: 20px;
  background: url("../images/t_inactive.png") no-repeat scroll 10px 20px transparent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  clear: none;
  text-decoration: none;
  padding-right: 50px;
  padding-left: 10px;
}
/* line 93, C:/xampp/htdocs/meedan-nurani/drupal/sites/all/themes/nurani/scss/_buttons.scss */
body.i18n-ar ul#primary li.last a.active {
  background: url("../images/t_active.png") no-repeat scroll 10px 20px transparent;
}
/* line 83, ../scss/style-rtl.scss */
body.i18n-ar #block-boxes-welcome_to_nurani_box .more-link {
  display: block;
  float: right;
  margin-top: 10px;
}
/* line 89, ../scss/style-rtl.scss */
body.i18n-ar .view-ibis-glossary .views-summary {
  float: right;
}
/* line 94, ../scss/style-rtl.scss */
body.i18n-ar #block-locale-0 {
  float: left;
  font-size: 18px;
  line-height: 16px;
  width: 66px;
}
/* line 99, ../scss/style-rtl.scss */
body.i18n-ar #block-locale-0 ul {
  padding: 0;
}
/* line 102, ../scss/style-rtl.scss */
body.i18n-ar #block-locale-0 li.ar {
  display: none;
}
/* line 105, ../scss/style-rtl.scss */
body.i18n-ar #block-locale-0 li.en {
  display: block;
}
/* line 113, ../scss/style-rtl.scss */
body.i18n-ar ul.menu li.last, body.i18n-ar ul.menu li.first, body.i18n-ar ul.menu li {
  float: right;
}
/* line 118, ../scss/style-rtl.scss */
body.i18n-ar div#slash h3 {
  margin-right: 30px;
  margin-top: 0;
  line-height: 0.6em;
}
/* line 123, ../scss/style-rtl.scss */
body.i18n-ar div#slash div#boxes-box-welcome_box img.d_ford {
  float: left;
}
/* line 128, ../scss/style-rtl.scss */
body.i18n-ar div#main {
  float: right;
}
/* line 132, ../scss/style-rtl.scss */
body.i18n-ar .view-discussions .views-field-title {
  float: right;
  line-height: 29px;
}
/* line 136, ../scss/style-rtl.scss */
body.i18n-ar .view-discussions .views-field-view-node a {
  font-size: 0.8em;
  line-height: 1.2em;
  padding-bottom: 3px;
  float: left;
}
/* line 142, ../scss/style-rtl.scss */
body.i18n-ar .view-discussions .views-field-php {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
/* line 149, ../scss/style-rtl.scss */
body.i18n-ar #block-views-new_texts-block_1 h3, body.i18n-ar #block-views-new_glossary_terms-block_1 h3 {
  background: url("../images/arrow-collapse-rtl.png") no-repeat right center;
  padding: 10px 20px 10px 0;
}
/* line 153, ../scss/style-rtl.scss */
body.i18n-ar #block-views-nuranis-block_1 h3 {
  background-position: right;
  padding: 10px 20px 10px 0;
}
/* line 157, ../scss/style-rtl.scss */
body.i18n-ar #block-views-nuranis-block_1 h3.collapsed {
  background: url("../images/arrow-collapse-rtl.png") no-repeat right center;
}
/* line 161, ../scss/style-rtl.scss */
body.i18n-ar #block-views-new_texts-block_1 h3.expand, body.i18n-ar #block-views-new_glossary_terms-block_1 h3.expand {
  background: url("../images/arrow-expand.png") no-repeat right center;
}
/* line 165, ../scss/style-rtl.scss */
body.i18n-ar #block-views-new_texts-block_1 .views-row, body.i18n-ar #block-views-new_glossary_terms-block_1 .views-row {
  background: url("../images/point-rtl.png") no-repeat right 6px;
  margin: 0 20px 0 0;
  padding: 0 15px 10px 0;
}
/* line 172, ../scss/style-rtl.scss */
body.i18n-ar div.vertical-tabs {
  float: right;
  margin: 1em 15em 0 0;
}
/* line 176, ../scss/style-rtl.scss */
body.i18n-ar div.vertical-tabs ul.vertical-tabs-list {
  float: right;
  left: auto;
  right: 2em;
}
/* line 181, ../scss/style-rtl.scss */
body.i18n-ar div.vertical-tabs ul.vertical-tabs-list li {
  text-align: right;
}
/* line 184, ../scss/style-rtl.scss */
body.i18n-ar div.vertical-tabs ul.vertical-tabs-list li.selected {
  border-left: 0;
  border-right: 1px solid #ccc;
}

/*discussion*/
/* line 193, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion h1.title {
  margon-top: 40px;
}
/* line 198, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion .field-exp-comments {
  background-position: 270px 33px;
}
/* line 201, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion div#block-views-discussion_texts-block_1 {
  background-position: center 11px;
}
/* line 203, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion div#block-views-discussion_texts-block_1 h3 {
  font-size: 0.9em;
  padding: 0 15px;
  font-size: 1em;
  padding: 0 15px;
}
/* line 209, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion div#block-views-discussion_texts-block_1 h1 {
  text-align: right;
}
/* line 211, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion div#block-views-discussion_texts-block_1 h1 a {
  font-weight: normal;
}
/* line 213, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion div#block-views-discussion_texts-block_1 .content {
  text-align: right;
}
/* line 217, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #sidebar-second {
  text-align: right;
}
/* line 220, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion .view-discussion-texts .views-row {
  float: right;
}
/* line 224, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-inner {
  padding-top: 7px;
}
/* line 227, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-area {
  background-position: -338px 4px;
}
/* line 229, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-area .node-type-discussion {
  margin: 0 20px 0 0;
  padding: 10px 10px 0 0;
}
/* line 233, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-area .node-type-discussion .field-author {
  float: right;
}
/* line 236, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-area .node-type-discussion .field-post-date {
  float: left;
}
/* line 239, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-area .node-type-discussion .field-body {
  padding: 20px 0 0 10px;
}
/* line 242, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-area .node-type-discussion div.field-label {
  font-size: 1em;
  left: 200px;
  font-weight: normal;
  top: -10px;
}
/* line 248, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-area .node-type-discussion p {
  text-align: justify;
}
/* line 251, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-area .node-type-discussion li.nurani_translation a {
  left: auto;
  right: 0px;
}
/* line 257, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-area .translation-status, body.i18n-ar.node-type-discussion #container #content-area .translation-status-original {
  border-radius: 0 5px 0 0;
}
/* line 260, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #content-area .field-translation-status {
  float: left;
  text-align: right;
  margin: 0 0 -1px -1px;
}
/* line 266, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments {
  margin: 0 20px 0 0;
  text-align: right;
}
/* line 270, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments h2#comments-title {
  padding: 0 0 0 238px;
  background: url("../images/borders-comment-ar.png") no-repeat left 10px white;
  padding: 0 242px 0 0;
}
/* line 275, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .buildmode-full {
  padding: 10px 10px 0 0;
}
/* line 278, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .field-author {
  float: right;
}
/* line 281, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .field-post-date {
  float: left;
  padding: 0 0 0 10px;
}
/* line 286, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .node .field-body {
  margin: 20px 0 0 10px;
}
/* line 288, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .node .field-body p {
  margin: 0 0 1em 0;
}
/* line 293, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .nd-region-footer {
  text-align: right;
}
/* line 295, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments .nd-region-footer ul.links {
  line-height: 20px;
  right: 10px;
}
/* line 300, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #comments label {
  float: right;
  margin: 0 0 0 10px;
}
/* line 305, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #sidebar-second {
  margin-left: 0;
  margin-right: 0;
}
/* line 309, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #container #sidebar-second #sidebar-second-inner {
  padding-right: 7px;
  padding-left: 20px;
}
/* line 315, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #outer-footer ul#secondary li.last a {
  border-right: 1px dotted #8D6349;
}
/* line 318, ../scss/style-rtl.scss */
body.i18n-ar.node-type-discussion #outer-footer ul#secondary li.first a {
  border-right: 0;
}

/* line 322, ../scss/style-rtl.scss */
body.i18n-ar.section-node-edit div#container {
  text-align: right;
}
