@charset "UTF-8";
/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/*dark colors*/
/* ================== */
/* = "soft buttons" = */
/* ================== */
/* =================== */
/* = toggle buttons = */
/* =================== */
/* ================ */
/* = icon buttons = */
/* ================ */
/*aapplied to list*/
/* line 5, ../scss/tabs.scss */
ul.tabs {
  float: left;
  width: 500px;
  background: transparent;
}
/* line 9, ../scss/tabs.scss */
ul.tabs li {
  padding: 10px 0px 0px;
  float: left;
  display: inline;
  text-align: center;
}
/* line 14, ../scss/tabs.scss */
ul.tabs li a {
  padding: 5px 8px;
  font-family: arial, sans-serif;
  font-weight: 0;
  position: relative;
  z-index: -10;
  color: #888;
  color: #c3c3c3;
}
/* line 24, ../scss/tabs.scss */
ul.tabs li a.active {
  border: 1px solid #c3c3c3;
  -moz-box-shadow: #bfbfbf 0px 1px 2px 1px inset;
  -webkit-box-shadow: #bfbfbf 0px 1px 2px 1px inset;
  -o-box-shadow: #bfbfbf 0px 1px 2px 1px inset;
  box-shadow: #bfbfbf 0px 1px 2px 1px inset;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  color: black;
}

/* line 35, ../scss/tabs.scss */
ul.primary {
  border-bottom-width: 0px;
}
