@charset "UTF-8";
/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/*dark colors*/
/* line 6, ../scss/texts.scss */
body.page-texts #main {
  width: auto;
}
/* line 9, ../scss/texts.scss */
body.page-texts #main #content {
  margin-left: 0;
  width: 960px;
}
/* line 2, ../scss/_tables.scss */
body.page-texts #main #content .views-table {
  font-size: 12px;
  background: #fff;
  border-collapse: collapse;
  text-align: left;
  width: 920px;
  margin: 0;
}
/* line 10, ../scss/_tables.scss */
body.page-texts #main #content .views-table thead {
  -moz-box-shadow: #c3c3c3 1px 1px 3px 1px inset;
  -webkit-box-shadow: #c3c3c3 1px 1px 3px 1px inset;
  -o-box-shadow: #c3c3c3 1px 1px 3px 1px inset;
  box-shadow: #c3c3c3 1px 1px 3px 1px inset;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d8d8d8), color-stop(100%, #f2f2f2));
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #f2f2f2 100%);
  background-image: linear-gradient(top, #d8d8d8 0%, #f2f2f2 100%);
  padding: 15px 0;
  height: 60px;
  color: #fff;
  border-top: 1px solid black;
  font-size: 1.6em;
  color: #7c0000;
}
/* line 21, ../scss/_tables.scss */
body.page-texts #main #content .views-table th, body.page-texts #main #content .views-table th a {
  font-weight: normal;
  color: #7c0000;
  padding: 10px 8px;
  text-decoration: none;
}
/* line 28, ../scss/_tables.scss */
body.page-texts #main #content .views-table td {
  color: #333;
  padding: 9px 8px 0px 8px;
}
/* line 33, ../scss/_tables.scss */
body.page-texts #main #content .views-table td.views-field-title {
  background: #eee;
  width: 130px;
}
/* line 37, ../scss/_tables.scss */
body.page-texts #main #content .views-table td.views-field-field-part-of-speech-value {
  width: 120px;
}
/* line 40, ../scss/_tables.scss */
body.page-texts #main #content .views-table tbody tr:hover td {
  background-color: white;
}
/* line 42, ../scss/_tables.scss */
body.page-texts #main #content .view-glossary-terms .views-table {
  width: 510px;
}
/* line 16, ../scss/texts.scss */
body.page-texts #main #content tr td {
  width: 150px;
  max-width: 150px;
  overflow: hidden;
  line-height: 1em;
  vertical-align: top;
  font-size: 1.2em;
}
/* line 26, ../scss/texts.scss */
body.page-texts #main #content tbody div.field-items {
  height: 50px!important;
}
/* line 30, ../scss/texts.scss */
body.page-texts #main #content td.views-field-title {
  font-size: 1.4em;
}
/* line 35, ../scss/texts.scss */
body.page-texts #main #content div.user-picture img {
  border: none;
}

/* line 44, ../scss/texts.scss */
.node-type-text ul.menu li.last {
  background: url("../images/bkg_active_nav.png") -5px bottom transparent;
}
/* line 46, ../scss/texts.scss */
.node-type-text ul.menu li.last a {
  background: url("../images/t_active.png") no-repeat scroll 10px 20px transparent;
}
