@charset "UTF-8";
/* theme core colors*/
/*basics*/
/*section names */
/*bright colors*/
/*dark colors*/
/* arabic fonts for scripture */
@font-face {
  font-family: 'UthmanTN';
  src: url("/sites/all/themes/nurani/fonts/UthmanTN1v9.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UthmanTNBold';
  src: url("/sites/all/themes/nurani/fonts/UthmanTN1Bv9.otf");
  font-weight: normal;
  font-style: normal;
}

/* the English fonts are from typekit*/
/* the English fonts -New changes for June 15th- */
@font-face {
  font-family: 'BergamoStd-BoldItalic-webfont';
  src: url("/sites/all/themes/nurani/fonts/BergamoStd-BoldItalic-webfont.ttf");
}

/*CGB TODO: not sure what the arabic language selector is*/
/* line 29, ../scss/type.scss */
body.ar {
  font-family: UthmanTN, Tahoma;
}

/* line 64, ../scss/type.scss */
body {
  margin: 0;
  font-family: BergamoStd-BoldItalic-webfont, "adobe-caslon-pro-1","adobe-caslon-pro-2", Times, serif;
  font-size: 1.05em;
}

/* Titles. */
/* line 71, ../scss/type.scss */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 78, ../scss/type.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-weight: normal;
  font-family: BergamoStd-BoldItalic-webfont, serif;
}

/* line 84, ../scss/type.scss */
h1 {
  font-size: 1.8em;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #7c0000;
  font-style: italic;
}

/* line 94, ../scss/type.scss */
h2 {
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 99, ../scss/type.scss */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
  margin-top: 10px;
}

/* line 105, ../scss/type.scss */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 109, ../scss/type.scss */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 114, ../scss/type.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 119, ../scss/type.scss */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
/* line 123, ../scss/type.scss */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 128, ../scss/type.scss */
table {
  width: 99%;
}

/* line 133, ../scss/type.scss */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 136, ../scss/type.scss */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 140, ../scss/type.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 144, ../scss/type.scss */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 152, ../scss/type.scss */
ul {
  list-style-type: disc;
}
/* line 154, ../scss/type.scss */
ul ul {
  list-style-type: circle;
}
/* line 156, ../scss/type.scss */
ul ul ul {
  list-style-type: square;
}
/* line 158, ../scss/type.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 161, ../scss/type.scss */
ol {
  list-style-type: decimal;
}
/* line 163, ../scss/type.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 165, ../scss/type.scss */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 169, ../scss/type.scss */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* line 174, ../scss/type.scss */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 178, ../scss/type.scss */
#system-themes-form img {
  width: 100px;
}

/* line 181, ../scss/type.scss */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 188, ../scss/type.scss */
#edit-delete {
  color: #cc0000;
}

/* line 201, ../scss/type.scss */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
  text-align: center;
}

/* line 202, ../scss/type.scss */
div.warning {
  padding: 9px;
  margin: 1em 0;
  color: #884400;
  background: #ffee66;
  border: 1px solid #eedd55;
  text-align: center;
}

/* line 203, ../scss/type.scss */
div.error {
  padding: 9px;
  margin: 1em 0;
  color: white;
  background: #ee6633;
  border: 1px solid #dd5522;
  text-align: center;
}

/* line 204, ../scss/type.scss */
div.status {
  padding: 9px;
  margin: 1em 0;
  color: #336600;
  background: #ccff88;
  border: 1px solid #bbee77;
  text-align: center;
}

/* line 206, ../scss/type.scss */
h1.title {
  margin: 0;
  padding: 30px 0 0 0;
}
