# Never add SQL files to the repository
*.sql
*.sql.gz
*.sql.bz2

# Never add local settings files
settings.local.php

# Project files, and other junk
*.kpf
*.komodoproject
*.proj
*.tmp
.DS_Store?
Icon?
Thumbs.db
.bundle
