// Variables
// ---------
// Use the same color all over the place? Need to do
// some math with height and width and text size?
// Sass supports variables as well as wireframes math
// operations and many useful functions.
//
// For complete documentation:
// http://scss-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_
//
// Available functions:
// http://scss-lang.com/docs/yardoc/Sass/Script/Functions.html

// Sidebar widths.
$first_sidebar_width: 190px;
$second_sidebar_width: 200px;


// Colors
$text_color: #444;
$text_color_dark: darken($text_color, 30%);
$text_color_light: lighten($text_color, 30%);

$meedan_blue: #2e94d3;
$meedan_orange: #ef4716;
$meedan_yellow: #fcc809;
$meedan_green: #76b423;

$page_group_color: #e6e6e6;
