/*Mixin to style Username links*/
/*mixin to style discussion lock & print pdf*/
/* Mixin to style attribution class and links */
/* line 9, ../../../../themes/nurani/scss/_typography.scss */
.printpdf {
  background: url(../images/print.png) center left no-repeat;
  margin: 1em 0 1em 0;
  padding: 1em 0 0 3em;
  color: #4a4a4a;
  font-size: 1.2em;
  text-decoration: none;
}
/* line 16, ../../../../themes/nurani/scss/_typography.scss */
.printpdf:hover {
  text-decoration: underline;
}

/* line 21, ../../../../themes/nurani/scss/_typography.scss */
body {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 26px;
  color: #4c1313;
}

/* line 29, ../../../../themes/nurani/scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue;
}

/* line 33, ../../../../themes/nurani/scss/_typography.scss */
h1, h2 {
  text-align: center;
}

/* line 35, ../../../../themes/nurani/scss/_typography.scss */
p {
  font-size: 1em;
  /* 14px */
}

/* line 41, ../../../../themes/nurani/scss/_typography.scss */
h1 {
  font-size: 2.4286em;
  /* 34px */
  line-height: 1.5294em;
  /* 52px */
  margin-top: 0.7647em;
  margin-bottom: 0em;
  font-weight: bold;
}

/* line 49, ../../../../themes/nurani/scss/_typography.scss */
h2 {
  font-size: 1.3em;
  /* 30px */
  line-height: 0.7333em;
  /* 52px */
  margin-bottom: 0em;
  font-weight: normal;
}

/* line 57, ../../../../themes/nurani/scss/_typography.scss */
h3 {
  font-size: 1.3em;
  line-height: 1.4444em;
  margin-top: 1.4444em;
  margin-bottom: 0em;
}

/* line 64, ../../../../themes/nurani/scss/_typography.scss */
h4 {
  font-size: 1em;
  font-weight: normal;
  margin-top: -0.5em;
  margin-bottom: 1.5em;
}

/* line 71, ../../../../themes/nurani/scss/_typography.scss */
ul, ul li {
  list-style-type: disc;
  list-style: none;
}

/* line 75, ../../../../themes/nurani/scss/_typography.scss */
ol, ol li {
  list-style: decimal;
}

/* line 78, ../../../../themes/nurani/scss/_typography.scss */
sup {
  font-size: xx-small;
  vertical-align: super;
}

/******************************************** Global Form Styling ********************************************/
/* line 17, ../../../../themes/nurani/scss/_forms.scss */
.form-text, .form-textarea, select {
  top: 4px;
  padding: 3px 10px;
  font-size: 16px;
  border: 0;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 0 2.1px inset 0px 5px #cccccc;
  -moz-box-shadow: 0 0 0 2.1px inset 0px 5px #cccccc;
  box-shadow: 0 0 0 2.1px inset 0px 5px #cccccc;
}

/* line 21, ../../../../themes/nurani/scss/_forms.scss */
input.form-submit, .button {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0064B8', endColorstr='#FF002C52');
  background-color: #0064b8;
  border: 0;
  color: white;
  text-shadow: #001f39 0 -1px 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 15, ../../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input.form-submit:hover, .button:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input.form-submit:hover, .button:hover {
  background-color: #00569f;
}
/* line 44, ../../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input.form-submit:active, .button:active {
  background-color: #004d8f;
}
/* line 6, ../../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input.form-submit.disabled, input.form-submit[disabled], .button.disabled, .button[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
input.form-submit::-moz-focus-inner, .button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 29, ../../../../themes/nurani/scss/_forms.scss */
input.date-clear {
  background: url(../images/calendar.png) no-repeat 154px 1px;
}

/* line 34, ../../../../themes/nurani/scss/_forms.scss */
.form-type-date-popup label, #edit-picture label {
  display: none;
}

/******************************************** Styling for User account forms ********************************************/
/* line 42, ../../../../themes/nurani/scss/_forms.scss */
.field-group-fieldset, fieldset {
  border: none;
}

/* line 50, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register label {
  font-weight: lighter;
}
/* line 55, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register .field-type-list-text, .page-user-register .field-type-text, .page-user-register .field-type-datetime,
.page-user-register #edit-picture, .page-user-register .form-type-textarea, .page-user-register .form-item-mail {
  display: inline-block;
  float: left;
  margin-right: 30px;
}
/* line 60, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register .field-type-datetime {
  clear: left;
}
/* line 67, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register .field-name-field-title,
.page-user-register .field-name-field-mobile-phone,
.page-user-register .field-name-field-how-did-you-hear-about-us,
.page-user-register .field-name-field-subjects-of-interest {
  clear: both;
}
/* line 71, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register .form-item-mail {
  width: 425px;
}
/* line 75, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register .form-type-textarea {
  width: 500px;
}
/* line 79, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register #edit-picture .fieldset-wrapper {
  width: 280px;
}
/* line 82, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register .field-group-fieldset {
  margin-top: 30px;
}
/* line 86, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register #field-date-of-birth-add-more-wrapper {
  margin-left: -16px;
  margin-top: 20px;
}
/* line 91, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register .date-no-float {
  margin-top: -16px;
  margin-left: -11px;
}
/* line 96, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register .field-group-fieldset > legend, .page-user-register #edit-legal > legend {
  text-align: center;
  background: url(../images/bevel.jpg);
  width: 100%;
  margin-right: 1.69492%;
  display: inline;
}
/* line 103, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register .field-group-fieldset > legend .fieldset-legend, .page-user-register #edit-legal > legend .fieldset-legend {
  font-family: palatino;
  font-style: italic;
  font-size: 2.1429em;
  text-decoration: none;
  color: #4c1313;
  background: url(../images/brown_bkg.png);
  padding: 20px;
}
/* line 115, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register .form-type-textarea label {
  width: 466px;
}
/* line 119, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register #edit-legal {
  position: relative;
}
/* line 122, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register #edit-legal div.fieldset-wrapper {
  overflow-y: auto;
  height: 400px;
  padding-bottom: 2em;
}
/* line 127, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register #edit-legal div.fieldset-wrapper div.form-item-legal-accept {
  position: absolute;
  bottom: 0;
  top: 30em;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 2em;
}
/* line 140, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register input#edit-field-post-code-und-0-value {
  width: 250px;
}
/* line 143, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register select#edit-field-country-und {
  width: 158px;
}
/* line 147, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register input#edit-field-mobile-phone-und-0-value,
.page-user-register input#edit-field-occupation-und-0-value {
  width: 480px;
}
/* line 150, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register input#edit-field-landline-phone-und-0-value {
  width: 435px;
}
/* line 153, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register .form-item-files-picture-upload {
  margin-top: -7px;
}
/* line 157, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register input#edit-field-first-name-und-0-value,
.page-user-register input#edit-field-last-name-und-0-value {
  width: 400px;
}
/* line 161, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register input#edit-mail {
  width: 350px;
}
/* line 165, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register input#edit-picture-upload {
  width: 200px;
}
/* line 168, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register #edit-picture {
  margin-top: 15px;
}
/* line 173, ../../../../themes/nurani/scss/_forms.scss */
.page-user-register input.form-submit {
  margin-left: 12px;
  margin-top: 30px;
}

/******************************************** Nurani profile form ********************************************/
/* line 182, ../../../../themes/nurani/scss/_forms.scss */
.profile {
  padding: 5px 15px;
}
/* line 185, ../../../../themes/nurani/scss/_forms.scss */
.profile .field-group-fieldset > legend {
  margin: 0 auto;
}
/* line 187, ../../../../themes/nurani/scss/_forms.scss */
.profile .field-group-fieldset > legend .fieldset-title {
  font-size: 1.2em;
  font-family: palatino;
  font-style: italic;
  text-decoration: none;
  color: #005eae;
}
/* line 196, ../../../../themes/nurani/scss/_forms.scss */
.profile #edit-timezone--2,
.profile .field-group-fieldset .legend {
  width: 450px;
}
/* line 199, ../../../../themes/nurani/scss/_forms.scss */
.profile .form-actions {
  display: inline;
  margin-right: 10px;
}
/* line 203, ../../../../themes/nurani/scss/_forms.scss */
.profile .button {
  display: block;
  text-decoration: none;
  width: 88px;
  margin: 0 auto;
}

/* line 214, ../../../../themes/nurani/scss/_forms.scss */
#user-profile-form .group-additional-details, #user-profile-form .group-details, #user-profile-form #edit-legal, #user-profile-form .group-profile {
  padding: 0;
  overflow: hidden;
  width: 100%;
}
/* line 221, ../../../../themes/nurani/scss/_forms.scss */
#user-profile-form fieldset.group-profile > .fieldset-wrapper {
  padding: 5px;
}
/* line 225, ../../../../themes/nurani/scss/_forms.scss */
#user-profile-form fieldset.group-profile > .fieldset-wrapper .field-name-field-title,
#user-profile-form fieldset.group-profile > .fieldset-wrapper .field-name-field-first-name,
#user-profile-form fieldset.group-profile > .fieldset-wrapper .field-name-field-last-name, #user-profile-form fieldset.group-profile > .fieldset-wrapper .field-type-datetime {
  display: inline-block;
  margin-right: 10px;
  float: left;
}
/* line 230, ../../../../themes/nurani/scss/_forms.scss */
#user-profile-form fieldset.group-profile > .fieldset-wrapper .field-name-field-title input.form-text,
#user-profile-form fieldset.group-profile > .fieldset-wrapper .field-name-field-first-name input.form-text,
#user-profile-form fieldset.group-profile > .fieldset-wrapper .field-name-field-last-name input.form-text, #user-profile-form fieldset.group-profile > .fieldset-wrapper .field-type-datetime input.form-text {
  width: 120px;
}

/* line 240, ../../../../themes/nurani/scss/_forms.scss */
#user-profile-form #edit-legal legend {
  margin: 0 auto;
}
/* line 243, ../../../../themes/nurani/scss/_forms.scss */
#user-profile-form #edit-legal > .fieldset-wrapper {
  padding: 8px 30px;
  height: 400px;
  overflow-y: auto;
}

/******************************************** Contact us form ********************************************/
/* line 255, ../../../../themes/nurani/scss/_forms.scss */
.node-type-webform textarea {
  width: 450px;
}

/**** Styling Node discussion Forms ****/
/* line 16, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .inner > .passage-text {
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #8b000e;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #ccc6c2;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc6c2;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: #ccc6c2;
  background: #f1e9e4;
}
/* line 9, ../../../../themes/nurani/scss/helpers/_bundle.scss */
.node-discussion-form .inner > .passage-text .error {
  margin-top: 2em;
  background-repeat: no-repeat;
  background-position: top-left;
  padding: 0 0 0 2em;
  background-color: transparent;
}
/* line 16, ../../../../themes/nurani/scss/helpers/_bundle.scss */
.node-discussion-form .inner > .passage-text .error .message {
  margin-bottom: 1em;
  font-weight: bold;
}
/* line 23, ../../../../themes/nurani/scss/helpers/_bundle.scss */
.node-discussion-form .inner > .passage-text .passage-widget .verse {
  margin: 0 0.5em;
}
/* line 26, ../../../../themes/nurani/scss/helpers/_bundle.scss */
.node-discussion-form .inner > .passage-text .passage-widget h4 {
  margin-bottom: 1em;
}
/* line 27, ../../../../themes/nurani/scss/helpers/_bundle.scss */
.node-discussion-form .inner > .passage-text .passage-widget p {
  font-family: palatino;
  margin-top: 0.5em;
  display: inline;
}
/* line 35, ../../../../themes/nurani/scss/helpers/_bundle.scss */
.node-discussion-form .inner > .passage-text .passage-widget .bib .moderator_s_thoughts p {
  font-size: 1.1429em;
  text-indent: justify;
  color: #4a4a4a;
  margin-bottom: 2em;
}
/* line 41, ../../../../themes/nurani/scss/helpers/_bundle.scss */
.node-discussion-form .inner > .passage-text .passage-widget .bib .moderator_s_thoughts span.attribution {
  margin-top: -1em;
  padding-right: 20px;
  float: right;
}
/* line 4, ../../../../themes/nurani/scss/helpers/_links.scss */
.node-discussion-form .inner > .passage-text .passage-widget .bib .moderator_s_thoughts span.attribution a {
  color: #005eae;
  font-weight: bold;
  text-decoration: none;
}
/* line 19, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .inner > .passage-text > .remove-passage-action {
  font-size: 0;
  background: url(images/remove2.png) no-repeat;
  height: 52px;
  border: none;
  position: absolute;
  right: -2px;
  top: 4px;
}
/* line 31, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .clone-bundle,
.node-discussion-form .passage-boxes .inner {
  margin: 0 auto;
}
/* line 35, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .clone-bundle {
  text-align: center;
}
/* line 39, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .bib {
  border: 1px solid #ccc6c2;
  margin-left: 10px;
  margin-top: -1em;
  padding: 2em 1em 1em;
  width: 280px;
  background: #ddd;
}
/* line 49, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .form-text {
  top: 4px;
  padding: 3px 10px;
  font-size: 16px;
  border: 0;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 0 2.1px inset 0px 5px #cccccc;
  -moz-box-shadow: 0 0 0 2.1px inset 0px 5px #cccccc;
  box-shadow: 0 0 0 2.1px inset 0px 5px #cccccc;
  height: 22px;
}
