/* line 10, scss/nurani_helpers_bundle_ui.scss */
#overlay-content,
#overlay-content #branding,
#overlay-content #page {
  background: #eee4dd;
}

/**** Styling Node discussion Forms ****/
/* line 17, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .form-item-title,
.node-discussion-form .form-item-field-subtitle-und-0-value {
  text-align: center;
}
/* line 19, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .form-item-title label,
.node-discussion-form .form-item-field-subtitle-und-0-value label {
  display: inline-block;
}
/* line 25, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .inner > .passage-text {
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #8b000e;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #ccc6c2;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc6c2;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: #ccc6c2;
  background: #f1e9e4;
}
/* line 30, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .clone-bundle,
.node-discussion-form .passage-boxes .inner {
  margin: 0 auto;
}
/* line 34, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .clone-bundle,
.node-discussion-form .passage-boxes {
  text-align: center;
}
/* line 38, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .bib {
  border: 1px solid #ccc6c2;
  margin-left: 10px;
  margin-top: -1em;
  padding: 2em 1em 1em;
  width: 280px;
  background: #ddd;
}
/* line 47, scss/nurani_helpers_bundle_ui.scss */
.node-discussion-form .form-text {
  top: 4px;
  padding: 3px 10px;
  font-size: 16px;
  border: 0;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #eee;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 0 1px 0.1px #cccccc;
  -moz-box-shadow: inset 0 0 1px 0.1px #cccccc;
  box-shadow: inset 0 0 1px 0.1px #cccccc;
  height: 30px;
}
