#tooltip {
  /* Mandatory positioning */
  position: absolute;
  display: none;
  z-index: 100;

  /* Fairly important constraints */
  width: 15em;
  min-height: 5em;

  /* Optional initial style, this can be removed */
  border-radius: 1em;
  background: #fff;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.5);
  padding: 1em;
  color: #333;
}
#tooltip.loading {
  background: rgba(0, 0, 0, 0.5);
}