/* line 3, scss/nurani_profile.scss */
#tooltip {
  position: absolute;
  display: none;
  z-index: 1000;
}

/* line 8, scss/nurani_profile.scss */
.tooltip-processed {
  display: inline-block;
  /* Helps the tooltip get positioned correctly above the link */
}

/* line 13, scss/nurani_profile.scss */
.profile h3 {
  border-bottom: 1px solid #4c1313;
}
/* line 17, scss/nurani_profile.scss */
.profile .field-group-format, .profile > .field {
  margin-bottom: 1em;
}
/* line 19, scss/nurani_profile.scss */
.profile .field-group-format h3, .profile > .field h3 {
  margin-bottom: 1em;
  width: 11em;
}
/* line 25, scss/nurani_profile.scss */
.profile .field-group-format-wrapper > .field {
  display: inline-block;
  margin-right: 10px;
}
/* line 30, scss/nurani_profile.scss */
.profile .user-picture {
  margin: 0 1em 1em 1em;
}

/* Optional initial style, this can be removed / adjusted */
/* line 38, scss/nurani_profile.scss */
#tooltip {
  width: 20em;
  min-height: 5em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.5);
  padding: 1em;
  color: #333;
  border: 1px solid #4c1313;
}

/* line 49, scss/nurani_profile.scss */
#tooltip.loading {
  background: rgba(0, 0, 0, 0.5);
}
