/*Explorer tabs*/
.nodereference-explorer-tabset .ui-tabs-nav,
.nodereference-explorer-tabset.ui-tabs-nav {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
	float: left;
	position: relative;
	z-index: 1;
	border-right: 1px solid #d3d3d3;
	bottom: -1px;
}
.nodereference-explorer-tabset .ui-tabs-nav ul,
.nodereference-explorer-tabset.ui-tabs-nav ul {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
}

.nodereference-explorer-tabset .ui-tabs-nav li,
.nodereference-explorer-tabset.ui-tabs-nav li {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	float: left;
	border: 1px solid #d3d3d3;
	border-right: none;
}

.nodereference-explorer-tabset .ui-tabs-nav li a,
.nodereference-explorer-tabset.ui-tabs-nav li a {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	float: left;
	font-size: 1em;
	font-weight: normal;
	text-decoration: none;
	padding: .5em 1.7em;
	color: #555555;
	background: #e6e6e6;
}

.nodereference-explorer-tabset .ui-tabs-nav li a:hover,
.nodereference-explorer-tabset.ui-tabs-nav li a:hover {
	background: #dadada;
	color: #212121;
}

.nodereference-explorer-tabset .ui-tabs-nav li.ui-tabs-selected,
.nodereference-explorer-tabset.ui-tabs-nav li.ui-tabs-selected {
	border-bottom-color: #ffffff;
}

.nodereference-explorer-tabset .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-nav li.ui-tabs-selected a:hover,
.nodereference-explorer-tabset.ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-nav li.ui-tabs-selected a:hover {
	background: #ffffff;
	color: #212121;
}

.nodereference-explorer-tabset .ui-tabs-panel,
.nodereference-explorer-tabset.ui-tabs-panel {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Verdana,Arial,sans-serif;
	clear:left;
	border: 1px solid #d3d3d3;
	background: #ffffff;
	color: #222222;
	padding: 1.5em 1.7em;	
	font-size: 1.1em;
}
.nodereference-explorer-tabset .ui-tabs-hide,
.nodereference-explorer-tabset.ui-tabs-hide {
	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/;
}