/* Themes list of comments and preview on discussion page */

/*Mixin to style attribution class*/
@mixin attribution($color){
    @include username-links($color); 
}

.comment-inner{
  padding:35px;
  .user-picture{
    float:left;
    margin:0 1em 0 -1em;
    a{
      float:left;
    }
  }
  .content{    	
    margin-left:4em;
    color:$nurani-text-gray;
    .attribution{ 
      float:right;
      @include attribution($nurani-light-blue);
    }
  }

  .links{
    margin-left:1.5em; 
    margin-top:1em;
    a{
      @include nurani-button($nurani-light-blue);
      text-transform: uppercase;
      text-decoration: none;
      font-weight:bold;
      &:hover{
        color: #fff;
        text-decoration: none;
      }
    }
 }
}


 