/* Themes list of comments and preview on discussion page */

.comment-inner{
  padding:35px;
  .user-picture{
    float:left;
    margin:0 1em 0 -1em;
    a{
      float:left;
    }
  }
  .content{    	
    margin-left:4em;
    color:$nurani-text-gray;
    .attribution{ 
      float:right;
      @include username-links(#000);
    }
  }

  .links{
    margin-left:1.5em; 
    margin-top:1em;
    a{
      @include nurani-button($nurani-light-blue, 12px, darken(#fff, 10%));
      @include border-radius(1.5em);
      &:hover{
        color: #fff;
      }
    }
 }
}


 