
.block-nurani-comment{
  h2.block-title{display:none;}

  background:$nurani-light-blue;
  margin-bottom:20px;
  margin-top:86px;

  form{
    padding:20px;
    color:#fff;

    div.head{
      .user-picture{
        float:left;
        a{float:left;}
      }
      .info{margin-left:6em;
      @include username-links(#fff);

      }
      .tip{ margin-top:2em;}

    }

  	.form-textarea-wrapper textarea{
  	  height:200px;
  	}

    label, .form-text, .filter-wrapper{
      display:none;
    }
    .form-submit{
      @include nurani-button($nurani-dark-blue);
      text-transform: uppercase;
      font-weight: bold;
      margin-right:0.5em;
    }

    .form-actions {
      float:right;
    }
     

  }
}




