
/* This themes list of comments and preview on discussion page */
.comment-inner{
  padding:35px;
  ul, ol{  
    padding: 0 2em 0 2em;
  }

  ul, ul li{
    list-style: disc;
  }
  .user-picture{
    float:$from-direction;
    margin:0 1em 0 -1em;
    a{
      float:$from-direction;
    }
  }
  .content{    	
   
    color:$nurani-text-gray;
    .attribution{ 
      float:opposite-position($from-direction);
      @include attribution($nurani-light-blue);
    }
  }

  .links{
   
    margin-top:1em;
    a{
      @include nurani-button($nurani-light-blue);
      text-transform: uppercase;
      text-decoration: none;
      font-weight:bold;
      &:hover{
        color: #fff;
        text-decoration: none;
      }
    }
 }
}


 