
.block-nurani-comment{

  background:$nurani-light-blue;
  margin-bottom:20px;
  margin-top:86px;

  form{
    padding:20px;
    color:#fff;

    div.head{
      .user-picture{float:left;}
      .info{margin-left:4em;
      @include username-links(#fff);

      }
      .tip{ margin-top:1em;}

    }

  	.form-textarea-wrapper textarea{
  	  height:200px;
  	}

    label, .form-text, .filter-wrapper{
      display:none;
    }

  }
}




