@mixin form-field {
  top: 4px;
  width:320px;
  padding: 3px 10px;
  font-size: 16px;
  border: 0;
  // color:($nurani-gray);

  @include border-radius(0.2em);
  background: #fff;
  border: 1px solid #ccc;

  @include single-box-shadow(#ccc, 0 0 0 2.1px inset);
}

@mixin user-account-form{
	input.form-submit {
    @include nurani-button($nurani-light-blue);
    color:white;
    font-weight:bold;
  }
}

@include user-account-form;

.page-user-register, .page-user, .page-user-password{
  #content-inner{
    margin: 0 auto;
    width:1100px;
  }
}

.page-user-register{
  #content-inner{
    margin: 0 auto;
    width:1100px;
  }
   .field-group-fieldset{
     & > legend{
       text-align:center;
       background:url(../images/bevel.jpg);
       width: 100%;
       margin-right: 1.69492%;
       display: inline;

       .fieldset-title{
          @include bundle-typography-regular;
          font-size: 2.1429em;
          text-decoration:none;
          color:$nurani-burgundy;
          background: url(../images/brown_bkg.png);
          padding:20px;
       }

    }
  }
}

.form-text, .form-textarea, select{
  @include form-field;
}

.field-group-fieldset, fieldset{
  border:none;
}

.field-group-fieldset{
  margin-top:30px;

}

.field-name-field-title,
.field-name-field-mobile-phone, 
.field-name-field-how-did-you-hear-about-us,
.field-name-field-subjects-of-interest{
  clear:both;
}

.page-user-register .form-type-textarea{
  width:500px;
}
.form-item-mail{
  width:388px;
}

#edit-picture{
  width: 300px;
}

.field-type-list-text, .page-user-register .field-type-text, .field-type-datetime,
#edit-picture, .page-user-register .form-type-textarea, .form-item-mail{
  display:inline;
  float:left;
  margin-right:10px;
}
.field-type-datetime, #edit-picture{
  legend{
    display:none;
  }
}

input.date-clear{
  background: url(../images/calendar.png) no-repeat 154px 1px;

}





