
/*globally applied css*/
@import "typography";
@import "media-queries";
@import "header";
@import "top-strip";
@import "comments";
@import "user-profile";
@import "forms";


*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  background: #F1E9E4 url('../images/brown_bkg.gif') repeat fixed center right;
}

.region-top-strip {
  background: #fff;
  padding: 4px 20px 0;
}

#main{ 
  @include container;
  @include susy-grid-background;

  & > #content{
  //shortcut for suffix and prefix - create 2 cols empty space left and right
  @include pad (1,1);
  @include span-columns(18,20);
}
 
}

#header{
   height:39px;
  @include container;
 /* @include susy-grid-background;*/

 }

#content-inner{
    #content-area{
      margin-bottom:4em;
    }

    #content-bottom{

      #content-bottom-left{
        float:left;
        @include span-columns(11,18);
      }
    
      #content-bottom-right{
        float:left;
        @include span-columns(6 omega,18);
      }
    }
}






