
/*globally applied css*/
@import "typography";
@import "media-queries";
@import "header";
@import "top-strip";
@import "comments";
@import "user-profile";
@import "forms";
@import "footer";
// @import "nurani-print";



*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  background: #F1E9E4 url('../images/brown_bkg.gif') repeat fixed center right;
}

.region-top-strip {
  background: #fff;
  padding: 4px 20px 0;
}

/* Default layout style */ 
#main{ 
  @include container;
  margin-bottom:5em;

  & > #content{
    @include pad (1,1); //shortcut for suffix and prefix - create 2 cols empty space left and right
    @include span-columns(18,20);
  }
}

#header{
   height:39px;
  @include container;
 }

#content-inner{
    #content-area{
      margin-bottom:4em;
    }

    #content-bottom{

      #content-bottom-left{
        float:left;
        @include span-columns(11,18);
      }
    
      #content-bottom-right{
        float:left;
        @include span-columns(6 omega,18);
      }
    }
}

#footer, .footer, ul.footer-logos{
  width:1100px;
  margin:10px auto;
  text-align:center;
}

/* fixed width and centralised Div on Basic pages and registration form */
@mixin basic-page-layout{
  margin:0 auto;
}

.node-type-page, .page-legal{

  #content-inner{
    @include basic-page-layout;
  }

  #content-area{
    background:#fff;
    padding:0;

    .region-content{
      padding:10px 40px 0 40px;
      text-align: left;
    } 

  }
  
}

.page-user-register, .page-user, .page-user-password{
  #content-inner{
    width: 1200px;
    @include basic-page-layout;
  }
}




