/** menu links fall below the other as screen size reduces **/
@media only screen and (max-width: 1024px){
  #top-strip {
    .block {
      float: left;
      clear: both;
      padding: 15px;
    }

    #block-menu_block-nurani_main_menu ul li {
      a {
        padding: 2px;
      }
    }
  }
}