
#top-strip{

  #block-block-1{
    margin-top:10px;
    @include span-columns(5 omega, 20); // span last 5 cols of the grid

  }

  #block-menu_block-nurani_main_menu{
    @include span-columns(8,20); //spans first 8 columns of the grid
    padding:10px;

    ul li{
      list-style-type: none;
      display: inline;
      a{
        /*font-size:1.625em;*/
        font-size:1.5em;
        float: left;
        display: block;
        padding: 0 5px;
        margin: 0 1px 0 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: $nurani-burgundy;
        
      }
    }
  }  
}

