
  #block-nurani_helpers-welcome_login{
    margin-top:-31px;
    width:25%;
    float:opposite-position($from-direction);
    font-size:1.2em;
    color:$nurani-text-gray;

    .welcome{
        @include username-links(#000);
    }

    .logout, .login{ 
      margin-#{$from-direction}:50px;
      font-weight: bold;
      text-transform:uppercase;
      a{
        text-decoration: none;
        color:$nurani-text-gray;
      }
    }
   

  }

  #block-menu_block-nurani_main_menu{
    width:45%;
    padding:10px;

    ul li{
      list-style-type: none;
      display: inline;
      a{
        /*font-size:1.625em;*/
        font-size:1.5em;
        float: $from-direction;
        display: block;
        padding: 0 5px;
        margin: 0 1px 0 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: $nurani-burgundy;
        
      }
    }
  }  


