@mixin table-styles {
  .views-table {
    font-size: 12px;
    border-collapse: collapse;
    text-align: left;
    width:920px;
    margin: 0;

    thead {
      padding: 15px 0;
      height: 30px;
      font-size: 1.4em;
    }

    th, th a {
      font-weight: normal;
      padding: 5px 8px;
      text-decoration: none;
    }
    
    td {
      color: #333;
      padding: 9px 8px 0px 8px;

    }
   td.views-field-title {
		background: #eee;
		width: 130px;
} 
	td.views-field-field-part-of-speech-value {
		width: 120px;	
}
    tbody tr:hover td { background-color: white; }  
  }
.view-glossary-terms .views-table {
	width: 510px;
}
}
