.region-top-strip .block {
  // No block in the top-strip should ever have a title
  h2 {
    display: none;
  }

  padding: 30px;
}

#block-locale-language {
  float: opposite-position($from-direction);
  margin-top: 5px;

  ul {
    li a {
      @include top-strip-link-button($nurani-black);

      &.active {
        display: none;
      }
    }
  }
}

#block-nurani_helpers-welcome_login {
  float: opposite-position($from-direction);
  font-size: 1.5em;
  color: $nurani-text-gray;
  margin-top: 5px;

  .welcome {
    @include username-links($nurani-black);
  }

  .logout, .login {
    margin-#{$from-direction}: 2em;

    a {
      @include top-strip-link-button($nurani-black);

      display: inline-block;
      float: none;
      font-size: 1em;
    }
  }
}

#block-menu_block-nurani_main_menu {
  float: $from-direction;
  width: 40%;

  ul li {
    list-style-type: none;
    display: inline;
    a {
      @include top-strip-link-button($nurani-burgundy);
    }
  }
}
