

@mixin bundle-typography{
  font-family: palatino;
  font-style: italic;
}



.printpdf{
  background: url(../images/print.png) center left no-repeat;
  // padding-left:3em;
  margin: 1em 0 1em 0;
  padding: 1em 0 0 3em;
  @include styling-pdf-discussion-lock;
  text-decoration: none;
  
  &:hover{
    text-decoration:underline;
  }
}

body {
  font-family: Helvetica Neue;
  font-size:14px;
  line-height:26px;
  color:$nurani-burgundy;

}

h1,h2,h3,h4,h5,h6{
  font-family:Helvetica Neue;
}

h1,h2{ text-align:center;}

p{
  font-size: 1em; /* 14px */
  line-height: 1.8571em; /* 26px */
  /*margin: 0 0 1.8571em 0;*/
}


h1{
  font-size: 2.4286em; /* 34px */
  line-height: 1.5294em; /* 52px */
  margin-top: 0.7647em;
  margin-bottom: 0em;
  font-weight:bold;
}

h2{
  font-size: 2.1429em; /* 30px */
  line-height: 0.7333em; /* 52px */
 
  margin-bottom: 0em;
  font-weight:normal;
}

h3{
  font-size: 1.28571em;
  line-height:1.4444em;
  margin-top: 1.4444em;
  margin-bottom: 0em;
  }

h4{
  font-size: 1em;
  font-weight:normal;
  margin-top:-0.5em;
  margin-bottom:1.5em;
 }

ul, ul li{
    list-style-type:disc;
    list-style: none; // removes bullet points from lists
 }
 ol, ol li{ 
    list-style:decimal;
 }
 sup{
    font-size:xx-small;
    vertical-align:super;
 }