
.pane-nurani-profile-user-profile{
  h2.pane-title{
    color:$nurani-light-blue;
  }

  .group-details, .group-additional-details{
    border: 1px solid $nurani-light-blue;

  }
  .group-details, .group-additional-details, .group-profile{
    
    & > .fieldset-wrapper{ 
      padding:5px 20px 0 15px;
    }

  }

  .profile{

    .group-profile legend span{ 
      font-size:1.2em;
    }
    

    .group-profile{
      padding:0;
      margin-top:1em;
    }

    .user-picture{
      float: right;
      margin: 2em 2em 0 1em;
    }

    .field-group-fieldset .legend , legend span{
      
      color:$nurani-light-blue;
    }

    .field-name-field-title, .field-name-field-first-name{ 
      display: inline;
      float: left;
      margin-right: 10px;
    }

    .group-details .field{
      margin-bottom:1em;
  	  & > .field-items{
  	    float:right;
  		text-align: right;
  	  }
    }
    .field-name-field-postal-address .field-items{
      width:50%;
    }

    .field-label-above{ 
      margin-bottom:1em;
    }
  }
}