// Default setting for bidirectional support
$from-direction: left !default;



$total-width: 1200px; 
$total-columns: 20; 
$column-width: 30px;
$gutter-width: 30px;
$container-style: fluid; //makes the layout fluid, sets the container to 100% width.



$nurani-salmon-color: #F1E9E4;
$nurani-burgundy: #4C1313;
$nurani-red: #8B000E;
$nurani-dark-blue: #003F75;
$nurani-light-blue: #005EAE;
$lighter-blue: lighten($nurani-light-blue, 20%);
$nurani-gray: #CCC6C2;
$nurani-text-gray:#4A4A4A;
$button-green:#266332;
$nurani-gold: #AC9D43;
$nurani-brown: #CDB79E;


