// Site wide variables


$total-width:1200px;
$total-columns: 20;
$col-width-abs: 40px;
$column-width: $col-width-abs / $total-width * 100%;
$gutter-width-abs: 20px;
$gutter-width: $gutter-width-abs / $total-width * 100%;
$side-gutter-width: 0;

//crosscheck with Chris to make sure you are on the right track with the design
/*$total-width: 1200px;
$total-columns: 20;
$column-width:2em;
$gutter-width:1em;*/

$nurani_salmon_bg:#F4F0EE;
