// Site wide variables

$total-width:1200px;
$total-columns: 20;
$col-width-abs: 40px;
$column-width: $col-width-abs / $total-width * 100%;
$gutter-width-abs: 20px;
$gutter-width: $gutter-width-abs / $total-width * 100%;
$side-gutter-width: 0;

//crosscheck with Chris to make sure you are on the right track with the design
/*$total-width: 1200px;
$total-columns: 20;
$column-width:2em;
$gutter-width:1em;*/

$nurani-salmon-color: #F1E9E4;
$nurani-burgundy: #4C1313;
$nurani-red: #8B000E;
$nurani-dark-blue: #003F75;
$nurani-light-blue: #005EAE;
$nurani-gray: #CCC6C2;
$nurani-text-gray:#4A4A4A;



