@mixin field-item {
  float: left;
  display: block;
  padding: 5px;
}

@mixin box($width: 150px, $height: 50px) {
  height: $height;
  width: $width;
  display: block;
  margin-bottom: 20px;
}

@mixin discussion_header { 
  .field-label {
    margin-bottom:10px;
  }
  .field-name-field-scholars {
    @include box(100%, 100px);
    div.field-item {
       @include field-item;
    }
  }
  .field-name-field-moderator {
    @include box(100%);
  }

  .field-name-field-translator {
    @include box(100%);
  }

  div.field-type-user-reference .field-label, div.field-name-field-texts .field-label {
    @include en-sans;
    text-transform:uppercase;
    font-size:13px;
    font-weight:normal;
    border-bottom: 1px solid $light-text;
  }
  div.field-name-field-texts {
    @include box(100%, 50px);
    position:relative;
    background:none;
  }
}
