@import "compass/css3";
@import "_colors.scss";
@import "_buttons.scss";

$text_width: 218px;
$text_height: 258px;

body.node-type-discussion {
  .field-exp-comments {
		border: 1px solid #b0a9a4;
		background: #d6cbc0 url(../images/clock.png) no-repeat 20px 25px;
		padding: 20px 65px;
		margin: 40px 0 0;
		font-size: 0.9em;	
		
		strong {
			color: $white;
			display: block;
			text-transform: uppercase;
		}
	}	
	a#popText {
		display: block;
		background: url("../images/poptext.png") no-repeat left center;
		color: $white;
		padding: 8px 10px 8px 25px;
		font-weight: normal;
	}

	a#popText:hover {
		background: url("../images/poptext-hover.png") no-repeat left center;
	}

  ul.menu {
    li.first {
      background: url("../images/bkg_active_nav.png") -5px bottom transparent;
      a {
        background: url("../images/d_active.png") no-repeat scroll 10px 20px transparent;
      } 
    }
  }
 
  div.view-header {
    display:none;
  }

  div#slash {
    margin: 30px 30px 0;
  }

  p {}
  div#block-views-discussion_texts-block_1 {
		background: url("../images/borders.png") no-repeat center 9px;
    width: 900px;
		text-align: center;

			h3.block-title {
				background: $white;
				padding: 0 10px;
				display: inline;
				font-size: 0.9em;
				text-transform: uppercase;
			}

			.content {
				text-align: left;
			}
  }
	.view-discussion-texts {
		padding-top: 20px;
	} 
  h1.title {
    display: block;
    margin: 20px 0;
    padding: 0;
  }

  /* views-row is not a row, actually, just a div ... */
 
    div.views-row {
    margin: 30px 14px 10px;
    float: left;
    width: 195px;
    div.buildmode-text_summary {
      color: #868080;
      float: left;
      position: relative;
      line-height: 1.3em;
			font-size: 0.8em;
      h1 {
  	    width: $text_width - 40px;
     	 	background: $paper;
        font-size: 1.5em;
				text-transform: inherit;
        line-height: 1.2em;
        letter-spacing: -0.3px;
				text-align: left;
        color: #000;
				margin: 0;
    	  padding: 10px;
				a { font-weight: normal; }
      }
			.nd-region-middle {
      	border: 1px solid #ddd;
			}
			.field-body,
			.nurani-glossary-processed {
      	width: $text_width - 40px;
    	  padding: 10px 10px 35px;
				background: $paper;
				height: 160px;
				overflow: hidden;
			}
			.field-text-links {
				background: $paper;
				padding: 10px 0;
				li a {
				 	@include soft_button;
        	font-size: 13px;
					margin: 0 5px;	
					display: inline-block;
				}
			}
			.text-expand {
				height: auto;
			}
		.field-description {
			height: 158px;
			overflow: hidden;
			color: #303030;
		}
      
     .nd-region-footer a {
        @include soft_button;
        position: absolute;
        right: 10px;
        bottom: 30px;
        font-size: 13px;
      }

    }
    
  }
  #boxes-box-discussion_info {
    .field-label {
      border-bottom: 1px solid $gray; 
      margin: 20px 0 10px;
   	 	color: $maroon;
    	font-family: Helvetica,arial,sans-serif;
    	font-size: 0.8em;
			font-weight: normal;
    	text-transform: uppercase;
    }
		.field-item {
			margin: 0 0 8px;
		}
  }

  #container {
		text-align: center;
		
		#main {
			position: static;
			margin-top: 0;
		}
		#content-inner {
			background: transparent;
			padding-top: 2px;
		}
		.inner {
			padding: 20px 10px 20px 20px;
		}
		#content-area {
			background: url("../images/borders.png") no-repeat 20px top;
			position: relative;
			padding: 30px 0 0;
		}
			ul.tabs {
				margin: 0 0 30px;
			}
			#content-area {
				div.field-label {
					position: absolute;
					top: -6px;
					padding: 0 10px;
					background: $white;
		 		  text-transform: uppercase;
					font-size: 0.9em;
					left: 141px;
				}	
			.node-type-discussion {
			  border: 1px solid $gray;
				padding: 10px 0 0 10px;
				margin: 0 0 0 20px;
				.field-author {
					float: left;
				}	
				.field-post-date {
					float: right;
					color: $gray;
					padding: 0 10px 0;
				}
				.field-body {
					padding: 20px 10px 0 0;		
					clear: both;
	
					p {
						text-align: justify;
						margin: 0 0 1em;
					}
				}
				ul.links {
					position: relative;
					width: 100%;
					display: inline-block;
				}
				li.nurani_translation a {
					background-image: -moz-linear-gradient(center top , $white 0%, #EEEEEE 100%);
					background-color: #eee;
    			border: 1px solid $gray;
    			border-radius: 5px 5px 5px 5px;
    			bottom: -38px;
					left: -5px;
    			font-size: 0.8em;
    			padding: 4px 10px;
    			position: absolute;
				}
			}
			.field-translation-status {
			  text-align: left;
				width: 245px;
				float: right;
				@include en-sans;
				font-size: 0.8em;
				line-height: 1.3em;
				margin: 0 -1px -1px 0;
			}
			.translation-status,
			.translation-status-original {
				border: 1px solid $gray;
				font-size: 0.9em;
				padding: 5px;
				background: $white;
				border-radius: 5px 0 0 0;
			}
			 #comments .buildmode-full.translation-status-placeholder {
				background: $verylightgray;
			}
 			.buildmode-full.translation-status-placeholder .node-type-discussion {
				background: $verylightgray;
			}
		}
		#sidebar-second {
			text-align: left;
			margin-right: 2.5em;
			width: 19.3em;
	
			#sidebar-second-inner {
				padding: 0 0 0 7px;
			}
		}		
		h3.block-title {
			color: $maroon;
			border-bottom: 1px solid $maroon;
			text-transform: uppercase;
			font-size: 1em;
			font-weight: bold;
			margin-top: 0;
		}
		#comments {
			text-align: left;
			padding:40px 0 0;
			position: relative;
			margin: 0 0 0 20px;

			h2#comments-title {
				background: #fff url("../images/borders-comment.png") no-repeat left 7px;
				font-size: 0.9em;
				padding: 0 0 0 217px;
				text-transform: uppercase;
			}	
			.buildmode-full {
				border: 1px solid $gray;
				margin: 0 0 20px;
				padding: 10px 0 0 10px;
				position: relative;
			}
			.node {
				padding: 0;	
				.field-author {
					float: left;
					margin: 0;
				}
				.field-post-date {
					color: $gray;
					float: right;
					padding: 0 10px 0 0;
					font-size: 0.9em;
				}
				.field-body {
					text-align: justify;
					margin: 20px 10px 0 0;
				}
			}
			textarea {
				box-shadow: 0 3px 0 $lightgray;
			}
		}	
		.node-type-response ul.links { 
			border: 1px solid #ccc;
			padding: 4px 5px;
			border-radius: 5px;
			font-size: 0.8em;
			background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #EEEEEE 100%);
			background-color: #eee;
			position: absolute;
			bottom: 7px;
				li {
					padding: 0 5px;
 			 }
 		 }
		.box {
			background: url("../images/borders.png") no-repeat center top;
			padding: 10px 0 0;
			margin: 50px 0 0;
			position: relative;
	
		h2 {
			background: #FFFFFF;
			font-size: 0.9em;
			left: 158px;
			padding: 0 10px;
			position: absolute;
			text-transform: uppercase;
    	top: -6px;
		}
	}
}
}              
body.section-node-edit div#container {
	text-align: left;
}
