@import "compass/css3";
@import "_colors.scss";
@import "_buttons.scss";

$text_width: 218px;
$text_height: 258px;

body.node-type-discussion {
  .field-exp-comments {
		border: 1px solid #b0a9a4;
		background: #d6cbc0 url(../images/clock.png) no-repeat 20px 25px;
		padding: 20px 65px;
		
		strong {
			color: $white;
			display: block;
			text-transform: uppercase;
		}
	}	
	a#popText {
		display: block;
		background: url("../images/poptext.png") no-repeat left center;
		color: $white;
		padding: 8px 10px 8px 25px;
		font-weight: normal;
	}

	a#popText:hover {
		background: url("../images/poptext-hover.png") no-repeat left center;
	}

  ul.menu {
    li.first {
      background: url("../images/bkg_active_nav.png") -5px bottom transparent;
      a {
        background: url("../images/d_active.png") no-repeat scroll 10px 20px transparent;
      } 
    }
  }
 
  div.view-header {
    display:none;
  }

  div#slash {
    margin: 30px 30px 0;
  }

  p {}
  div#block-views-discussion_texts-block_1 {
		background: url("../images/borders.png") no-repeat center 7px;
    width: 900px;
		text-align: center;

			h3.block-title {
				background: $white;
				padding: 0 20px;
				display: inline;
				font-size: 0.9em;
				text-transform: uppercase;
			}

			.content {
				text-align: left;
				margin: 20px 0;
				height: 280px;
			}
  }
  
  h1.title {
    display: block;
    margin: 20px 0;
    padding: 0;
  }

  /* views-row is not a row, actually, just a div ... */
 
    div.views-row {
    margin: 10px 5px;
    float: left;
    width: $text_width;
    div.buildmode-text_summary {
      width: $text_width - 40px;
      background: $paper;
      border: 1px solid #ddd;
      color: #868080;
      float: left;
      padding: 0 10px;
      position: relative;
      min-height: $text_height;
      line-height: 1em;
      h1 {
        font-size: 23px;
	text-transform: inherit;
        font-weight: bold;
        line-height: 1.2em;
        letter-spacing: -0.3px;
	text-align: left;
        color: #000;
        }
			
	.field-description {
		color: #303030;
	}
      
     .nd-region-footer a {
        @include soft_button;
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 13px;
      }

    }
    
  }
  #boxes-box-discussion_info {
    .field-label {
      border-bottom: 1px solid #ccc; 
      margin: 20px 0 10px;
   	 	color: $maroon;
    	font-family: Helvetica,arial,sans-serif;
    	font-size: 0.8em;
			font-weight: normal;
    	padding-bottom: 3px;
    	text-transform: uppercase;
    }
  }

  #container {
		background: url("../images/borders.png") no-repeat center top;
		text-align: center;
		position: relative;
		padding: 8px 0 0;		
		
		#main {
			position: static;
		}
 	  
		#content-inner {
			background: transparent;
		}
			#content-area {
				div.field-label {
					position: absolute;
					top: -4px;
					padding: 0 20px;
					display: inline;
					background: $white;
		 		  text-transform: uppercase;
					font-size: 0.9em;
				}	
			p {
				text-align: left;
			}
		}
		#sidebar-second {
			text-align: left;
		}		
		#comments {
			text-align: left;
			background: url("../images/borders.png") no-repeat center top;
			padding: 30px 0 0;
			position: relative;

				h2#comments-title {
					background: none repeat scroll 0 0 #FFFFFF;
					font-size: 0.9em;
					left: 230px;
					padding: 0 10px;
					position: absolute;
					text-transform: uppercase;
    			top: -5px;
				}	
				textarea {
					box-shadow: 0 3px 0 #eee;
				}
			}	
			ul.links { 
				border: 1px solid #ccc;
				padding: 7px 5px;
				border-radius: 5px;
				font-size: 1.3em;
				background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #EEEEEE 100%);
					li {
						padding: 0 10px;
 				 }
 		 }
		.box {
			background: url("../images/borders.png") no-repeat center top;
			padding: 10px 0 0;
			position: relative;
	
		h2 {
			background: #FFFFFF;
			font-size: 0.9em;
			left: 190px;
			padding: 0 10px;
			position: absolute;
			text-transform: uppercase;
    	top: -5px;
		}
	}
}
}              
body.section-node-edit div#container {
	text-align: left;
}
