@import "colors";
@import "type";

#outer-footer {
  margin: 30px 0 50px;
	clear: both;
  background: $body-bkg;
  li a:hover {
    color: #999 !important;
  }
  div.page {
    padding: 109px 0 0 0;  
    background: url("../images/logos_monochrome.gif") no-repeat top left;
  }
  
  ul#primary { 
    display: none;
    margin: 0 auto;
    li {
    background: none !important;
    padding: 20px 20px 0;
    margin: 0;
    span.icon {
      display: none;
    }
    a {
      background: none repeat scroll 0 0 transparent !important;
      font-size: 23px;
      margin: 0;
      padding: 0;
      }
    }
  }
  ul#secondary {
    display: block;
    padding-left: 0;
    text-align: center;
    width: 100%;
    li.last a {
      border-right: none;
    }
    li {
      display: inline;
			padding: 0 0 0 15px;
      a {
        color: darken($body-bkg, 50%)!important; 
        display: inline;
        border-right: 1px dotted darken($body-bkg, 50%);
        text-transform: uppercase;
        padding-right: 10px;
        @include display;
        font-weight: normal;
      }
    }
		li.last a {
			border: 0;
		}
  }
}
