@import "colors";
@import "buttons.scss";
@import "compass/css3";

@mixin nav($base_color: $nav-bkg, $text_color: $nav-text) {
  line-height: 1.2;
  -webkit-box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-transform:uppercase;
}

@mixin primarynav($bright: $identity, $dark: darken($identity, 80%)) {
  margin: 0 auto;
  width: 384px;
	padding: 0;
  a {
     @include link-colors($bright, $dark, $dark, $bright, $bright );
     font-weight:normal;
     &:hover {
       text-decoration:none;
     }
     font-size:1.2em;
   }
   li.active {
     &.active {
        color: $darkest;
      }
   }
}

@mixin secondarynav {
  text-align: center;
  width:100%;
  display:block;
}

@mixin languageswitcher {
  ul {
    list-style-type: none;
  }
}

ul.menu {
  li.first { @include icon_button("d", "left"); }
  li  { @include icon_button("g", "left"); }
  li.last { @include icon_button("t", "left"); }

  li.active-trail {
    background: url("../images/bkg_active_nav.png") no-repeat -5px bottom transparent;
  }
}

/*Language switcher*/
#block-locale-0 {
  width: 70px;
  @include en-sans;
  float: right;

  h3, li.en {
    display: none;
  }
  li {
    font-size: 0.6em;
    a {
      color: $white;
      background: $dark-gray;
      padding: 0 10px;
			font-size: 1.1em;
			display: inline-block;
      border-radius: 15px;
			line-height: 2em;
			font-weight: normal;
    }	
  }
}
/*Action links*/
#boxes-box-action_links {

	.boxes-box-content {
		float: left;
		margin: 0;
	}
	ul {
		margin: 0;
		padding: 0;
	       			
		li {
			padding: 0;	
		}	
		a {
			font-size: 0.80em;
			line-height: 2.3em;
			color: #4D1312;
      background: #F1E9E4;
      padding: 0 6px; 
			display: block;
			float: left;
			margin: 2px 5px;
      border-radius: 10px;
			font-weight: bold;
  		@include en-sans;
		}	
		a:hover{
    color: black;
    }
    a.active{
    color: #998D86;
    
    }
	}
}
