@mixin profile {
  padding: 20px;
  div.field {
    display: block;
    margin-bottom: 40px;
  }
  div.field-label {
    float: left;
    margin: 0;
    clear: both;
    background: $sidebar-bkg;
    text-align:left;
    color: $identity;
  }
  div.field-item {

  }

}