* {
  margin: 0;
  padding: 0; }


.clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; } 
  }

/* Hides from IE-mac \ */
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* End hide from IE-mac */

/* clear classes */
.clearleft, .clearl, .cleft {
  clear: left; }

.clearright, .clearr, .cright {
  clear: right; }

.clear, .clearboth, .clearall {
  clear: both; }

/* Float classes */
.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0; }

.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px; }
