@import "buttons.scss";
@import "_colors.scss";

body.i18n-ar {

  overflow-x: hidden !important;

	/*action links*/
	#boxes-box-action_links ul a {
		line-height: 15px;
	}
	#boxes-box-action_links .boxes-box-content {
    float: right;
    margin: 0 0 0 10px;
	}

	/*language switcher*/
	#block-locale-0 li a {
		padding:  5px 15px 3px;
	}
	
  #boxes-box-welcome_to_nurani_box .toggle {
      position: absolute;
      right: auto;
      left:0;
      top: 1px;
  }

  .condense_control {
      padding: 4px 4px 4px 0;
      background: url("../images/more-ar.png") no-repeat scroll 0 0 transparent;
  }

  #comment-form label {
      float: right;
      margin-right: 10px;
  }

  #comment-form label[for="edit-subject"] {
    margin-left: 42px;
    margin-right:0;
  }

  #sidebar-second,
  .sidebar-second #main, 
  .text, 
  .author-photo, 
  .view-texts-in-discussion .views-row, 
  .view-overview .views-field-title {
    float:right
  }

  .perosnal-username, .view-overview .views-field-view-node {
      float: left;
  }


  ul#primary {
  	li.first { @include icon_button("d", "right"); }
    li  { @include icon_button("g", "right"); }
    li.last  { @include icon_button("t", "right"); }
  }

  #block-boxes-welcome_to_nurani_box .more-link {
    display: block;
    float: right;
    margin-top: 10px;
  }

  .view-ibis-glossary .views-summary {
    float: right;
  }

	/*Top strip*/
	#block-locale-0 {
		float: left;
		font-size: 18px;
		line-height: 16px;
		width: 66px;
	ul {
		padding: 0;
	}
	li.ar {
    display: none;
 }
	li.en {
    display: block;
  }
}

	/*Navigation*/
	ul.menu li.last,
	ul.menu li.first,
	ul.menu li {
    float: right;
	}

	/*Welcome*/
	div#slash div#boxes-box-welcome_box img.d_ford {
		float: left;
	}

	/*Overview*/
	 div#main {	
		float: right;
	}
	.view-discussions {
		.views-field-title {
  		float: right;
			line-height: 29px;
		}
		.views-field-view-node a {
			float: left;
		}
		.views-field-phpcode {
			float: right;
    	margin-left: 15px;
			margin-right: 0;
		}
	}
	#block-views-new_texts-block_1 h3, 
	#block-views-new_glossary_terms-block_1 h3 {
		background: url("../images/arrow-collapse-rtl.png") no-repeat right center;
		padding: 10px 20px 10px 0;
	}
	#block-views-nuranis-block_1 h3 {
		background-position: right;
		padding: 10px 20px 10px 0;
	}
	#block-views-nuranis-block_1 h3.collapsed {
		background: url("../images/arrow-collapse-rtl.png") no-repeat right center;
	}
	#block-views-new_texts-block_1 h3.expand,
	#block-views-new_glossary_terms-block_1 h3.expand {
    background: url("../images/arrow-expand.png") no-repeat right center;
}	
	#block-views-new_texts-block_1 .views-row,
	#block-views-new_glossary_terms-block_1 .views-row {
    background: url("../images/point-rtl.png") no-repeat right 6px;
		margin: 0 20px 0 0;
		padding: 0 15px 10px 0;	
	}

	/*vertical tabs*/
	div.vertical-tabs {
			float: right;		
			margin: 1em 15em 0 0;		

			ul.vertical-tabs-list {
			float: right;
			left: auto;
			right: 2em;
		
			li {
				text-align: right;
			}	
			li.selected {
				border-left: 0;
				border-right: 1px solid #ccc;
			}
		}
	}
}
/*discussion*/
body.i18n-ar.node-type-discussion {
	div#block-views-discussion_texts-block_1 {	
		h1 {
			text-align: right;
		}
		.content { 
			text-align: right;
		}		
	}
	#container #sidebar-second {
		text-align: right;
	}
	.view-discussion-texts .views-row {
		float: right;
	}
	#container {
		#content-area {
			.node-type-discussion {
				padding: 20px 0 0 0;
				margin: 0 20px 0 0;
				.field-body {
					padding: 0 0 0 20px;

					p {
						text-align: right;
						margin: 0 1.1em 1em 0;	
					}	
				}
				li.nurani_translation a {
					left: auto;
					right: 20px;
				}
			}
			.field-translation-status {
				float: left;
				border-left: 0;
				border-right: 1px solid $gray;
			}
	 	}
		#comments {
			margin: 0 20px 0 0;
		 
			h2#comments-title {
				padding: 0 0 0 202px;
			}	
			.buildmode-full {
				padding: 10px 10px 0 0;
			}
			.field-author {
					float: right;
			}
			.field-post-date {
				float: left;
				padding: 0 0 0 10px;
			}
			.node p {
				margin: 0 0 1em 0;
			}				
			.field-translation-status {
				border: 1px solid $gray;
				border-left: 0;
				border-bottom: 0;
				text-align: right;
			}
			.nd-region-footer {
				text-align: right;
					ul.links {
						line-height: 20px;
					}
			}
			label {
				float: right;
				margin: 0 0 0 10px;
			}
		}
		#sidebar-second {
			margin-left: 1.2em;
			margin-right: 0;
		
				#sidebar-second-inner {
					padding-right: 7px;
					padding-left: 20px;
				}
		}
	}
}
