@import "buttons.scss";
@import "_colors.scss";

body.i18n-ar {

  overflow-x: hidden !important;

	/*Typo*/
	h1 {
		font-style: normal;
	}
	#content-header ul.tabs li a {
 		font-family: UthmanTN,serif;
	}
	/*action links*/
	#top-strip {
		height: 27px;
	}
	#boxes-box-action_links ul a {
		line-height: 1.9em;
		font-size: 0.7em; 
		float: right;
	}
	#boxes-box-action_links .boxes-box-content {
    float: right;
    margin: 0 0 0 10px;
	}

	/*language switcher*/
	#block-locale-0 li a {
		padding: 0 15px;
		line-height: 1.8em;
	}
	#block-menu-primary-links ul.menu {
		
		a {
			font-size: 1.3em;
			padding: 19px 65px 30px 20px;
			font-weight: bold;
			background-position: 105px 20px;
		}
	}	
  #boxes-box-welcome_to_nurani_box .toggle {
      position: absolute;
      right: auto;
      left:0;
      top: 1px;
  }

  .condense_control {
      padding: 4px 4px 4px 0;
      background: url("../images/more-ar.png") no-repeat scroll 0 0 transparent;
  }

  #comment-form label {
      float: right;
      margin-right: 10px;
  }

  #comment-form label[for="edit-subject"] {
    margin-left: 42px;
    margin-right:0;
  }

  #sidebar-second,
  .sidebar-second #main, 
  .text, 
  .author-photo, 
  .view-texts-in-discussion .views-row, 
  .view-overview .views-field-title {
    float:right
  }

  .perosnal-username, .view-overview .views-field-view-node {
    float: left;
	  }


  ul#primary {
  	li.first { @include icon_button("d", "right"); }
    li  { @include icon_button("g", "right"); }
    li.last  { @include icon_button("t", "right"); }
  }

  #block-boxes-welcome_to_nurani_box .more-link {
    display: block;
    float: right;
    margin-top: 10px;
  }

  .view-ibis-glossary .views-summary {
    float: right;
  }

	/*Top strip*/
	#block-locale-0 {
		float: left;
		font-size: 18px;
		line-height: 16px;
		width: 66px;
	ul {
		padding: 0;
	}
	li.ar {
    display: none;
 }
	li.en {
    display: block;
  }
}

	/*Navigation*/
	ul.menu li.last,
	ul.menu li.first,
	ul.menu li {
    float: right;
	}

	/*Welcome*/
	div#slash h3 {
		margin-right: 30px;
		margin-top: 0;
		line-height: 0.6em;
	}
	div#slash div#boxes-box-welcome_box img.d_ford {
		float: left;
	}

	/*Overview*/
	 div#main {	
		float: right;
	}
	.view-discussions {
		.views-field-title {
  		float: right;
			line-height: 29px;
		}
		.views-field-view-node a {
			font-size: 0.8em;
    line-height: 1.2em;
    padding-bottom: 3px;
	float: left;
		}
		.views-field-phpcode {
			float: right;
    	margin-left: 15px;
			margin-right: 0;
		}
	}
	#block-views-new_texts-block_1 h3, 
	#block-views-new_glossary_terms-block_1 h3 {
		background: url("../images/arrow-collapse-rtl.png") no-repeat right center;
		padding: 10px 20px 10px 0;
	}
	#block-views-nuranis-block_1 h3 {
		background-position: right;
		padding: 10px 20px 10px 0;
	}
	#block-views-nuranis-block_1 h3.collapsed {
		background: url("../images/arrow-collapse-rtl.png") no-repeat right center;
	}
	#block-views-new_texts-block_1 h3.expand,
	#block-views-new_glossary_terms-block_1 h3.expand {
    background: url("../images/arrow-expand.png") no-repeat right center;
}	
	#block-views-new_texts-block_1 .views-row,
	#block-views-new_glossary_terms-block_1 .views-row {
    background: url("../images/point-rtl.png") no-repeat right 6px;
		margin: 0 20px 0 0;
		padding: 0 15px 10px 0;	
	}

	/*vertical tabs*/
	div.vertical-tabs {
			float: right;		
			margin: 1em 15em 0 0;		

			ul.vertical-tabs-list {
			float: right;
			left: auto;
			right: 2em;
		
			li {
				text-align: right;
			}	
			li.selected {
				border-left: 0;
				border-right: 1px solid #ccc;
			}
		}
	}
}
/*discussion*/
body.i18n-ar.node-type-discussion {
	h1.title {
		margon-top: 40px;
	}
  div#container	.inner {
	}
	.field-exp-comments {
		background-position: 270px 33px;
	}
	div#block-views-discussion_texts-block_1 {	
		background-position: center 11px;
		h3 {
			font-size: 0.9em;
			padding: 0 15px;
			font-size: 1em;
			padding: 0 15px;;
		}
		h1 {
			text-align: right;
			a { font-weight: normal;}
		}
		.content { 
			text-align: right;
		}		
	}
	#container #sidebar-second {
		text-align: right;
	}
	.view-discussion-texts .views-row {
		float: right;
	}
	#container {
		#content-inner {
			padding-top: 7px;
		}
		#content-area {
			background-position: -338px 4px;
			.node-type-discussion {
				margin: 0 20px 0 0;
				padding: 10px 10px 0 0;

				.field-author {
					float: right;
				}
				.field-post-date {
					float: left;
				}
				.field-body {
					padding: 20px 0 0 10px;
				}
				div.field-label {
			    font-size: 1em;
					left: 200px;
					font-weight: normal;
					top: -10px;
				}
				p {
					text-align: justify;
				}	
				li.nurani_translation a {
					left: auto;
					right: 0px;
				}
			}
				.translation-status,
				.translation-status-original {
					border-radius: 0 5px 0 0;
				}
				.field-translation-status {
					float: left;
					text-align: right;
					margin: 0 0 -1px -1px;
				}
}
		#comments {
			margin: 0 20px 0 0;
	text-align: right;
		 
			h2#comments-title {
				padding: 0 0 0 238px;
				background: url("../images/borders-comment-ar.png") no-repeat left 10px white;
				padding: 0 246px 0 0;
			}	
			.buildmode-full {
				padding: 10px 10px 0 0;
			}
			.field-author {
					float: right;
			}
			.field-post-date {
				float: left;
				padding: 0 0 0 10px;
			}
			.node {
				.field-body {
					margin: 20px 0 0 10px;
					p {
						margin: 0 0 1em 0;
					}
				}
			}				
			.nd-region-footer {
				text-align: right;
					ul.links {
						line-height: 20px;
						right: 10px;
					}
			}
			label {
				float: right;
				margin: 0 0 0 10px;
			}
		}
		#sidebar-second {
			margin-left: 0;
			margin-right: 0;
		
				#sidebar-second-inner {
					padding-right: 7px;
					padding-left: 20px;
				}
		}
	}
}
