@import "colors";
@import "buttons.scss";
@import "compass/css3";

ul.tabs {
  float: left;
  width: 500px;
  background: transparent;
  li {
    padding: 10px 0px 0px;
    float: left;
    display: inline;
    text-align: center;
    a {
      padding: 5px 8px;
      font-family: arial, sans-serif;
      font-weight: 0;
      position: relative;
      z-index: -10;
      color: #888;
      color: $light-text;
    }
    
    a.active {
      border: 1px solid $light-text;
      @include box-shadow(lighten(#000, 75%), 0px, 1px, 2px, 1px, inset);
      @include border-radius(4px);
      position: relative;
      z-index:2;
      color: $darkest;
    }
  }
}

ul.primary {
  border-bottom-width:0px;
}

