@import "compass/css3";
@import "_colors.scss";
@import "_buttons.scss";

#block-locale-language {
  width: 960px;
  background: #fff;
  border-top: 1px solid #c3c3c3;
  font-size: 10px;
  float: left;
  clear:both;
  
  h2 { 
    float: left; 
    font-weight: 700; 
    margin: 0; 
    padding: 10px;
  }
  
  ul {
    float: left;
    margin: 10px;
  }
}

body.ar {
  #block-locale-language {
    ul {
      li.en {  
        @include rounded_toggle("left");
        @include active_toggle_button;
      }  
      li.ar { 
        @include rounded_toggle("right");
        @include inactive_toggle_button; 
      }
    }
  } 
}

body.en {
  #block-locale-language {
    ul {
      li.en {  
        @include rounded_toggle("left");
        @include inactive_toggle_button;
      }  
      li.ar { 
        @include rounded_toggle("right");
        @include active_toggle_button; 
      }
    }
  } 
}
