@import "compass/css3";
@import "_buttons";
@import "_colors";

body.page-overview {
  .more-links,
  .view-discussions .views-field-view-node {
    a {
      @include soft_button();
    }
  }
  #slash {
    margin: 0px 20px 0;
    padding: 20px;
    position: relative;
    @include box-shadow(#ccc, 0px, 3px, 3px);
    @include linear-gradient(color_stops(darken($postit,7%),$postit,$postit));
		background-color: $postit;
    h3 {
      @include text-shadow(0px, 1px, 0px, #fff);
      color: #333;
	font-weight: 300px;
	font-size: 1.6em;		
    }

    div.block .contextual-links-wrapper {
      display:none;
    }

    div.block .edit {
      top: auto;
      right: 0px;
      bottom: 0px;
    }

    #block-boxes-welcome_box {
      img.d_ford {
       float:right; 
       width:80px; 
       margin:15px; 
       border:5px solid #fff; 
       @include box-shadow(#ccc, 3px, 3px, 3px);
      }
    }

    .toggle {
      position: absolute;
      right: 20px;
      top: 20px;

      a {
        color: #888;
        &:hover{
          text-decoration:underline;
        }
      }
    }
  }
}

