
@mixin passage-text-boxes{
  @include border($nurani-red, top, 5px);
  @include border($nurani-gray, $from-direction, 1px);
  @include border($nurani-gray, bottom, 1px);
  @include border($nurani-gray, opposite-position($from-direction), 1px);
  background:$nurani-salmon-color;

  .error {
    margin-top: 2em;
    background-repeat: no-repeat;
    background-position: top-#{$from-direction};
    padding: 0 0 0 2em;
    background-color: transparent;

    .message {
      margin-bottom: 1em;
      font-weight: bold;
    }
  }

  .passage-widget {
    .verse{
      margin: 0 0.5em;
    }
    h4{ margin-bottom:1em;}
    p{
     font-family: palatino;
     margin-top:0.5em;
     display:inline;
    }
  }
}

