
/************ Section to style the Text Bundle for discussions ************/
h1.title, h2.subtitle{
  @include bundle-typography;
}

.node-discussion{
	

	.passage-box{
		margin-top: 2em;
		@include span-columns(6,18);
		&:nth-child(3n) { @include omega; } //every 3rd box completes a row
		
	}
	.passage-boxes > .inner {
		@include span-columns(16,18);
		float:none;
		/*@include pad(1,1);*/
		

	}

	.inner{

	  & > .passage-text{ 
	    @include border($nurani-red, top, 5px);
	    @include border($nurani-gray, left, 1px);
	    @include border($nurani-gray, bottom, 1px);
	    @include border($nurani-gray, right, 1px);
	    background:$nurani-salmon-color;
	  }

	  .passage-widget {
	    .verse{
	  	  margin: 0 0.5em;
	  	}
	  	p{
	  	  font-family: palatino;
	  	  margin-top:0.5em;
	  	  display:inline;
	  	}
	  }

      .bib{
        border:1px solid $nurani-gray;
        margin: -1em 1em 0em 3.4em;
        width:73%;

      	.moderator_s_thoughts{
	  	  p{
	  	    font-size: 1.1429em; 
	  		text-indent: justify;
	  		color:$nurani-text-gray;
	  	  }

	  	  span, a.username{ 
	  	  	margin-left: 2.5em;
	  	  	color:$nurani-light-blue; 
	  	  	font-weight: bold;
	  	  }
	    }

      }
	  
	}	
}





/*********** Styles for the lower section of the discussion page containing i.e. the comment list and comment form ***********/

#block-views-nurani_comment_list-block {
  h2.block-title{text-align:left}
  margin-left:80px;

  .comment-number{ 
    position: absolute;
    left: -80px;
    margin-top: 46px;
    font-size: 3.5em;
    opacity: 0.5;
  }
}

/*Style for response list comment-preview box*/
.comment-preview{
	@include border($nurani-red, top, 5px);
}

/*Style for response list comment box*/
.view-nurani-comment-list{
  .comment{
  	/*margin-left:80px;*/
    @include white-background-bordered-top($nurani-light-blue, top, 5px);
    
    
    #new{
      position: absolute;
      left: -68px;
      margin-top: -57px;
      background: url(../images/new.png) no-repeat;
      width:100px;
      height:100px;
     /* span.new{visibility:hidden;}  */
    }	

       
  }
}


// discussion lock
.block-meedan-discussion-lock{
  background:url(../images/clock-icon.png) no-repeat;
  margin-bottom:1em;
  .content{
  	margin-left:3em;
    @include discussion-lock-pdf;

  }
}
/*//pdf of readings*/
a.printpdf{
  background: url(../images/print.png) center left no-repeat;
  padding-left:3em;
  @include discussion-lock-pdf;
  text-decoration: none;
  
  &:hover{
    text-decoration:underline;
  }
}

#block-nurani_discussion-print_pdf{
  margin-bottom:4em;
}

.view-meedan-discussion-participants{

	& > .view-content{
		margin-bottom: 4em;
		.views-field-picture{ float:left;}
		
		.views-field-name, .views-field-cid{	
		  margin-left:4em;
		  @include username-links($nurani-light-blue);
		}
	}
  

} 





