

.node-discussion{
	/*.passage-boxes{@include container;}*/

	.passage-box{
		margin-top: 2em;
	}

	.passage-boxes > .inner {
		@include span-columns(14,16);
		@include prefix(1);
		@include suffix(1);
		min-width:100%;

		
	}

	.inner{

	  & > .passage-text{ 
	    @include border($nurani-red, top, 3px);
	    @include border($nurani-gray, left, 1px);
	    @include border($nurani-gray, bottom, 1px);
	    @include border($nurani-gray, right, 1px);
	  }

	  .passage-widget {
	    .verse{
	  	  margin: 0 0.5em;
	  	}
	  	p{
	  	  font-family: palatino;
	  	  margin-top:0.5em;
	  	  display:inline;
	  	}
	  }

      .bib{
        border:1px solid $nurani-gray;

      	.moderator_s_thoughts{
	  	  p{
	  	    font-size: 1.1429em; 
	  		text-indent: justify;
	  		color:$nurani-text-gray;
	  	  }

	  	  span, a.username{ 
	  	  	margin-left: 1.8em;
	  	  	color:$nurani-light-blue; 
	  	  	font-weight: bold;
	  	  }
	    }

      }
	  
	}	
}

.view-nurani-comment-list{

	 & .view-content .views-row {
	    background:#fff;
	    margin-bottom:25px;
	    @include border($nurani-light-blue, top, 5px);

	    .comment-inner{
	      padding:35px;

	      .user-picture{
	        float:left;
	        margin:0 1em 0 1em;
	      }

	    }
	 }


}



