
.node-discussion{
	/*.passage-boxes{@include container;}*/

	.passage-box{
		margin-top: 2em;
	}
	.passage-boxes > .inner {
		@include span-columns(14,16);
		@include prefix(1);
		@include suffix(1);
		min-width:100%;
	}

	.inner{

	  & > .passage-text{ 
	    @include border($nurani-red, top, 5px);
	    @include border($nurani-gray, left, 1px);
	    @include border($nurani-gray, bottom, 1px);
	    @include border($nurani-gray, right, 1px);
	    background:$nurani-salmon-color;
	  }

	  .passage-widget {
	    .verse{
	  	  margin: 0 0.5em;
	  	}
	  	p{
	  	  font-family: palatino;
	  	  margin-top:0.5em;
	  	  display:inline;
	  	}
	  }

      .bib{
        border:1px solid $nurani-gray;

      	.moderator_s_thoughts{
	  	  p{
	  	    font-size: 1.1429em; 
	  		text-indent: justify;
	  		color:$nurani-text-gray;
	  	  }

	  	  span, a.username{ 
	  	  	margin-left: 2.5em;
	  	  	color:$nurani-light-blue; 
	  	  	font-weight: bold;
	  	  }
	    }

      }
	  
	}	
}

#block-views-nurani_comment_list-block {
  h2.block-title{text-align:left}
}

// Style for response list
.view-nurani-comment-list{
    & .views-row {
	  background:#fff;
	  margin-bottom:25px;
	  @include border($nurani-light-blue, top, 5px);

	    .comment-inner{
	      padding:35px;

	      .user-picture{
	        float:left;
	        margin:0 1em 0 -1em;
          a{float:left;}
	      }
	      .content{ 
	      	margin-left:4em;
	      	color:$nurani-text-gray;
	      	.submitted{ float:right;}
	      	@include username-links(#000);
	      }
	    }
	  .links{margin-left:1.5em; margin-top:1em;}
	     
	}
 }

@mixin discussion-lock-pdf{
   margin-left:3em;
   color:$nurani-text-gray;
   font-size:1.2em;
}

// discussion lock
.block-meedan-discussion-lock{
  background:url(../images/clock-icon.png) no-repeat;
  margin-bottom:1em;
  .content{
    @include discussion-lock-pdf;

  }
}
//pdf of readings
#block-nurani_discussion-print_pdf{
  background:url(../images/printer-icon.png) no-repeat;
  margin-bottom:4em;
  .content a{
    @include discussion-lock-pdf;
    text-decoration: none;
    &:hover{
    	text-decoration:underline;
    }
  }
}

.view-meedan-discussion-participants{

	& > .view-content{
		margin-bottom: 4em;
		.views-field-picture{ float:left;}
		
		.views-field-name, .views-field-cid{	
		  margin-left:4em;
		  @include username-links($nurani-light-blue);
		}
	}
  

} 





