/*$total-width: 1200px;
$total-columns: 20;
$column-width:2em;
$gutter-width:1em;*/
/* Calls layout.scss that renders all the styles on the site*/
/*globally applied css*/
/* line 22, ../scss/_typography.scss */
body {
  font-family: Helvetica Neue;
  font-size: 14px;
  line-height: 26px;
  color: #4c1313;
}

/* line 30, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue;
}

/* line 33, ../scss/_typography.scss */
h1, h2 {
  text-align: center;
}

/* line 35, ../scss/_typography.scss */
p {
  font-size: 1em;
  /* 14px */
  line-height: 1.8571em;
  /* 26px */
  /*margin: 0 0 1.8571em 0;*/
}

/* line 42, ../scss/_typography.scss */
h1 {
  font-size: 2.4286em;
  /* 34px */
  line-height: 1.5294em;
  /* 52px */
  margin-top: 0.7647em;
  margin-bottom: 0em;
  font-weight: bold;
}

/* line 50, ../scss/_typography.scss */
h2 {
  font-size: 2.1429em;
  /* 30px */
  line-height: 0.7333em;
  /* 52px */
  margin-bottom: 0em;
  font-weight: normal;
}

/* line 58, ../scss/_typography.scss */
h3 {
  font-size: 1.28571em;
  line-height: 1.4444em;
  margin-top: 1.4444em;
  margin-bottom: 0em;
}

/* line 65, ../scss/_typography.scss */
h4 {
  font-size: 1em;
  font-weight: normal;
  margin-top: -0.5em;
  margin-bottom: 1.5em;
}

/* line 72, ../scss/_typography.scss */
ul, ul li {
  list-style-type: disc;
  list-style: none;
}

/* line 76, ../scss/_typography.scss */
ol, ol li {
  list-style: decimal;
}

/* line 79, ../scss/_typography.scss */
sup {
  font-size: xx-small;
  vertical-align: super;
}

@media only screen and (max-width: 1024px) {
  /* line 4, ../scss/_media-queries.scss */
  div#top-strip {
    width: 100%;
    height: 100%;
  }
  /* line 10, ../scss/_media-queries.scss */
  div#top-strip #block-menu_block-nurani_main_menu ul li a {
    padding: 2px;
  }
}
/* line 2, ../scss/_header.scss */
#header {
  background-color: #4c1313;
}
/* line 5, ../scss/_header.scss */
#header #logo-box {
  width: 59.32203%;
  float: right;
  margin-right: 0;
  #margin-left: -1.66667%;
  display: inline;
  position: relative;
}
/* line 11, ../scss/_header.scss */
#header #logo-box a#logo {
  z-index: 1;
  position: absolute;
  top: -12px;
}
/* line 18, ../scss/_header.scss */
#header #logo-box a#logo img {
  max-width: 100%;
}

/* line 2, ../scss/_navigation.scss */
#block-nurani_helpers-welcome_login {
  margin-top: -31px;
  width: 25%;
  float: right;
  font-size: 1.2em;
  color: #4a4a4a;
}
/* line 4, ../scss/_typography.scss */
#block-nurani_helpers-welcome_login .welcome a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/* line 13, ../scss/_navigation.scss */
#block-nurani_helpers-welcome_login .logout, #block-nurani_helpers-welcome_login .login {
  margin-left: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 17, ../scss/_navigation.scss */
#block-nurani_helpers-welcome_login .logout a, #block-nurani_helpers-welcome_login .login a {
  text-decoration: none;
  color: #4a4a4a;
}

/* line 26, ../scss/_navigation.scss */
#block-menu_block-nurani_main_menu {
  width: 45%;
  padding: 10px;
}
/* line 30, ../scss/_navigation.scss */
#block-menu_block-nurani_main_menu ul li {
  list-style-type: none;
  display: inline;
}
/* line 33, ../scss/_navigation.scss */
#block-menu_block-nurani_main_menu ul li a {
  /*font-size:1.625em;*/
  font-size: 1.5em;
  float: left;
  display: block;
  padding: 0 5px;
  margin: 0 1px 0 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #4c1313;
}

/* line 2, ../scss/_comment-box.scss */
.block-nurani-comment {
  background: #005eae;
  margin-bottom: 20px;
  margin-top: 86px;
}
/* line 3, ../scss/_comment-box.scss */
.block-nurani-comment h2.block-title {
  display: none;
}
/* line 9, ../scss/_comment-box.scss */
.block-nurani-comment form {
  padding: 20px;
  color: #fff;
}
/* line 14, ../scss/_comment-box.scss */
.block-nurani-comment form div.head .user-picture {
  float: left;
}
/* line 16, ../scss/_comment-box.scss */
.block-nurani-comment form div.head .user-picture a {
  float: left;
}
/* line 18, ../scss/_comment-box.scss */
.block-nurani-comment form div.head .info {
  margin-left: 6em;
}
/* line 4, ../scss/_typography.scss */
.block-nurani-comment form div.head .info a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
/* line 22, ../scss/_comment-box.scss */
.block-nurani-comment form div.head .tip {
  margin-top: 2em;
}
/* line 26, ../scss/_comment-box.scss */
.block-nurani-comment form .form-textarea-wrapper textarea {
  height: 200px;
}
/* line 30, ../scss/_comment-box.scss */
.block-nurani-comment form label, .block-nurani-comment form .form-text, .block-nurani-comment form .filter-wrapper {
  display: none;
}
/* line 33, ../scss/_comment-box.scss */
.block-nurani-comment form .form-submit {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00447F', endColorstr='#FF000E19');
  background-color: #00447f;
  border: 0;
  color: white;
  text-shadow: black 0 -1px 0;
  margin-right: 0.5em;
}
/* line 15, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.block-nurani-comment form .form-submit:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.block-nurani-comment form .form-submit:hover {
  background-color: #003766;
}
/* line 44, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.block-nurani-comment form .form-submit:active {
  background-color: #002f56;
}
/* line 6, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.block-nurani-comment form .form-submit.disabled, .block-nurani-comment form .form-submit[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.block-nurani-comment form .form-submit::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 38, ../scss/_comment-box.scss */
.block-nurani-comment form .form-actions {
  float: right;
}

/*helper file that styles list of comments and preview on discussion page*/
/* line 3, ../scss/_comments-preview.scss */
.comment-inner {
  padding: 35px;
}
/* line 5, ../scss/_comments-preview.scss */
.comment-inner .user-picture {
  float: left;
  margin: 0 1em 0 -1em;
}
/* line 8, ../scss/_comments-preview.scss */
.comment-inner .user-picture a {
  float: left;
}
/* line 12, ../scss/_comments-preview.scss */
.comment-inner .content {
  margin-left: 4em;
  color: #4a4a4a;
}
/* line 15, ../scss/_comments-preview.scss */
.comment-inner .content .attribution {
  float: right;
}
/* line 4, ../scss/_typography.scss */
.comment-inner .content .attribution a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/* line 21, ../scss/_comments-preview.scss */
.comment-inner .links {
  margin-left: 1.5em;
  margin-top: 1em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
}
/* line 26, ../scss/_comments-preview.scss */
.comment-inner .links a {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF296A36', endColorstr='#FF0D2110');
  background-color: #296a36;
  border: 0;
  color: #e6e6e6;
  text-shadow: #050e07 0 -1px 0;
}
/* line 15, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.comment-inner .links a:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.comment-inner .links a:hover {
  background-color: #22582c;
}
/* line 44, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.comment-inner .links a:active {
  background-color: #1e4d27;
}
/* line 6, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.comment-inner .links a.disabled, .comment-inner .links a[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.comment-inner .links a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 28, ../scss/_comments-preview.scss */
.comment-inner .links a:hover {
  color: #fff;
}

 /*.links {
    margin-top: 20px;
    @include border-radius(0.2em);

    a {
      @include undo-blocky-link;
      @include sronline-button($form_blue, 12px, darken(#fff, 10%));

      &:hover {
        color: #fff;
      }
    }
  }*/
/* line 10, ../scss/_layout.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/_layout.scss */
body {
  margin: 0;
  background: #f1e9e4 url("../images/brown_bkg.gif") repeat fixed center right;
}

/* line 20, ../scss/_layout.scss */
.region-top-strip {
  background: #fff;
  padding: 4px 20px 0;
}

/* line 25, ../scss/_layout.scss */
#main {
  *zoom: 1;
  max-width: 98.33333%;
  _width: 98.33333%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  /* @include susy-grid-background;*/
}
/* line 38, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 29, ../scss/_layout.scss */
#main > #content {
  padding-left: 5.08475%;
  padding-right: 5.08475%;
  width: 89.83051%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 37, ../scss/_layout.scss */
#header {
  height: 39px;
  *zoom: 1;
  max-width: 98.33333%;
  _width: 98.33333%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  /* @include susy-grid-background;*/
}
/* line 38, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 47, ../scss/_layout.scss */
#content-inner #content-area {
  margin-bottom: 2em;
}
/* line 53, ../scss/_layout.scss */
#content-inner #content-bottom #content-bottom-left {
  float: left;
  width: 60.37736%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
}
/* line 58, ../scss/_layout.scss */
#content-inner #content-bottom #content-bottom-right {
  float: left;
  width: 32.07547%;
  float: right;
  margin-right: 0;
  #margin-left: -1.66667%;
  display: inline;
}

/* i removed the front class ...*/
/* line 17, ../scss/core.scss */
body.not-logged-in {
  /*  Not Logged-in Front Page */
}
/* line 13, ../scss/pages/_page-front-not-logged-in.scss */
body.not-logged-in .panel-panel {
  width: 32.07547%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
}
/* line 15, ../scss/pages/_page-front-not-logged-in.scss */
body.not-logged-in .panel-panel:nth-child(3n) {
  float: right;
  margin-right: 0;
  #margin-left: -1.66667%;
  display: inline;
}
/* line 18, ../scss/pages/_page-front-not-logged-in.scss */
body.not-logged-in #block-boxes-nurani_welcome, body.not-logged-in #block-boxes-nurani_about_nurani, body.not-logged-in .panel-pane {
  background-color: #fff;
  margin-bottom: 25px;
  padding: 30px;
  text-align: justify;
}
/* line 25, ../scss/pages/_page-front-not-logged-in.scss */
body.not-logged-in #boxes-box-nurani_welcome .d_ford {
  width: 80px;
  float: left;
  margin: 0 1.5em;
  border: 5px solid whiteSmoke;
}
/* line 34, ../scss/pages/_page-front-not-logged-in.scss */
body.not-logged-in #boxes-box-nurani_about_nurani iframe {
  margin-bottom: 2em;
  width: 100%;
}
/* line 39, ../scss/pages/_page-front-not-logged-in.scss */
body.not-logged-in #boxes-box-nurani_about_nurani a.welcome-link {
  background: url(../images/comment-icon.png) no-repeat 10px 5px;
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF296A36', endColorstr='#FF0D2110');
  background-color: #296a36;
  border: 0;
  color: #e6e6e6;
  text-shadow: #050e07 0 -1px 0;
  border-radius: 4em;
  padding-left: 3em;
  margin: 1em 2em;
  text-decoration: none;
  /*<a  class ="front-links" href="#"><span class="icon">View example Discussion</span></a>*/
}
/* line 15, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.not-logged-in #boxes-box-nurani_about_nurani a.welcome-link:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.not-logged-in #boxes-box-nurani_about_nurani a.welcome-link:hover {
  background-color: #22582c;
}
/* line 44, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.not-logged-in #boxes-box-nurani_about_nurani a.welcome-link:active {
  background-color: #1e4d27;
}
/* line 6, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.not-logged-in #boxes-box-nurani_about_nurani a.welcome-link.disabled, body.not-logged-in #boxes-box-nurani_about_nurani a.welcome-link[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
body.not-logged-in #boxes-box-nurani_about_nurani a.welcome-link::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 43, ../scss/pages/_page-front-not-logged-in.scss */
body.not-logged-in #boxes-box-nurani_about_nurani a.welcome-link:hover {
  color: #fff;
}

/* line 1, ../scss/pages/_page-front-logged-in.scss */
body.front.logged-in .panel-display {
  /*Your discussion block*/
  /*profile block*/
}
/* line 3, ../scss/pages/_page-front-logged-in.scss */
body.front.logged-in .panel-display h2.block-title, body.front.logged-in .panel-display h2.pane-title {
  text-align: left;
  margin-bottom: 1em;
}
/* line 8, ../scss/pages/_page-front-logged-in.scss */
body.front.logged-in .panel-display h3 a {
  font-family: palatino;
  font-style: italic;
  color: #4a4a4a;
  text-decoration: none;
}
/* line 15, ../scss/pages/_page-front-logged-in.scss */
body.front.logged-in .panel-display .panel-col-first {
  width: 54.71698%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
}
/* line 17, ../scss/pages/_page-front-logged-in.scss */
body.front.logged-in .panel-display .panel-col-first .view-nurani-discussions {
  background-color: #fff;
  margin-bottom: 25px;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #4c1313;
}
/* line 25, ../scss/pages/_page-front-logged-in.scss */
body.front.logged-in .panel-display .panel-col-last {
  width: 37.73585%;
  float: right;
  margin-right: 0;
  #margin-left: -1.66667%;
  display: inline;
}
/* line 27, ../scss/pages/_page-front-logged-in.scss */
body.front.logged-in .panel-display .panel-col-last div.profile {
  background-color: #fff;
  margin-bottom: 25px;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #005eae;
}

/* line 22, ../scss/core.scss */
body.node-type-discussion {
  /************ Section to style the Text Bundle for discussions ************/
  /*********** Styles for the lower section of the discussion page containing i.e. the comment list and comment form ***********/
  /*Style for response list comment-preview box*/
  /*Style for response list comment box*/
  /*//pdf of readings*/
}
/* line 3, ../scss/node/_node-discussion.scss */
body.node-type-discussion h1.title, body.node-type-discussion h2.subtitle {
  font-family: palatino;
  font-style: italic;
}
/* line 10, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .passage-box {
  margin-top: 2em;
  width: 32.07547%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
}
/* line 13, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .passage-box:nth-child(3n) {
  float: right;
  margin-right: 0;
  #margin-left: -1.66667%;
  display: inline;
}
/* line 16, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .passage-boxes > .inner {
  width: 88.67925%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
  padding-left: 5.08475%;
  padding-right: 5.08475%;
}
/* line 25, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .inner > .passage-text {
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #8b000e;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #ccc6c2;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc6c2;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: #ccc6c2;
  background: #f1e9e4;
}
/* line 34, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .inner .passage-widget .verse {
  margin: 0 0.5em;
}
/* line 37, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .inner .passage-widget p {
  font-family: palatino;
  margin-top: 0.5em;
  display: inline;
}
/* line 44, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .inner .bib {
  border: 1px solid #ccc6c2;
}
/* line 48, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .inner .bib .moderator_s_thoughts p {
  font-size: 1.1429em;
  text-indent: justify;
  color: #4a4a4a;
}
/* line 54, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .inner .bib .moderator_s_thoughts span, body.node-type-discussion .node-discussion .inner .bib .moderator_s_thoughts a.username {
  margin-left: 2.5em;
  color: #005eae;
  font-weight: bold;
}
/* line 72, ../scss/node/_node-discussion.scss */
body.node-type-discussion #block-views-nurani_comment_list-block {
  margin-left: 80px;
}
/* line 73, ../scss/node/_node-discussion.scss */
body.node-type-discussion #block-views-nurani_comment_list-block h2.block-title {
  text-align: left;
}
/* line 76, ../scss/node/_node-discussion.scss */
body.node-type-discussion #block-views-nurani_comment_list-block .comment-number {
  position: absolute;
  left: -80px;
  margin-top: 46px;
  font-size: 3.5em;
  opacity: 0.5;
}
/* line 86, ../scss/node/_node-discussion.scss */
body.node-type-discussion .comment-preview {
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #8b000e;
}
/* line 92, ../scss/node/_node-discussion.scss */
body.node-type-discussion .view-nurani-comment-list .comment {
  /*margin-left:80px;*/
  background-color: #fff;
  margin-bottom: 25px;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #005eae;
}
/* line 97, ../scss/node/_node-discussion.scss */
body.node-type-discussion .view-nurani-comment-list .comment #new {
  position: absolute;
  left: -68px;
  margin-top: -57px;
  background-image: url(../images/new.png);
  width: 100px;
  height: 100px;
}
/* line 106, ../scss/node/_node-discussion.scss */
body.node-type-discussion .view-nurani-comment-list .comment span.new {
  visibility: hidden;
}
/* line 112, ../scss/node/_node-discussion.scss */
body.node-type-discussion .block-meedan-discussion-lock {
  background: url(../images/clock-icon.png) no-repeat;
  margin-bottom: 1em;
}
/* line 115, ../scss/node/_node-discussion.scss */
body.node-type-discussion .block-meedan-discussion-lock .content {
  margin-left: 3em;
  color: #4a4a4a;
  font-size: 1.2em;
}
/* line 122, ../scss/node/_node-discussion.scss */
body.node-type-discussion a.printpdf {
  background: url(../images/print-icon.png) center left no-repeat;
  padding-left: 3em;
  color: #4a4a4a;
  font-size: 1.2em;
  text-decoration: none;
}
/* line 128, ../scss/node/_node-discussion.scss */
body.node-type-discussion a.printpdf:hover {
  text-decoration: underline;
}
/* line 133, ../scss/node/_node-discussion.scss */
body.node-type-discussion #block-nurani_discussion-print_pdf {
  margin-bottom: 4em;
}
/* line 139, ../scss/node/_node-discussion.scss */
body.node-type-discussion .view-meedan-discussion-participants > .view-content {
  margin-bottom: 4em;
}
/* line 141, ../scss/node/_node-discussion.scss */
body.node-type-discussion .view-meedan-discussion-participants > .view-content .views-field-picture {
  float: left;
}
/* line 143, ../scss/node/_node-discussion.scss */
body.node-type-discussion .view-meedan-discussion-participants > .view-content .views-field-name, body.node-type-discussion .view-meedan-discussion-participants > .view-content .views-field-cid {
  margin-left: 4em;
}
/* line 4, ../scss/_typography.scss */
body.node-type-discussion .view-meedan-discussion-participants > .view-content .views-field-name a, body.node-type-discussion .view-meedan-discussion-participants > .view-content .views-field-cid a {
  color: #005eae;
  font-weight: bold;
  text-decoration: none;
}
