/*global variables*/
/*Mixin to style Username links*/
/*mixin to style discussion lock & print pdf*/
/* Mixin to style attribution class and links */
/* Calls layout.scss that renders all the styles on the site*/
/*globally applied css*/
@font-face {
  font-family: "Palatino Regular";
  src: url('/fonts/palatino-regular.eot') format('embedded-opentype'), url('/fonts/palatino-regular.otf') format('opentype'), url('/fonts/palatino-regular.svg') format('svg'), url('/fonts/palatino-regular.ttf') format('truetype'), url('/fonts/palatino-regular.woff') format('woff');
}

/* line 12, ../scss/_typography.scss */
.printpdf {
  background: url(../images/print.png) center left no-repeat;
  margin: 1em 0 1em 0;
  padding: 1em 0 0 3em;
  color: #4a4a4a;
  font-size: 1.2em;
  text-decoration: none;
}
/* line 19, ../scss/_typography.scss */
.printpdf:hover {
  text-decoration: underline;
}

/* line 24, ../scss/_typography.scss */
body {
  font-family: Helvetica Neue;
  font-size: 14px;
  line-height: 26px;
  color: #4c1313;
}

/* line 32, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue;
}

/* line 36, ../scss/_typography.scss */
h1, h2 {
  text-align: center;
}

/* line 38, ../scss/_typography.scss */
p {
  font-size: 1em;
  /* 14px */
  line-height: 1.8571em;
  /* 26px */
  /*margin: 0 0 1.8571em 0;*/
}

/* line 45, ../scss/_typography.scss */
h1 {
  font-size: 2.4286em;
  /* 34px */
  line-height: 1.5294em;
  /* 52px */
  margin-top: 0.7647em;
  margin-bottom: 0em;
  font-weight: bold;
}

/* line 53, ../scss/_typography.scss */
h2 {
  font-size: 2.1429em;
  /* 30px */
  line-height: 0.7333em;
  /* 52px */
  margin-bottom: 0em;
  font-weight: normal;
}

/* line 61, ../scss/_typography.scss */
h3 {
  font-size: 1.28571em;
  line-height: 1.4444em;
  margin-top: 1.4444em;
  margin-bottom: 0em;
}

/* line 68, ../scss/_typography.scss */
h4 {
  font-size: 1em;
  font-weight: normal;
  margin-top: -0.5em;
  margin-bottom: 1.5em;
}

/* line 75, ../scss/_typography.scss */
ul, ul li {
  list-style-type: disc;
  list-style: none;
}

/* line 79, ../scss/_typography.scss */
ol, ol li {
  list-style: decimal;
}

/* line 82, ../scss/_typography.scss */
sup {
  font-size: xx-small;
  vertical-align: super;
}

/** menu links fall below the other as screen size reduces **/
@media only screen and (max-width: 1024px) {
  /* line 4, ../scss/_media-queries.scss */
  div#top-strip {
    width: 100%;
    height: 100%;
  }
  /* line 10, ../scss/_media-queries.scss */
  div#top-strip #block-menu_block-nurani_main_menu ul li a {
    padding: 2px;
  }
}
/* line 2, ../scss/_header.scss */
#header {
  background-color: #4c1313;
}
/* line 5, ../scss/_header.scss */
#header #logo-box {
  width: 59.32203%;
  float: right;
  margin-right: 0;
  #margin-left: -1.66667%;
  display: inline;
  position: relative;
}
/* line 11, ../scss/_header.scss */
#header #logo-box a#logo {
  z-index: 1;
  position: absolute;
  top: -12px;
}
/* line 18, ../scss/_header.scss */
#header #logo-box a#logo img {
  max-width: 100%;
}

/*Welcome block*/
/* line 3, ../scss/_top-strip.scss */
#block-nurani_helpers-welcome_login {
  margin-top: -2.5em;
  float: right;
  font-size: 1.5em;
  color: #4a4a4a;
}
/* line 4, ../scss/helpers/_links.scss */
#block-nurani_helpers-welcome_login .welcome a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/* line 13, ../scss/_top-strip.scss */
#block-nurani_helpers-welcome_login .logout, #block-nurani_helpers-welcome_login .login {
  margin-left: 5em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 17, ../scss/_top-strip.scss */
#block-nurani_helpers-welcome_login .logout a, #block-nurani_helpers-welcome_login .login a {
  text-decoration: none;
  color: #4a4a4a;
}

/* line 26, ../scss/_top-strip.scss */
#block-menu_block-nurani_main_menu {
  width: 45%;
  padding: 1.8em;
}
/* line 30, ../scss/_top-strip.scss */
#block-menu_block-nurani_main_menu ul li {
  list-style-type: none;
  display: inline;
}
/* line 33, ../scss/_top-strip.scss */
#block-menu_block-nurani_main_menu ul li a {
  font-size: 1.5em;
  float: left;
  display: block;
  margin: 0 1em 0 0;
  padding: 0.2em 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #4c1313;
}
/* line 44, ../scss/_top-strip.scss */
#block-menu_block-nurani_main_menu ul li a.active, #block-menu_block-nurani_main_menu ul li a:hover {
  text-decoration: none;
  color: #fff;
  background: #4c1313;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}

/* This themes list of comments and preview on discussion page */
/* line 3, ../scss/_comments.scss */
.comment-inner {
  padding: 35px;
}
/* line 5, ../scss/_comments.scss */
.comment-inner .user-picture {
  float: left;
  margin: 0 1em 0 -1em;
}
/* line 8, ../scss/_comments.scss */
.comment-inner .user-picture a {
  float: left;
}
/* line 12, ../scss/_comments.scss */
.comment-inner .content {
  margin-left: 4em;
  color: #4a4a4a;
}
/* line 15, ../scss/_comments.scss */
.comment-inner .content .attribution {
  float: right;
}
/* line 4, ../scss/helpers/_links.scss */
.comment-inner .content .attribution a {
  color: #005eae;
  font-weight: bold;
  text-decoration: none;
}
/* line 21, ../scss/_comments.scss */
.comment-inner .links {
  margin-left: 1.5em;
  margin-top: 1em;
}
/* line 24, ../scss/_comments.scss */
.comment-inner .links a {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0064B8', endColorstr='#FF002C52');
  background-color: #0064b8;
  border: 0;
  color: white;
  text-shadow: #001f39 0 -1px 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
/* line 15, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.comment-inner .links a:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.comment-inner .links a:hover {
  background-color: #00569f;
}
/* line 44, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.comment-inner .links a:active {
  background-color: #004d8f;
}
/* line 6, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.comment-inner .links a.disabled, .comment-inner .links a[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.comment-inner .links a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 29, ../scss/_comments.scss */
.comment-inner .links a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 3, ../scss/_user-profile.scss */
.pane-nurani-profile-user-profile h2.pane-title {
  color: #005eae;
}
/* line 8, ../scss/_user-profile.scss */
.pane-nurani-profile-user-profile .profile .group-profile {
  margin-top: 1em;
}
/* line 10, ../scss/_user-profile.scss */
.pane-nurani-profile-user-profile .profile .user-picture {
  float: right;
  margin: 2em 0 0 1em;
}
/* line 15, ../scss/_user-profile.scss */
.pane-nurani-profile-user-profile .profile .fieldset-legend, .pane-nurani-profile-user-profile .profile a.fieldset-title {
  font-size: 1.2em;
  color: #005eae;
}
/* line 20, ../scss/_user-profile.scss */
.pane-nurani-profile-user-profile .profile .field-name-field-title, .pane-nurani-profile-user-profile .profile .field-name-field-first-name {
  display: inline;
  float: left;
  margin-right: 10px;
}
/* line 26, ../scss/_user-profile.scss */
.pane-nurani-profile-user-profile .profile .group-details .field {
  margin-bottom: 1em;
}
/* line 28, ../scss/_user-profile.scss */
.pane-nurani-profile-user-profile .profile .group-details .field > .field-items {
  float: right;
  text-align: right;
}
/* line 33, ../scss/_user-profile.scss */
.pane-nurani-profile-user-profile .profile .field-name-field-postal-address .field-items {
  width: 28%;
}
/* line 37, ../scss/_user-profile.scss */
.pane-nurani-profile-user-profile .profile .field-label-above {
  margin-bottom: 1em;
}

/******************************************** Global Form Styling ********************************************/
/* line 17, ../scss/_forms.scss */
.form-text, .form-textarea, select {
  top: 4px;
  padding: 3px 10px;
  font-size: 16px;
  border: 0;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 0 2.1px inset 0px 5px #cccccc;
  -moz-box-shadow: 0 0 0 2.1px inset 0px 5px #cccccc;
  box-shadow: 0 0 0 2.1px inset 0px 5px #cccccc;
}

/* line 21, ../scss/_forms.scss */
input.form-submit, .button {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0064B8', endColorstr='#FF002C52');
  background-color: #0064b8;
  border: 0;
  color: white;
  text-shadow: #001f39 0 -1px 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 15, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input.form-submit:hover, .button:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input.form-submit:hover, .button:hover {
  background-color: #00569f;
}
/* line 44, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input.form-submit:active, .button:active {
  background-color: #004d8f;
}
/* line 6, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input.form-submit.disabled, input.form-submit[disabled], .button.disabled, .button[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
input.form-submit::-moz-focus-inner, .button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 28, ../scss/_forms.scss */
.field-group-fieldset, fieldset {
  border: none;
}

/* line 32, ../scss/_forms.scss */
input.date-clear {
  background: url(../images/calendar.png) no-repeat 154px 1px;
}

/* line 37, ../scss/_forms.scss */
.field-type-datetime legend, #edit-picture legend {
  display: none;
}

/******************************************** Styling for User account forms ********************************************/
/* line 46, ../scss/_forms.scss */
.page-user-register #content-inner, .page-user #content-inner, .page-user-password #content-inner {
  margin: 0 auto;
  width: 1100px;
}

/* line 55, ../scss/_forms.scss */
.page-user-register .field-type-list-text, .page-user-register .field-type-text, .page-user-register .field-type-datetime,
.page-user-register #edit-picture, .page-user-register .form-type-textarea, .page-user-register .form-item-mail {
  display: inline-block;
  float: left;
  margin-right: 30px;
}
/* line 60, ../scss/_forms.scss */
.page-user-register .field-type-datetime {
  clear: left;
}
/* line 65, ../scss/_forms.scss */
.page-user-register .field-name-field-title,
.page-user-register .field-name-field-mobile-phone,
.page-user-register .field-name-field-how-did-you-hear-about-us,
.page-user-register .field-name-field-subjects-of-interest {
  clear: both;
}
/* line 68, ../scss/_forms.scss */
.page-user-register .form-item-mail {
  width: 425px;
}
/* line 72, ../scss/_forms.scss */
.page-user-register input#edit-mail {
  width: 350px;
}
/* line 74, ../scss/_forms.scss */
.page-user-register input#edit-picture-upload {
  width: 200px;
}
/* line 76, ../scss/_forms.scss */
.page-user-register input.form-submit {
  margin-left: 12px;
}
/* line 80, ../scss/_forms.scss */
.page-user-register .form-type-textarea {
  width: 500px;
}
/* line 84, ../scss/_forms.scss */
.page-user-register #edit-picture .fieldset-wrapper {
  width: 280px;
}
/* line 87, ../scss/_forms.scss */
.page-user-register .field-group-fieldset {
  margin-top: 30px;
}
/* line 91, ../scss/_forms.scss */
.page-user-register #field-date-of-birth-add-more-wrapper {
  margin-left: -16px;
}
/* line 97, ../scss/_forms.scss */
.page-user-register .field-group-fieldset > legend {
  text-align: center;
  background: url(../images/bevel.jpg);
  width: 100%;
  margin-right: 1.69492%;
  display: inline;
}
/* line 104, ../scss/_forms.scss */
.page-user-register .field-group-fieldset > legend .fieldset-title {
  font-family: "palatino regular";
  font-style: italic;
  font-size: 2.1429em;
  text-decoration: none;
  color: #4c1313;
  background: url(../images/brown_bkg.png);
  padding: 20px;
}
/* line 116, ../scss/_forms.scss */
.page-user-register input#edit-field-post-code-und-0-value {
  width: 250px;
}
/* line 117, ../scss/_forms.scss */
.page-user-register select#edit-field-country-und {
  width: 158px;
}
/* line 118, ../scss/_forms.scss */
.page-user-register input#edit-field-mobile-phone-und-0-value, .page-user-register input#edit-field-occupation-und-0-value {
  width: 480px;
}
/* line 119, ../scss/_forms.scss */
.page-user-register input#edit-field-landline-phone-und-0-value {
  width: 435px;
}
/* line 120, ../scss/_forms.scss */
.page-user-register input#edit-field-first-name-und-0-value, .page-user-register input#edit-field-last-name-und-0-value {
  width: 400px;
}

/******************************************** Nurani profile form ********************************************/
/* line 128, ../scss/_forms.scss */
#nurani-profile-wrapper {
  padding: 30px;
}
/* line 132, ../scss/_forms.scss */
#nurani-profile-wrapper .field-group-fieldset > legend {
  margin: 0 auto;
}
/* line 134, ../scss/_forms.scss */
#nurani-profile-wrapper .field-group-fieldset > legend .fieldset-title {
  font-size: 2.1429em;
  font-family: "palatino regular";
  font-style: italic;
  text-decoration: none;
  color: #005eae;
}
/* line 145, ../scss/_forms.scss */
#nurani-profile-wrapper #edit-timezone--2, #nurani-profile-wrapper .field-group-fieldset .legend {
  width: 450px;
}
/* line 148, ../scss/_forms.scss */
#nurani-profile-wrapper .form-actions {
  display: inline;
  margin-right: 10px;
}
/* line 152, ../scss/_forms.scss */
#nurani-profile-wrapper .button {
  display: inline;
  text-decoration: none;
}

/* line 13, ../scss/_layout.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 18, ../scss/_layout.scss */
body {
  margin: 0;
  background: #f1e9e4 url("../images/brown_bkg.gif") repeat fixed center right;
}

/* line 23, ../scss/_layout.scss */
.region-top-strip {
  background: #fff;
  padding: 4px 20px 0;
}

/* line 28, ../scss/_layout.scss */
#main {
  *zoom: 1;
  max-width: 98.33333%;
  _width: 98.33333%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 31, ../scss/_layout.scss */
#main > #content {
  padding-left: 5.08475%;
  padding-right: 5.08475%;
  width: 89.83051%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 39, ../scss/_layout.scss */
#header {
  height: 39px;
  *zoom: 1;
  max-width: 98.33333%;
  _width: 98.33333%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  /* @include susy-grid-background;*/
}
/* line 38, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 47, ../scss/_layout.scss */
#content-inner #content-area {
  margin-bottom: 4em;
}
/* line 53, ../scss/_layout.scss */
#content-inner #content-bottom #content-bottom-left {
  float: left;
  width: 60.37736%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
}
/* line 58, ../scss/_layout.scss */
#content-inner #content-bottom #content-bottom-right {
  float: left;
  width: 32.07547%;
  float: right;
  margin-right: 0;
  #margin-left: -1.66667%;
  display: inline;
}

/* Pages */
/* line 21, ../scss/core.scss */
body.front {
  /*  Front-page */
  /******************************************** Styles for Home page when logged out ********************************************/
  /******************************************** Styles for Home page when logged in ********************************************/
}
/* line 3, ../scss/pages/_page-front.scss */
body.front h2 {
  margin-bottom: 1em;
}
/* line 9, ../scss/pages/_page-front.scss */
body.front .panel-3col-33 .panel-panel {
  width: 32.07547%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
}
/* line 11, ../scss/pages/_page-front.scss */
body.front .panel-3col-33 .panel-panel:nth-child(3n) {
  float: right;
  margin-right: 0;
  #margin-left: -1.66667%;
  display: inline;
}
/* line 15, ../scss/pages/_page-front.scss */
body.front .panel-3col-33 .block-boxes,
body.front .panel-3col-33 .panel-pane {
  padding: 30px;
  text-align: justify;
}
/* line 22, ../scss/pages/_page-front.scss */
body.front .panel-3col-33 #block-boxes-nurani_welcome {
  background-color: #fff;
  margin-bottom: 25px;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #ac9d43;
}
/* line 24, ../scss/pages/_page-front.scss */
body.front .panel-3col-33 #block-boxes-nurani_welcome .d_ford {
  width: 80px;
  float: left;
  margin: 0 1.5em;
  border: 5px solid whiteSmoke;
}
/* line 32, ../scss/pages/_page-front.scss */
body.front .panel-3col-33 #block-boxes-nurani_about_nurani {
  background-color: #fff;
  margin-bottom: 25px;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #4c1313;
}
/* line 34, ../scss/pages/_page-front.scss */
body.front .panel-3col-33 #block-boxes-nurani_about_nurani iframe {
  margin-bottom: 2em;
  width: 100%;
}
/* line 39, ../scss/pages/_page-front.scss */
body.front .panel-3col-33 #block-boxes-nurani_about_nurani a.welcome-link {
  background: url(../images/speech-bubble-left-4.png) no-repeat 10px 13px;
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0064B8', endColorstr='#FF002C52');
  background-color: #0064b8;
  border: 0;
  color: #fefefe;
  text-shadow: #001f39 0 -1px 0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 3.5em;
  margin: 1em 4em;
}
/* line 15, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.front .panel-3col-33 #block-boxes-nurani_about_nurani a.welcome-link:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.front .panel-3col-33 #block-boxes-nurani_about_nurani a.welcome-link:hover {
  background-color: #00569f;
}
/* line 44, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.front .panel-3col-33 #block-boxes-nurani_about_nurani a.welcome-link:active {
  background-color: #004d8f;
}
/* line 6, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.front .panel-3col-33 #block-boxes-nurani_about_nurani a.welcome-link.disabled, body.front .panel-3col-33 #block-boxes-nurani_about_nurani a.welcome-link[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
body.front .panel-3col-33 #block-boxes-nurani_about_nurani a.welcome-link::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 10, ../scss/helpers/_nurani-button.scss */
body.front .panel-3col-33 #block-boxes-nurani_about_nurani a.welcome-link:hover {
  color: #fff;
}
/* line 47, ../scss/pages/_page-front.scss */
body.front .panel-3col-33 .panel-pane {
  background-color: #fff;
  margin-bottom: 25px;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #005eae;
}
/* line 49, ../scss/pages/_page-front.scss */
body.front .panel-3col-33 .panel-pane a.invitation-link {
  background: url(../images/mail.png) no-repeat 10px 11px;
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0064B8', endColorstr='#FF002C52');
  background-color: #0064b8;
  border: 0;
  color: #fefefe;
  text-shadow: #001f39 0 -1px 0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 1em 1em 4em;
  margin: 1em 4em;
}
/* line 15, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.front .panel-3col-33 .panel-pane a.invitation-link:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.front .panel-3col-33 .panel-pane a.invitation-link:hover {
  background-color: #00569f;
}
/* line 44, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.front .panel-3col-33 .panel-pane a.invitation-link:active {
  background-color: #004d8f;
}
/* line 6, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.front .panel-3col-33 .panel-pane a.invitation-link.disabled, body.front .panel-3col-33 .panel-pane a.invitation-link[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
body.front .panel-3col-33 .panel-pane a.invitation-link::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 10, ../scss/helpers/_nurani-button.scss */
body.front .panel-3col-33 .panel-pane a.invitation-link:hover {
  color: #fff;
}
/* line 61, ../scss/pages/_page-front.scss */
body.front .panel-2col {
  /* This styles the discussion block*/
  /* This styles the profile block*/
}
/* line 62, ../scss/pages/_page-front.scss */
body.front .panel-2col h2 {
  text-align: left;
}
/* line 65, ../scss/pages/_page-front.scss */
body.front .panel-2col h3 {
  margin-bottom: 1em;
}
/* line 67, ../scss/pages/_page-front.scss */
body.front .panel-2col h3 a {
  font-family: "palatino regular";
  font-style: italic;
  color: #4a4a4a;
  text-decoration: none;
  font-weight: lighter;
  font-size: 2.1429em;
}
/* line 79, ../scss/pages/_page-front.scss */
body.front .panel-2col .panel-col-first {
  width: 54.71698%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
}
/* line 81, ../scss/pages/_page-front.scss */
body.front .panel-2col .panel-col-first .view-nurani-discussions {
  background-color: #fff;
  margin-bottom: 25px;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #4c1313;
}
/* line 87, ../scss/pages/_page-front.scss */
body.front .panel-2col .panel-col-last {
  width: 43.39623%;
  float: right;
  margin-right: 0;
  #margin-left: -1.66667%;
  display: inline;
}
/* line 89, ../scss/pages/_page-front.scss */
body.front .panel-2col .panel-col-last .pane-content {
  background-color: #fff;
  margin-bottom: 25px;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #005eae;
}
/* line 95, ../scss/pages/_page-front.scss */
body.front .view-nurani-discussions {
  padding: 0 25px 0;
}
/* line 97, ../scss/pages/_page-front.scss */
body.front .view-nurani-discussions > .view-content .views-row {
  clear: left;
  padding: 10px;
}
/* line 102, ../scss/pages/_page-front.scss */
body.front .view-nurani-discussions > .view-content .views-row .views-field-view {
  margin-bottom: 20px;
}
/* line 105, ../scss/pages/_page-front.scss */
body.front .view-nurani-discussions > .view-content .views-row .views-field-field-bundle {
  float: left;
  margin-right: 10px;
  padding-right: 25px;
}
/* line 109, ../scss/pages/_page-front.scss */
body.front .view-nurani-discussions > .view-content .views-row .views-field-field-bundle span.passage {
  display: inline-block;
  padding-right: 1em;
  font-weight: bold;
}
/* line 115, ../scss/pages/_page-front.scss */
body.front .view-nurani-discussions > .view-content .views-row .views-field-nothing, body.front .view-nurani-discussions > .view-content .views-row .views-field-view {
  margin-left: 385px;
}
/* line 121, ../scss/pages/_page-front.scss */
body.front .view-nurani-discussions .view-meedan-discussion-participants {
  margin-top: 23px;
}
/* line 123, ../scss/pages/_page-front.scss */
body.front .view-nurani-discussions .view-meedan-discussion-participants > .view-content .views-row {
  display: inline-block;
  margin-right: -15px;
}

/* node types */
/* line 24, ../scss/core.scss */
body.node-type-discussion {
  /******************************************** Section to style the Text Bundle for discussions ********************************************/
  /****** styling tabbed for translation option ******/
  /*********** Styles for the lower section of the discussion page containing i.e. the comment list and comment form ***********/
  /******************************************** Styling list of comments section and comment preview ********************************************/
  /** Style for preview comment box **/
  /** Style for response list comment box**/
  /** style to create drop-down arrow **/
  /**Styling sort-link**/
  /******************************************** Styling Comment form ********************************************/
  /******************************************** Styling Discussion info section ********************************************/
}
/* line 4, ../scss/node/_node-discussion.scss */
body.node-type-discussion #content-header h1, body.node-type-discussion #content-header h2 {
  font-family: "palatino regular";
  font-style: italic;
}
/* line 11, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .passage-boxes > .inner {
  width: 88.67925%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
  float: none;
}
/* line 15, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .passage-box {
  margin-top: 2em;
  width: 32.07547%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
}
/* line 18, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .passage-box:nth-child(3n) {
  float: right;
  margin-right: 0;
  #margin-left: -1.66667%;
  display: inline;
}
/* line 21, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .inner > .passage-text {
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #8b000e;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #ccc6c2;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc6c2;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: #ccc6c2;
  background: #f1e9e4;
}
/* line 10, ../scss/helpers/_bundle.scss */
body.node-type-discussion .node-discussion .inner > .passage-text .passage-widget .verse {
  margin: 0 0.5em;
}
/* line 13, ../scss/helpers/_bundle.scss */
body.node-type-discussion .node-discussion .inner > .passage-text .passage-widget h4 {
  margin-bottom: 1em;
}
/* line 14, ../scss/helpers/_bundle.scss */
body.node-type-discussion .node-discussion .inner > .passage-text .passage-widget p {
  font-family: palatino;
  margin-top: 0.5em;
  display: inline;
}
/* line 19, ../scss/helpers/_bundle.scss */
body.node-type-discussion .node-discussion .inner > .passage-text .passage-widget .bib {
  border: 1px solid #ccc6c2;
}
/* line 22, ../scss/helpers/_bundle.scss */
body.node-type-discussion .node-discussion .inner > .passage-text .passage-widget .bib .moderator_s_thoughts p {
  font-size: 1.1429em;
  text-indent: justify;
  color: #4a4a4a;
  margin-bottom: 2em;
}
/* line 28, ../scss/helpers/_bundle.scss */
body.node-type-discussion .node-discussion .inner > .passage-text .passage-widget .bib .moderator_s_thoughts span.attribution {
  margin-top: -1em;
  padding-right: 20px;
  float: right;
}
/* line 4, ../scss/helpers/_links.scss */
body.node-type-discussion .node-discussion .inner > .passage-text .passage-widget .bib .moderator_s_thoughts span.attribution a {
  color: #005eae;
  font-weight: bold;
  text-decoration: none;
}
/* line 24, ../scss/node/_node-discussion.scss */
body.node-type-discussion .node-discussion .inner .bib {
  margin: -1em 0 0 3.5em;
  width: 64.70588%;
  float: left;
  margin-right: 5.88235%;
  display: inline;
  padding-left: 10.16949%;
}
/* line 35, ../scss/node/_node-discussion.scss */
body.node-type-discussion .tab-bar {
  margin-top: 1em;
}
/* line 38, ../scss/node/_node-discussion.scss */
body.node-type-discussion .tab-bar a.button {
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD0BCA5', endColorstr='#FFAE8A61');
  background-color: #d0bca5;
  border: 0;
  color: #fefefe;
  text-shadow: #a27d54 0 -1px 0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  color: #4a4a4a;
  margin-bottom: 1em;
  margin-right: 1em;
}
/* line 15, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.node-type-discussion .tab-bar a.button:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.node-type-discussion .tab-bar a.button:hover {
  background-color: #c8b094;
}
/* line 44, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.node-type-discussion .tab-bar a.button:active {
  background-color: #c3a88a;
}
/* line 6, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.node-type-discussion .tab-bar a.button.disabled, body.node-type-discussion .tab-bar a.button[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
body.node-type-discussion .tab-bar a.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 10, ../scss/helpers/_nurani-button.scss */
body.node-type-discussion .tab-bar a.button:hover {
  color: #fff;
}
/* line 44, ../scss/node/_node-discussion.scss */
body.node-type-discussion .tab-bar a.button:hover {
  color: #4a4a4a;
}
/* line 52, ../scss/node/_node-discussion.scss */
body.node-type-discussion #block-views-nurani_comment_list-block {
  margin-left: 80px;
}
/* line 53, ../scss/node/_node-discussion.scss */
body.node-type-discussion #block-views-nurani_comment_list-block h2 {
  text-align: left;
  margin-bottom: 2px;
  padding: 8px 0;
}
/* line 60, ../scss/node/_node-discussion.scss */
body.node-type-discussion #block-views-nurani_comment_list-block .comment-number {
  position: absolute;
  left: -80px;
  margin-top: 46px;
  font-size: 3.5em;
  opacity: 0.5;
}
/* line 72, ../scss/node/_node-discussion.scss */
body.node-type-discussion .comment-preview {
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #8b000e;
}
/* line 79, ../scss/node/_node-discussion.scss */
body.node-type-discussion .view-nurani-comment-list .comment {
  background-color: #fff;
  margin-bottom: 25px;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #005eae;
}
/* line 82, ../scss/node/_node-discussion.scss */
body.node-type-discussion .view-nurani-comment-list .comment .new {
  position: absolute;
  left: -50px;
  margin-top: -39px;
  background-color: #005eae;
  text-align: center;
  width: 50px;
  color: #fff;
}
/* line 97, ../scss/node/_node-discussion.scss */
body.node-type-discussion .nurani-sort-links:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  right: -5px;
  top: 12px;
  border: 10px solid transparent;
  border-top-color: #4c1313;
  opacity: 0.5;
}
/* line 111, ../scss/node/_node-discussion.scss */
body.node-type-discussion .nurani-sort-links {
  position: relative;
  float: right;
  font-size: 2.1429em;
  margin-top: -35px;
}
/* line 116, ../scss/node/_node-discussion.scss */
body.node-type-discussion .nurani-sort-links a {
  color: #4c1313;
  padding-right: 20px;
  display: block;
  text-decoration: none;
  opacity: 0.5;
}
/* line 124, ../scss/node/_node-discussion.scss */
body.node-type-discussion .nurani-sort-links a.active {
  display: none;
}
/* line 131, ../scss/node/_node-discussion.scss */
body.node-type-discussion .block-nurani-comment h2 {
  display: none;
}
/* line 137, ../scss/node/_node-discussion.scss */
body.node-type-discussion .comment-form {
  background: #005eae;
  margin-bottom: 2em;
  padding: 1em 1em 5em;
  color: #fff;
  max-width: 100%;
}
/* line 147, ../scss/node/_node-discussion.scss */
body.node-type-discussion .comment-form div.head .user-picture {
  float: left;
}
/* line 149, ../scss/node/_node-discussion.scss */
body.node-type-discussion .comment-form div.head .user-picture a {
  float: left;
}
/* line 154, ../scss/node/_node-discussion.scss */
body.node-type-discussion .comment-form div.head .info {
  margin-left: 6em;
}
/* line 4, ../scss/helpers/_links.scss */
body.node-type-discussion .comment-form div.head .info a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
/* line 159, ../scss/node/_node-discussion.scss */
body.node-type-discussion .comment-form div.head .tip {
  margin-top: 2em;
}
/* line 167, ../scss/node/_node-discussion.scss */
body.node-type-discussion .comment-form label,
body.node-type-discussion .comment-form .form-text,
body.node-type-discussion .comment-form .filter-wrapper {
  display: none;
}
/* line 171, ../scss/node/_node-discussion.scss */
body.node-type-discussion .comment-form .ajax-processed {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00447F', endColorstr='#FF000E19');
  background-color: #00447f;
  border: 0;
  color: white;
  text-shadow: black 0 -1px 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin-right: 0.5em;
  display: inline;
}
/* line 15, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.node-type-discussion .comment-form .ajax-processed:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.node-type-discussion .comment-form .ajax-processed:hover {
  background-color: #003766;
}
/* line 44, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.node-type-discussion .comment-form .ajax-processed:active {
  background-color: #002f56;
}
/* line 6, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.node-type-discussion .comment-form .ajax-processed.disabled, body.node-type-discussion .comment-form .ajax-processed[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../Users/zeebalogun/.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
body.node-type-discussion .comment-form .ajax-processed::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 180, ../scss/node/_node-discussion.scss */
body.node-type-discussion .comment-form .form-actions {
  float: right;
}
/* line 185, ../scss/node/_node-discussion.scss */
body.node-type-discussion .block-meedan-discussion-lock {
  background: url(../images/clock-icon.png) no-repeat;
  margin-bottom: 2em;
}
/* line 188, ../scss/node/_node-discussion.scss */
body.node-type-discussion .block-meedan-discussion-lock .content {
  margin-left: 3em;
  color: #4a4a4a;
  font-size: 1.2em;
}
/* line 195, ../scss/node/_node-discussion.scss */
body.node-type-discussion #block-nurani_discussion-print_pdf {
  margin-bottom: 4em;
}
/* line 200, ../scss/node/_node-discussion.scss */
body.node-type-discussion .view-meedan-discussion-participants > .view-content {
  margin-bottom: 4em;
}
/* line 203, ../scss/node/_node-discussion.scss */
body.node-type-discussion .view-meedan-discussion-participants > .view-content .views-field-picture {
  float: left;
}
/* line 207, ../scss/node/_node-discussion.scss */
body.node-type-discussion .view-meedan-discussion-participants > .view-content .views-field-name,
body.node-type-discussion .view-meedan-discussion-participants > .view-content .views-field-cid {
  margin-left: 4em;
}
/* line 4, ../scss/helpers/_links.scss */
body.node-type-discussion .view-meedan-discussion-participants > .view-content .views-field-name a,
body.node-type-discussion .view-meedan-discussion-participants > .view-content .views-field-cid a {
  color: #005eae;
  font-weight: bold;
  text-decoration: none;
}

/* Susy testing and debugging */
/* line 28, ../scss/core.scss */
#page.wireframe-mode {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(3.38983%, rgba(100, 100, 225, 0.25)), color-stop(3.38983%, rgba(0, 0, 0, 0)), color-stop(5.08475%, rgba(0, 0, 0, 0)), color-stop(5.08475%, rgba(100, 100, 225, 0.25)), color-stop(8.47458%, rgba(100, 100, 225, 0.25)), color-stop(8.47458%, rgba(0, 0, 0, 0)), color-stop(10.16949%, rgba(0, 0, 0, 0)), color-stop(10.16949%, rgba(100, 100, 225, 0.25)), color-stop(13.55932%, rgba(100, 100, 225, 0.25)), color-stop(13.55932%, rgba(0, 0, 0, 0)), color-stop(15.25424%, rgba(0, 0, 0, 0)), color-stop(15.25424%, rgba(100, 100, 225, 0.25)), color-stop(18.64407%, rgba(100, 100, 225, 0.25)), color-stop(18.64407%, rgba(0, 0, 0, 0)), color-stop(20.33898%, rgba(0, 0, 0, 0)), color-stop(20.33898%, rgba(100, 100, 225, 0.25)), color-stop(23.72881%, rgba(100, 100, 225, 0.25)), color-stop(23.72881%, rgba(0, 0, 0, 0)), color-stop(25.42373%, rgba(0, 0, 0, 0)), color-stop(25.42373%, rgba(100, 100, 225, 0.25)), color-stop(28.81356%, rgba(100, 100, 225, 0.25)), color-stop(28.81356%, rgba(0, 0, 0, 0)), color-stop(30.50847%, rgba(0, 0, 0, 0)), color-stop(30.50847%, rgba(100, 100, 225, 0.25)), color-stop(33.89831%, rgba(100, 100, 225, 0.25)), color-stop(33.89831%, rgba(0, 0, 0, 0)), color-stop(35.59322%, rgba(0, 0, 0, 0)), color-stop(35.59322%, rgba(100, 100, 225, 0.25)), color-stop(38.98305%, rgba(100, 100, 225, 0.25)), color-stop(38.98305%, rgba(0, 0, 0, 0)), color-stop(40.67797%, rgba(0, 0, 0, 0)), color-stop(40.67797%, rgba(100, 100, 225, 0.25)), color-stop(44.0678%, rgba(100, 100, 225, 0.25)), color-stop(44.0678%, rgba(0, 0, 0, 0)), color-stop(45.76271%, rgba(0, 0, 0, 0)), color-stop(45.76271%, rgba(100, 100, 225, 0.25)), color-stop(49.15254%, rgba(100, 100, 225, 0.25)), color-stop(49.15254%, rgba(0, 0, 0, 0)), color-stop(50.84746%, rgba(0, 0, 0, 0)), color-stop(50.84746%, rgba(100, 100, 225, 0.25)), color-stop(54.23729%, rgba(100, 100, 225, 0.25)), color-stop(54.23729%, rgba(0, 0, 0, 0)), color-stop(55.9322%, rgba(0, 0, 0, 0)), color-stop(55.9322%, rgba(100, 100, 225, 0.25)), color-stop(59.32203%, rgba(100, 100, 225, 0.25)), color-stop(59.32203%, rgba(0, 0, 0, 0)), color-stop(61.01695%, rgba(0, 0, 0, 0)), color-stop(61.01695%, rgba(100, 100, 225, 0.25)), color-stop(64.40678%, rgba(100, 100, 225, 0.25)), color-stop(64.40678%, rgba(0, 0, 0, 0)), color-stop(66.10169%, rgba(0, 0, 0, 0)), color-stop(66.10169%, rgba(100, 100, 225, 0.25)), color-stop(69.49153%, rgba(100, 100, 225, 0.25)), color-stop(69.49153%, rgba(0, 0, 0, 0)), color-stop(71.18644%, rgba(0, 0, 0, 0)), color-stop(71.18644%, rgba(100, 100, 225, 0.25)), color-stop(74.57627%, rgba(100, 100, 225, 0.25)), color-stop(74.57627%, rgba(0, 0, 0, 0)), color-stop(76.27119%, rgba(0, 0, 0, 0)), color-stop(76.27119%, rgba(100, 100, 225, 0.25)), color-stop(79.66102%, rgba(100, 100, 225, 0.25)), color-stop(79.66102%, rgba(0, 0, 0, 0)), color-stop(81.35593%, rgba(0, 0, 0, 0)), color-stop(81.35593%, rgba(100, 100, 225, 0.25)), color-stop(84.74576%, rgba(100, 100, 225, 0.25)), color-stop(84.74576%, rgba(0, 0, 0, 0)), color-stop(86.44068%, rgba(0, 0, 0, 0)), color-stop(86.44068%, rgba(100, 100, 225, 0.25)), color-stop(89.83051%, rgba(100, 100, 225, 0.25)), color-stop(89.83051%, rgba(0, 0, 0, 0)), color-stop(91.52542%, rgba(0, 0, 0, 0)), color-stop(91.52542%, rgba(100, 100, 225, 0.25)), color-stop(94.91525%, rgba(100, 100, 225, 0.25)), color-stop(94.91525%, rgba(0, 0, 0, 0)), color-stop(96.61017%, rgba(0, 0, 0, 0)), color-stop(96.61017%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.38983%, rgba(0, 0, 0, 0) 3.38983%, rgba(0, 0, 0, 0) 5.08475%, rgba(100, 100, 225, 0.25) 5.08475%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(0, 0, 0, 0) 8.47458%, rgba(0, 0, 0, 0) 10.16949%, rgba(100, 100, 225, 0.25) 10.16949%, rgba(100, 100, 225, 0.25) 13.55932%, rgba(0, 0, 0, 0) 13.55932%, rgba(0, 0, 0, 0) 15.25424%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(100, 100, 225, 0.25) 18.64407%, rgba(0, 0, 0, 0) 18.64407%, rgba(0, 0, 0, 0) 20.33898%, rgba(100, 100, 225, 0.25) 20.33898%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 28.81356%, rgba(0, 0, 0, 0) 28.81356%, rgba(0, 0, 0, 0) 30.50847%, rgba(100, 100, 225, 0.25) 30.50847%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(0, 0, 0, 0) 33.89831%, rgba(0, 0, 0, 0) 35.59322%, rgba(100, 100, 225, 0.25) 35.59322%, rgba(100, 100, 225, 0.25) 38.98305%, rgba(0, 0, 0, 0) 38.98305%, rgba(0, 0, 0, 0) 40.67797%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(100, 100, 225, 0.25) 44.0678%, rgba(0, 0, 0, 0) 44.0678%, rgba(0, 0, 0, 0) 45.76271%, rgba(100, 100, 225, 0.25) 45.76271%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 54.23729%, rgba(0, 0, 0, 0) 54.23729%, rgba(0, 0, 0, 0) 55.9322%, rgba(100, 100, 225, 0.25) 55.9322%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(0, 0, 0, 0) 59.32203%, rgba(0, 0, 0, 0) 61.01695%, rgba(100, 100, 225, 0.25) 61.01695%, rgba(100, 100, 225, 0.25) 64.40678%, rgba(0, 0, 0, 0) 64.40678%, rgba(0, 0, 0, 0) 66.10169%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(100, 100, 225, 0.25) 69.49153%, rgba(0, 0, 0, 0) 69.49153%, rgba(0, 0, 0, 0) 71.18644%, rgba(100, 100, 225, 0.25) 71.18644%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 79.66102%, rgba(0, 0, 0, 0) 79.66102%, rgba(0, 0, 0, 0) 81.35593%, rgba(100, 100, 225, 0.25) 81.35593%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(0, 0, 0, 0) 84.74576%, rgba(0, 0, 0, 0) 86.44068%, rgba(100, 100, 225, 0.25) 86.44068%, rgba(100, 100, 225, 0.25) 89.83051%, rgba(0, 0, 0, 0) 89.83051%, rgba(0, 0, 0, 0) 91.52542%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(100, 100, 225, 0.25) 94.91525%, rgba(0, 0, 0, 0) 94.91525%, rgba(0, 0, 0, 0) 96.61017%, rgba(100, 100, 225, 0.25) 96.61017%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.38983%, rgba(0, 0, 0, 0) 3.38983%, rgba(0, 0, 0, 0) 5.08475%, rgba(100, 100, 225, 0.25) 5.08475%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(0, 0, 0, 0) 8.47458%, rgba(0, 0, 0, 0) 10.16949%, rgba(100, 100, 225, 0.25) 10.16949%, rgba(100, 100, 225, 0.25) 13.55932%, rgba(0, 0, 0, 0) 13.55932%, rgba(0, 0, 0, 0) 15.25424%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(100, 100, 225, 0.25) 18.64407%, rgba(0, 0, 0, 0) 18.64407%, rgba(0, 0, 0, 0) 20.33898%, rgba(100, 100, 225, 0.25) 20.33898%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 28.81356%, rgba(0, 0, 0, 0) 28.81356%, rgba(0, 0, 0, 0) 30.50847%, rgba(100, 100, 225, 0.25) 30.50847%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(0, 0, 0, 0) 33.89831%, rgba(0, 0, 0, 0) 35.59322%, rgba(100, 100, 225, 0.25) 35.59322%, rgba(100, 100, 225, 0.25) 38.98305%, rgba(0, 0, 0, 0) 38.98305%, rgba(0, 0, 0, 0) 40.67797%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(100, 100, 225, 0.25) 44.0678%, rgba(0, 0, 0, 0) 44.0678%, rgba(0, 0, 0, 0) 45.76271%, rgba(100, 100, 225, 0.25) 45.76271%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 54.23729%, rgba(0, 0, 0, 0) 54.23729%, rgba(0, 0, 0, 0) 55.9322%, rgba(100, 100, 225, 0.25) 55.9322%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(0, 0, 0, 0) 59.32203%, rgba(0, 0, 0, 0) 61.01695%, rgba(100, 100, 225, 0.25) 61.01695%, rgba(100, 100, 225, 0.25) 64.40678%, rgba(0, 0, 0, 0) 64.40678%, rgba(0, 0, 0, 0) 66.10169%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(100, 100, 225, 0.25) 69.49153%, rgba(0, 0, 0, 0) 69.49153%, rgba(0, 0, 0, 0) 71.18644%, rgba(100, 100, 225, 0.25) 71.18644%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 79.66102%, rgba(0, 0, 0, 0) 79.66102%, rgba(0, 0, 0, 0) 81.35593%, rgba(100, 100, 225, 0.25) 81.35593%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(0, 0, 0, 0) 84.74576%, rgba(0, 0, 0, 0) 86.44068%, rgba(100, 100, 225, 0.25) 86.44068%, rgba(100, 100, 225, 0.25) 89.83051%, rgba(0, 0, 0, 0) 89.83051%, rgba(0, 0, 0, 0) 91.52542%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(100, 100, 225, 0.25) 94.91525%, rgba(0, 0, 0, 0) 94.91525%, rgba(0, 0, 0, 0) 96.61017%, rgba(100, 100, 225, 0.25) 96.61017%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.38983%, rgba(0, 0, 0, 0) 3.38983%, rgba(0, 0, 0, 0) 5.08475%, rgba(100, 100, 225, 0.25) 5.08475%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(0, 0, 0, 0) 8.47458%, rgba(0, 0, 0, 0) 10.16949%, rgba(100, 100, 225, 0.25) 10.16949%, rgba(100, 100, 225, 0.25) 13.55932%, rgba(0, 0, 0, 0) 13.55932%, rgba(0, 0, 0, 0) 15.25424%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(100, 100, 225, 0.25) 18.64407%, rgba(0, 0, 0, 0) 18.64407%, rgba(0, 0, 0, 0) 20.33898%, rgba(100, 100, 225, 0.25) 20.33898%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 28.81356%, rgba(0, 0, 0, 0) 28.81356%, rgba(0, 0, 0, 0) 30.50847%, rgba(100, 100, 225, 0.25) 30.50847%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(0, 0, 0, 0) 33.89831%, rgba(0, 0, 0, 0) 35.59322%, rgba(100, 100, 225, 0.25) 35.59322%, rgba(100, 100, 225, 0.25) 38.98305%, rgba(0, 0, 0, 0) 38.98305%, rgba(0, 0, 0, 0) 40.67797%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(100, 100, 225, 0.25) 44.0678%, rgba(0, 0, 0, 0) 44.0678%, rgba(0, 0, 0, 0) 45.76271%, rgba(100, 100, 225, 0.25) 45.76271%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 54.23729%, rgba(0, 0, 0, 0) 54.23729%, rgba(0, 0, 0, 0) 55.9322%, rgba(100, 100, 225, 0.25) 55.9322%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(0, 0, 0, 0) 59.32203%, rgba(0, 0, 0, 0) 61.01695%, rgba(100, 100, 225, 0.25) 61.01695%, rgba(100, 100, 225, 0.25) 64.40678%, rgba(0, 0, 0, 0) 64.40678%, rgba(0, 0, 0, 0) 66.10169%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(100, 100, 225, 0.25) 69.49153%, rgba(0, 0, 0, 0) 69.49153%, rgba(0, 0, 0, 0) 71.18644%, rgba(100, 100, 225, 0.25) 71.18644%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 79.66102%, rgba(0, 0, 0, 0) 79.66102%, rgba(0, 0, 0, 0) 81.35593%, rgba(100, 100, 225, 0.25) 81.35593%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(0, 0, 0, 0) 84.74576%, rgba(0, 0, 0, 0) 86.44068%, rgba(100, 100, 225, 0.25) 86.44068%, rgba(100, 100, 225, 0.25) 89.83051%, rgba(0, 0, 0, 0) 89.83051%, rgba(0, 0, 0, 0) 91.52542%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(100, 100, 225, 0.25) 94.91525%, rgba(0, 0, 0, 0) 94.91525%, rgba(0, 0, 0, 0) 96.61017%, rgba(100, 100, 225, 0.25) 96.61017%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.38983%, rgba(0, 0, 0, 0) 3.38983%, rgba(0, 0, 0, 0) 5.08475%, rgba(100, 100, 225, 0.25) 5.08475%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(0, 0, 0, 0) 8.47458%, rgba(0, 0, 0, 0) 10.16949%, rgba(100, 100, 225, 0.25) 10.16949%, rgba(100, 100, 225, 0.25) 13.55932%, rgba(0, 0, 0, 0) 13.55932%, rgba(0, 0, 0, 0) 15.25424%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(100, 100, 225, 0.25) 18.64407%, rgba(0, 0, 0, 0) 18.64407%, rgba(0, 0, 0, 0) 20.33898%, rgba(100, 100, 225, 0.25) 20.33898%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 28.81356%, rgba(0, 0, 0, 0) 28.81356%, rgba(0, 0, 0, 0) 30.50847%, rgba(100, 100, 225, 0.25) 30.50847%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(0, 0, 0, 0) 33.89831%, rgba(0, 0, 0, 0) 35.59322%, rgba(100, 100, 225, 0.25) 35.59322%, rgba(100, 100, 225, 0.25) 38.98305%, rgba(0, 0, 0, 0) 38.98305%, rgba(0, 0, 0, 0) 40.67797%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(100, 100, 225, 0.25) 44.0678%, rgba(0, 0, 0, 0) 44.0678%, rgba(0, 0, 0, 0) 45.76271%, rgba(100, 100, 225, 0.25) 45.76271%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 54.23729%, rgba(0, 0, 0, 0) 54.23729%, rgba(0, 0, 0, 0) 55.9322%, rgba(100, 100, 225, 0.25) 55.9322%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(0, 0, 0, 0) 59.32203%, rgba(0, 0, 0, 0) 61.01695%, rgba(100, 100, 225, 0.25) 61.01695%, rgba(100, 100, 225, 0.25) 64.40678%, rgba(0, 0, 0, 0) 64.40678%, rgba(0, 0, 0, 0) 66.10169%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(100, 100, 225, 0.25) 69.49153%, rgba(0, 0, 0, 0) 69.49153%, rgba(0, 0, 0, 0) 71.18644%, rgba(100, 100, 225, 0.25) 71.18644%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 79.66102%, rgba(0, 0, 0, 0) 79.66102%, rgba(0, 0, 0, 0) 81.35593%, rgba(100, 100, 225, 0.25) 81.35593%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(0, 0, 0, 0) 84.74576%, rgba(0, 0, 0, 0) 86.44068%, rgba(100, 100, 225, 0.25) 86.44068%, rgba(100, 100, 225, 0.25) 89.83051%, rgba(0, 0, 0, 0) 89.83051%, rgba(0, 0, 0, 0) 91.52542%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(100, 100, 225, 0.25) 94.91525%, rgba(0, 0, 0, 0) 94.91525%, rgba(0, 0, 0, 0) 96.61017%, rgba(100, 100, 225, 0.25) 96.61017%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
