/* Yes, we all hate IE6. */
/* Fix the admin page in ie6. */
/* line 6, ../scss/ie6.scss */
div.admin .left,
div.admin .right {
  width: 46%;
}

/* Tabs CSS - IE 5 and 6 don't support PNGs with alpha transparency. */
/* line 13, ../scss/ie6.scss */
ul.primary,
ul.secondary {
  width: 100%;
  width: auto;
}
/* line 17, ../scss/ie6.scss */
ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab {
  display: inline;
  display: inline-block;
}

/* line 25, ../scss/ie6.scss */
ul.primary li a {
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left -38px;
}
/* line 27, ../scss/ie6.scss */
ul.primary li a .tab {
  background: url(../images/tabs/tab-right-ie6.png) no-repeat right -38px;
}
/* line 29, ../scss/ie6.scss */
ul.primary li a:hover {
  cursor: pointer;
  color: #555555;
  text-decoration: none;
  background-position: left -76px;
}
/* line 34, ../scss/ie6.scss */
ul.primary li a:hover .tab {
  background-position: right -76px;
}
/* line 40, ../scss/ie6.scss */
ul.primary li.active a, ul.primary li.active a:hover {
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left 0;
}
/* line 42, ../scss/ie6.scss */
ul.primary li.active a .tab, ul.primary li.active a:hover .tab {
  background: url(../images/tabs/tab-right-ie6.png) no-repeat right 0;
}

/* line 53, ../scss/ie6.scss */
ul.secondary li a:hover {
  cursor: pointer;
  color: #555555;
  text-decoration: none;
}

/* Drupal admin tables */
/* line 66, ../scss/ie6.scss */
#content tr.even th,
#content tr.even td,
#content tr.odd th,
#content tr.odd td {
  border-bottom: 1px solid #cccccc;
}
