/* Font styles. */
/* line 4, ../scss/style.scss */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
  color: #444444;
}

/* Links */
/* line 15, ../scss/style.scss */
a:link, a:visited {
  color: blue;
  text-decoration: none;
}

/* line 22, ../scss/style.scss */
a:hover, a:active {
  color: red;
  text-decoration: underline;
}

/* Titles. */
/* line 29, ../scss/style.scss */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 37, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 41, ../scss/style.scss */
h1, .breadcrumb {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
  display: inline;
}

/* line 49, ../scss/style.scss */
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 55, ../scss/style.scss */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 60, ../scss/style.scss */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 65, ../scss/style.scss */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 71, ../scss/style.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 77, ../scss/style.scss */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
/* line 82, ../scss/style.scss */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 88, ../scss/style.scss */
table {
  width: 99%;
}

/* line 94, ../scss/style.scss */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 99, ../scss/style.scss */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 104, ../scss/style.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 109, ../scss/style.scss */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 118, ../scss/style.scss */
ul {
  list-style-type: disc;
}
/* line 120, ../scss/style.scss */
ul ul {
  list-style-type: circle;
}
/* line 122, ../scss/style.scss */
ul ul ul {
  list-style-type: square;
}
/* line 124, ../scss/style.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 131, ../scss/style.scss */
ol {
  list-style-type: decimal;
}
/* line 133, ../scss/style.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 135, ../scss/style.scss */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 142, ../scss/style.scss */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
/* line 149, ../scss/style.scss */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 154, ../scss/style.scss */
#system-themes-form img {
  width: 100px;
}

/* line 158, ../scss/style.scss */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 166, ../scss/style.scss */
#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
/* line 171, ../scss/style.scss */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 179, ../scss/style.scss */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 185, ../scss/style.scss */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 191, ../scss/style.scss */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* Region Colors. delete when starting a new theme. */
/* line 198, ../scss/style.scss */
#header, #footer {
  background: #efefef;
}

/* line 202, ../scss/style.scss */
#sidebar-first {
  background: #e7edff;
}

/* line 206, ../scss/style.scss */
#sidebar-second {
  background: #ffd075;
}
