/* Tabs CSS
 * --------
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal5-reference.css, line 510.) */
/* line 8, ../scss/tabs.scss */
div.tabs {
  margin: 0 0 5px 0;
}

/* line 11, ../scss/tabs.scss */
ul.primary, ul.secondary {
  width: 99%;
}

/* line 14, ../scss/tabs.scss */
ul.primary {
  margin: 0;
  padding: 0 0 0 10px;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(../images/tabs/tab-bar.png) repeat-x left bottom;
}
/* line 22, ../scss/tabs.scss */
ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 27, ../scss/tabs.scss */
ul.primary li.active a, ul.primary li.active a:hover {
  border-width: 0;
  color: black;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left 0;
}
/* line 32, ../scss/tabs.scss */
ul.primary li.active a .tab, ul.primary li.active a:hover .tab {
  background: url(../images/tabs/tab-right.png) no-repeat right 0;
}
/* line 34, ../scss/tabs.scss */
ul.primary li a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px;
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777777;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left -38px;
}
/* line 45, ../scss/tabs.scss */
ul.primary li a:hover {
  border-width: 0;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left -76px;
}
/* line 49, ../scss/tabs.scss */
ul.primary li a:hover .tab {
  background: url(../images/tabs/tab-right.png) no-repeat right -76px;
}
/* line 51, ../scss/tabs.scss */
ul.primary li a .tab {
  display: block;
  height: 20px;
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(../images/tabs/tab-right.png) no-repeat right -38px;
}

/* line 60, ../scss/tabs.scss */
ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid silver;
  list-style: none;
  white-space: nowrap;
  background: url(../images/tabs/tab-secondary-bg.png) repeat-x left bottom;
}
/* line 67, ../scss/tabs.scss */
ul.secondary li {
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none;
}
/* line 72, ../scss/tabs.scss */
ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid silver;
  text-decoration: none;
  color: #777777;
  background: url(../images/tabs/tab-secondary.png) repeat-x left -56px;
}
/* line 81, ../scss/tabs.scss */
ul.secondary a .active, ul.secondary a .active:hover {
  border: 1px solid silver;
  color: black;
  background: url(../images/tabs/tab-secondary.png) repeat-x left top;
}
/* line 85, ../scss/tabs.scss */
ul.secondary a:hover {
  background: url(../images/tabs/tab-secondary.png) repeat-x left bottom;
}
/* line 87, ../scss/tabs.scss */
ul.secondary a .tab {
  display: block;
  height: 18px;
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}
