/*  Not Logged-in Front Page */

.panel-panel{
  @include span-columns(6,18);
  &:nth-child(3n) { @include omega; }

}
  
#block-boxes-nurani_welcome, #block-boxes-nurani_about_nurani, .panel-pane{
  @include white-background-no-border;
  padding:30px;
  text-align:justify;
  /*fo
  nt-size: 1em;*/
}

#boxes-box-nurani_welcome{
	.d_ford{
		width:80px;
		float:left;
		margin: 0 1.5em;
		border: 5px solid whiteSmoke;
	}
}


	