.panel-display{

    h2.block-title, h2.pane-title{ 
      text-align: left;
      margin-bottom:1em;
    }

    h3 a{
      @include bundle-typography;
      color:$nurani-text-gray;
      text-decoration:none;
    }
    
   /*Your discussion block*/
   .panel-col-first{
     @include span-columns(10,18);
     .view-nurani-discussions{
        @include white-background-bordered-top($nurani-burgundy, top, 5px);	
        
	   }
   }

.views-row {
 /* padding:0 25px 0;*/
  .views-field-title, .views-field-field-discussion-closing-date, .views-field-field-bundle{ 
   /* width:50%;*/
    
  }
}


  /*profile block*/
  .panel-col-last{ 
    @include span-columns(7 omega,18);
    div.profile{
      @include white-background-bordered-top($nurani-light-blue, top, 5px);	
	  }
  }

}

